{snippet topPanel}
<header class="navbar-fixed main-nav">
    <nav>
        <div class="nav-wrapper">
            <div class="left-nav-flex">
                {if $backArrow}
                    <a href="{$backArrow}" id="slide-left-button" class="show-on-large">
                        <i class="material-icons">arrow_back</i>
                    </a>
                {else}
                    <a href="#" id="slide-left-button" data-target="slide-out" class="button-collapse show-on-large sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                {/if}
                <span class="nav-title truncate">{$title}</span>
            </div>
            {if !empty($topMenu)}
                <ul class="content-nav">
                    {foreach $topMenu as $item}
                        <li {if $item->active}class="active"{/if}><a class="waves-effect waves-light" href="{$item->link}">{$item->name}</a></li>
                    {/foreach}
                </ul>
            {/if}
            <div class="right-nav-flex">
                <ul class="navbar-nav">
                    <li>
                        <a id="button-notification-slide" class="button-collapse show-on-large sidenav-trigger" href="{link notificationsRead!}" data-target="slide-out-notification" >
                            <i class="material-icons ">notifications</i>
                            {snippet notificationCount}{if $activeUser->unreadNotifications > 0}<span class="nav-badge">{$activeUser->unreadNotifications}</span>{/if}{/snippet}
                        </a>
                    </li>
                    

                    {* DOČASNÉ SKRYTÍ CHATU

                    <li>
                        <a id="button-conversation-slide" class="button-collapse show-on-large sidenav-trigger" href="{link privateMessagesRead!}" data-target="slide-out-conversation" >
                            <i class="material-icons ">chat_bubble</i>
                            {snippet unreadPrivateMessages}{if $activeUser->unreadPrivateMessages > 0}<span class="nav-badge">{$activeUser->unreadPrivateMessages}</span>{/if}{/snippet}
                        </a>
                    </li>

                    *}


                    <li><a href="{plink Homepage:search}" class="waves-effect waves-dark"><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </div>
        <div class="progress loading-data" id="main-progress-loader"><div class="indeterminate"></div></div>
    </nav>     
    {include mainMenu}
    {include conversationColumn}
    {include notificationColumn}
</header>
<script>
    $(document).ready(function () {
        $('.side-nav-close').on('click', function () {
            $('.sidenav').sidenav('close');
        });
        $('.sidenav.slide-out-right').sidenav({
            menuWidth: 300, // Default is 240
            edge: 'right'
        });
        $('.sidenav.slide-out-left').sidenav({
            menuWidth: 300, // Default is 240
            edge: 'left'
        });
        $("#button-notification-slide, #button-conversation-slide").on('click', function(e) {
            $.nette.ajax({
                url: $(this).attr('href')
            });
        });
         
    });
</script>
{/snippet}
{block notificationColumn}
<ul id="slide-out-notification" class="sidenav slide-out-right">
    <li class="side-nav-close">
        <i class="material-icons">keyboard_arrow_left</i>Zavřít panel    
    </li>
    <li class="side-nav-header">
        <div class="header-wrapper">
            <a href="#" class="title">Oznámení</a>
            <div class="flex-spacer"></div>
            <a class="btn-flat btn-icon waves-effect waves-dark tooltipped ajax" href="{link notificationsRead! 'global' => true}" data-position="bottom" data-delay="50" data-tooltip="Označit vše jako přečtené">
                <i class="material-icons">clear_all</i>
            </a>
        </div>
    </li>    
    {snippet right-notification-list}
        <h4>Nové</h4>
        {if !empty($notifications->new)}
        {foreach $notifications->new as $notification}
        <li class="sidenav-card">
            <a href="{link readNotification!, 'id'=>$notification->id}">
                <div class="avatar"> 
                    <img src="{$notification->triggerUser->profileImage}" alt=""> 
                </div>
                <div class="label">
                    <div class="title truncate">{$notification->title}</div>
                    <p class="truncate">{$notification->text}</p>
                    {*
                        DOČASNĚ SKRYTO - MYSLÍM, ŽE TAM VŮBEC ČAS BÝT NEMUSÍ
                        span class="date">{$notification->created->format("j. n. H:i")}</span>
                    *}
                </div>
                <div class="avatar mark-as-read" data-link="{link notificationsRead! 'global' => false, 'idNotification' => $notification->id}" ><i class="material-icons">check_circle</i></div>
            </a>
        </li>
        {/foreach}
        {else}
        <li class="sidenav-card-empty">
            <div class="avatar tiny">
                <i class="material-icons">notifications_none</i>
            </div>
            <div class="label">Nemáte žádná nová oznámení</div>
        </li>
        {/if}
        <li class="sidenav-spacer"></li>
        <h4>Přečtené</h4>
        {foreach $notifications->old as $notification} 
        <li><a href="{link readNotification!, 'id'=>$notification->id}" class="clearfix {if empty($notification->isRead)}active{/if}"> 
            <div class="avatar"> 
                <img src="{$notification->triggerUser->profileImage}" alt=""> 
            </div>
            <div class="label">
                <div class="title truncate"> 
                    {$notification->text}
                </div>
                <p class="truncate">{$notification->type} | {$notification->triggerUser->name, $notification->triggerUser->surname}</p> 
            </div>
            <div class="mark-as-read">
                <div class="icon"></div>
            </div> 
        </a></li> 
        {/foreach} 
        <script>
            $(".mark-as-read").on('click', function(e) {
                e.preventDefault();
                 $.nette.ajax({
                    url: $(this).data('link')
                });
            });
        </script>
    {/snippet}
</ul>
{/block}


{block conversationColumn}
<ul id="slide-out-conversation" class="sidenav slide-out-right">
    <li class="side-nav-close">
        <i class="material-icons">keyboard_arrow_left</i>Zavřít panel    
    </li>
    <li class="side-nav-header">
        <a href="{plink Profile:messages}" class="title">Konverzace</a>
        <div class="flex-spacer"></div>
        <a class="btn-flat btn-icon waves-effect waves-dark tooltipped ajax" href="{link privateMessagesRead! 'global' => false}" data-position="bottom" data-delay="50" data-tooltip="Označit vše jako přečtené">
            <i class="material-icons">done_all</i>
        </a>
    </li>
    
    {snippet right-conversation-list}
    {* DOČASNĚ SKRYTO
    <li>
        <div class="search-field">
            <i class="material-icons">search</i>
            <div class="input-wrapper">
                <input type="text" placeholder="Hledat" class="no-border">
            </div>
        </div>
    </li>
     <li class="divider no-margin"></li>
    *}

   
    <li>
        <a href="#new-message" class="modal-trigger">
            <i class="material-icons">create</i>Nová zpráva
        </a>
    </li>
    {foreach $privateMessages as $message}
        <li>
            <a href="{plink :Front:Conversation:default, 'id'=>$message->id}" class="chat-person {if empty($message->read)}unread-mark{/if}">
                <div class="avatar">
                    <img src="{$message->user->profileImage|noescape}" alt="">
                </div>
                <div class="label">
                    <div class="title truncate">{$message->user->name} {$message->user->surname}</div>
                    <p class="truncate">{$message->text}</p>
                </div>
            </a>
        </li>
    {/foreach}
    {/snippet}
</ul>
{/block}

{block mainMenu}
<ul id="slide-out" class="sidenav sidenav-left slide-out-left">
    <li class="side-nav-close">
        <i class="material-icons">keyboard_arrow_left</i>Zavřít panel    
    </li>
    <li class="side-nav-header">
        <a href="{plink Profile:default id=>$activeUser->slug}" class="profile">
            <div class="avatar small"><img src="{$activeUser->profileImage}"></div>
            <div class="title">
                <div class="truncate">{$activeUser->name} {$activeUser->surname}</div>
            </div>
        </a>
    </li>
    <li><a n:class="$presenter->isLinkCurrent('Homepage:noticeboard') ? active, waves-effect, waves-dark" href="{plink Homepage:noticeboard}" >
            <i class="material-icons">dashboard</i>Nástěnka
        </a>
    </li>


    {* DOČASNÉ SKRYTÍ CHATU

    <li>
        <a n:class="$presenter->isLinkCurrent('Conversation:list') ? active, waves-effect, waves-dark" href="{plink Conversation:list}" >
            <i class="material-icons">chat_bubble</i>Konverzace
        </a>
    </li>

    *}
    

    <li>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header waves-effect waves-dark">
                    <i class="material-icons">people</i>Skupiny
                    <div class="flex-spacer"></div>
                    <i class="material-icons show-more">expand_more</i>
                </div>
                <div class="collapsible-body">
                    <ul>
                        {foreach $groups->groups as $group}
                            <li>
                                <a n:class="$presenter->isLinkCurrent('Group:default', array('id'=>$group->slug)) ? active" href="{plink Group:default 'id'=>$group->slug}">
                                    <div class="group-shortcut-circle {$group->colorScheme}" >{$group->shortcut|substr:0,1}
                                        {if $groups->differentRelations && $group->relation === 'owner'}<div class="admin-mark {$group->colorScheme}" ></div>{/if}
                                    </div>
                                    <div class="group-name truncate">{$group->name} {if $group->subgroup}<span>({$group->subgroup})</span>{/if}</div>
                                </a>
                            </li>
                            {/foreach}
                        <li>
                            <a href="#create-group" class="waves-effect waves-dark modal-trigger">
                                <i class="material-icons">create</i>Vytvořit skupinu
                            </a>
                        </li>
                        <li>
                            <a href="#join-group" class="waves-effect waves-dark modal-trigger">
                                <i class="material-icons">exposure_plus_1</i>Zapsat se do skupiny
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a n:class="$presenter->isLinkCurrent('Task:default') ? active, waves-effect, waves-dark" href="{plink Task:default}" >
            <i class="material-icons">library_books</i>Připomenutí
        </a></li>
    {*<li>
        <a n:class="$presenter->isLinkCurrent('Homepage:timetable') ? active, waves-effect, waves-dark" href="{plink Homepage:timetable}" >
            <i class="material-icons">event</i>Rozvrh
        </a>
    </li>*}
    <li><a n:class="$presenter->isLinkCurrent('Task:default') ? active, waves-effect, waves-dark" href="{plink Task:default}" >
            <i class="material-icons">check_box</i>Testy
        </a></li>
    <li>
        <a n:class="$presenter->isLinkCurrent('Homepage:classification') ? active, waves-effect, waves-dark" href="{plink :Front:Homepage:classification}" >
            <i class="material-icons">assessment</i>Klasifikace
        </a>
    </li>
    {* <li>
        <a n:class="$presenter->isLinkCurrent('Homepage:storage') ? active, waves-effect, waves-dark" href="{plink :Front:Homepage:storage}" >
            <i class="material-icons">storage</i>Uložiště
        </a>
    </li> *}
    <li><a n:class="$presenter->isLinkCurrent('Task:default') ? active, waves-effect, waves-dark" href="{plink Task:default}" >
            <i class="material-icons">folder</i>Archiv
        </a></li>
    <li class="divider"></li>
    <h4 style="margin-bottom: 8px">Správa účtu</h4>
    <li><a href="{plink Account:default}" n:class="$presenter->isLinkCurrent('Account:*') ? active, waves-effect, waves-dark">
            <i class="material-icons">settings</i>Nastavení
        </a></li>
    <li><a href="{plink logout!}" class="waves-effect waves-dark">
            <i class="material-icons">power_settings_new</i>Odhlásit se
    </a></li>
    
    <li class="empty"></li>
    <li class="side-nav-footer">
        <p><a href="{plink :Public:Homepage:default}">Více informací o sociální síti Lato</a></p>
        <div id="logo"></div>
    </li>
</ul>
{/block}

{control newGroupForm}
{control joinGroupForm}