{snippet topPanel}
<header class="navbar-fixed main-nav">
    <nav>
        <div class="nav-wrapper">
            <div class="left-nav-flex">
                {if $backArrow}
                    <a href="{$backArrow}" id="slide-left-button" class="show-on-large">
                        <i class="material-icons">arrow_back</i>
                    </a>
                {else}
                    <a href="#" id="slide-left-button" data-target="slide-out" class="button-collapse show-on-large sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                {/if}
                <span class="nav-title truncate">{$title}</span>
            </div>
            {if !empty($topMenu)}
                <ul class="content-nav">
                    {foreach $topMenu as $item}
                        <li {if $item->active}class="active"{/if}><a class="waves-effect waves-light" href="{$item->link}">{$item->name}</a></li>
                    {/foreach}
                </ul>
            {/if}
            <div class="right-nav-flex">
                <ul class="navbar-nav">
                    <li>
                        <a id="button-notification-slide" class="button-collapse show-on-large sidenav-trigger" href="{link notificationsRead! 'global' => true}" data-target="slide-out-notification" >
                            <i class="material-icons ">notifications</i>
                            {snippet notificationCount}{if $activeUser->unreadNotifications > 0}<span class="nav-badge">{$activeUser->unreadNotifications}</span>{/if}{/snippet}
                        </a>
                    </li>
                    <li>
                        <a id="button-conversation-slide" class="button-collapse show-on-large sidenav-trigger" href="{link privateMessagesRead!}" data-target="slide-out-conversation" >
                            <i class="material-icons ">chat_bubble</i>
                            {snippet unreadPrivateMessages}{if $activeUser->unreadPrivateMessages > 0}<span class="nav-badge">{$activeUser->unreadPrivateMessages}</span>{/if}{/snippet}
                        </a>
                    </li>
                    <li><a href="{plink Homepage:search}" class="waves-effect waves-dark"><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </div>
        <div class="progress loading-data" id="main-progress-loader"><div class="indeterminate"></div></div>
    </nav>     
    {include 'menu.latte'}       
    {snippetArea left-pannels}
        {include 'conversations.latte'} 
        {include 'notifications.latte'}
    {/snippetArea}
</header>
<script>
    $(document).ready(function () {
        $('.side-nav-close').on('click', function () {
            $('.sidenav').sidenav('close');
        });
        $('.sidenav.slide-out-right').sidenav({
            menuWidth: 300, // Default is 240
            edge: 'right'
        });
        $('.sidenav.slide-out-left').sidenav({
            menuWidth: 300, // Default is 240
            edge: 'left'
        });
        $("#button-notification-slide, #button-conversation-slide").on('click', function(e) {
            $.nette.ajax({
                url: $(this).attr('href')
            });
        });
         
    });
</script>
{/snippet}
{control newGroupForm}
{control joinGroupForm}