<header class="navbar-fixed main-nav">
    <nav>
        <div class="nav-wrapper">
            {include mainMenu}
            {include conversationColumn}
            {include notificationColumn}
            <div class="left-nav-flex">
                {if $backArrow}
                    <a href="{$backArrow}" id="slide-left-button" class="show-on-large">
                        <i class="material-icons">arrow_back</i>
                    </a>
                {else}
                    <a href="#" id="slide-left-button" data-activates="slide-out" class="button-collapse show-on-large slide-out-toggle">
                        <i class="material-icons">menu</i>
                    </a>
                {/if}
                <span class="nav-title truncate">{$title}</span>
            </div>
            {if !empty($topMenu)}
                <ul class="content-nav">
                    {foreach $topMenu as $item}
                        <li {if $item->active}class="active"{/if}><a class="waves-effect waves-light" href="{$item->link}">{$item->name}</a></li>
                    {/foreach}
                </ul>
            {/if}
            <div class="right-nav-flex">
                <ul class="right navbar-nav">
                    <li>
                        <a class="button-collapse show-on-large slide-out-toggle" href="#" id="button-notification-slide" data-edge="right" data-activates="slide-out-notification" >
                            <i class="material-icons ">notifications</i>
                            {snippet notificationCount}{if $unreadNotifications > 0}<span class="nav-badge">{$unreadNotifications}</span>{/if}{/snippet}
                        </a>
                    </li>
                    <li>
                        <a class="button-collapse show-on-large slide-out-toggle" id="button-conversation-slide" href="#" data-edge="right" data-activates="slide-out-conversation" >
                            <i class="material-icons ">chat_bubble</i>
                            {snippet messagesCount}{if $unreadPrivMessages > 0}<span class="nav-badge">{$unreadPrivMessages}</span>{/if}{/snippet}
                        </a>
                    </li>
                    <li><a href="{plink Homepage:search}" class="waves-effect waves-dark"><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </div>
        <div class="progress loading-data" id="main-progress-loader"><div class="indeterminate"></div></div>
    </nav>
</header>
<script>
    $(document).ready(function () {
        $('.side-nav-close').on('click', function () {
            $('.button-collapse').sideNav('hide');
        });

        $('#button-notification-slide, #button-conversation-slide').sideNav({
            edge: 'right'
        });
        $('.dropdown-button').on('click', function () {
            $('.dropdown-button').not($(this)).dropdown('close');
        });
    });
</script>

{block notificationColumn}
{snippet right-notification-list}
<ul id="slide-out-notification" class="side-nav slide-out-right">
    <li class="side-nav-close">
        <i class="material-icons">keyboard_arrow_left</i>Zavřít panel    
    </li>
    <li class="side-nav-header">
        <a href="#" class="title">Oznámení</a>
        <div class="flex-spacer"></div>
        <a class="btn-flat btn-icon waves-effect waves-dark tooltipped" data-position="bottom" data-delay="50" data-tooltip="Označit vše jako přečtené">
            <i class="material-icons">done_all</i>
        </a>
    </li>
    {foreach $notifications as $notification} 
    <li><a href="{if $notification->idMessage}{plink Group:message 'id'=>$notification->idGroup, 'idMessage'=>$notification->idMessage}{elseif $notification->idGroup}{plink Group:default 'id'=>$notification->idGroup}{else}{plink Profile:default 'id'=>$notification->participant->urlId}{/if}" class="clearfix"> 
        <div class="avatar"> 
            <img src="{$notification->participant->profileImage}" alt="{$notification->participant->name}"> 
        </div> 
        <div class="label">
            <div class="title truncate"> 
                {if $notification->participant->slug} 
                {if $notification->participant->name} 
                {$notification->participant->name} {$notification->participant->surname} 
                {else} 
                {$notification->participant->username}
                {/if} 
                {else} 
                {$notification->title} 
                {/if} 
            </div>
            <p class="truncate">{$notification->text}</p> 
        </div> 
    </a></li> 
    {/foreach} 
</ul>
{/snippet}
{/block}


{block conversationColumn}
{snippet right-conversation-list}
<ul id="slide-out-conversation" class="side-nav slide-out-right">
    <li class="side-nav-close">
        <i class="material-icons">keyboard_arrow_left</i>Zavřít panel    
    </li>
    <li class="side-nav-header">
        <a href="{plink Profile:messages}" class="title">Konverzace</a>
        <div class="flex-spacer"></div>
        <a class="btn-flat btn-icon waves-effect waves-dark tooltipped" data-position="bottom" data-delay="50" data-tooltip="Označit vše jako přečtené">
            <i class="material-icons">done_all</i>
        </a>
    </li>

    {* DOČASNĚ SKRYTO
    <li>
        <div class="search-field">
            <i class="material-icons">search</i>
            <div class="input-wrapper">
                <input type="text" placeholder="Hledat" class="no-border">
            </div>
        </div>
    </li>
     <li class="divider no-margin"></li>
    *}

   
    <li>
        <a href="#new-message" class="modal-trigger">
            <i class="material-icons">create</i>Nová zpráva
        </a>
    </li>
    {foreach $privateMessages as $message}
        <li>
            <a href="{plink :Front:Profile:conversation, 'user'=>$message->user->slug}" class="chat-person unread-mark">
                <div class="avatar">
                    <img src="{$message->user->profileImage|noescape}" alt="">
                </div>
                <div class="label">
                    <div class="title truncate">{$message->user->name} {$message->user->surname}</div>
                    <p class="truncate">Zpráva</p>
                </div>
            </a>
        </li>
    {/foreach}
</ul>
{/snippet}
{/block}

{block mainMenu}
<ul id="slide-out" class="side-nav">
    <li class="side-nav-close">
        <i class="material-icons">keyboard_arrow_left</i>Zavřít panel    
    </li>
    <li class="side-nav-header">
        <div class="avatar small"><img src="{$activeUser->profileImage}"></div>
        <div class="title">
            <div class="truncate">{$activeUser->name} {$activeUser->surname}</div>
        </div>
    </li>
    <li><a n:class="$presenter->isLinkCurrent('Homepage:noticeboard') ? active, waves-effect, waves-dark" href="{plink Homepage:noticeboard}" >
            <i class="material-icons">dashboard</i>Nástěnka
        </a>
    </li>
    <li>
        <a n:class="$presenter->isLinkCurrent('Profile:messages') ? active" href="{plink Profile:messages}" >
            <i class="material-icons">chat_bubble</i>Konverzace
        </a>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a n:class="($presenter->isLinkCurrent('Group:default') ? active), collapsible-header, waves-effect, waves-dark">
                    <i class="material-icons">people</i>Skupiny
                    <div class="flex-spacer"></div>
                    <i class="material-icons show-more">expand_more</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        {foreach $groups as $group}
                            <li>
                                <a n:class="$presenter->isLinkCurrent('Group:default', array('id'=>$group->slug)) ? active" href="{plink Group:default 'id'=>$group->slug}">
                                    <div class="group-shortcut-circle" style="background-color: {$group->mainColor|noescape}" >{$group->shortcut|substr:0,1}</div>{$group->name}
                                </a>
                            </li>
                            {/foreach}
                        <li>
                            <a href="#create-group" class="waves-effect waves-dark modal-trigger">
                                <i class="material-icons">create</i>Vytvořit skupinu
                            </a>
                        </li>
                        <li>
                            <a href="#join-group" class="waves-effect waves-dark modal-trigger">
                                <i class="material-icons">exposure_plus_1</i>Zapsat se do skupiny
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a n:class="$presenter->isLinkCurrent('Homepage:tasks') ? active, waves-effect, waves-dark" href="{plink Homepage:tasks}" >
            <i class="material-icons">library_books</i>Povinnosti
        </a></li>
    <li>
        <a n:class="$presenter->isLinkCurrent('Homepage:timetable') ? active, waves-effect, waves-dark" href="{plink Homepage:timetable}" >
            <i class="material-icons">insert_invitation</i>Rozvrh
        </a>
    </li>
    <li>
        <a n:class="$presenter->isLinkCurrent('Homepage:classification') ? active, waves-effect, waves-dark" href="{plink :Front:Homepage:classification}" >
            <i class="material-icons">star</i>Klasifikace
        </a>
    </li>
    <li class="divider"></li>
    <h4>Správa účtu</h4>
    <li><a href="{plink Account:default}" n:class="$presenter->isLinkCurrent('Account:*') ? active">
            <i class="material-icons">settings</i>Nastavení
        </a></li>
    <li><a href="{plink Homepage:logout}">
            <i class="material-icons">power_settings_new</i>Odhlásit se
        </a></li>
    <li class="divider"></li>
    <li class="side-nav-footer"><a href="">Více informací o sociální síti Lato</a></li>
    <li class="side-nav-footer">© 2018 <strong>Lato.cz</strong></li>
    <li class="empty"></li>
</ul>
{/block}

<div id="new-message" class="modal modal-small">
    <div class="modal-content">
        <h3>Přidat studenta</h3>
        <div class="form-row input-field">
            <input name="userName" type="text" {*id="userSearch"*} class="validate">
            <label for="userName">Jméno nebo e-mail studenta</label>
        </div>
        <ul class="custom-collection prompter">
            <li>
                <a href="" class="item">
                    <div class="avatar small">
                        <img src="/images/default-avatar_man.png">
                    </div>
                    <div class="label">
                        <span class="title truncate">Petr Šavelka</span>
                    </div>
                </a>
            </li>
            <li class="rest-of-all">36 dalších návrhů</li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="flex-spacer"></div>
        <div class="form-control">
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
            <button type="submit" class="waves-effect waves-light btn btn-confirm submit-message-form" >Potvrdit</button>
        </div>
    </div>
</div>



{control newGroupForm}
{control joinGroupForm}