<header class="navbar-fixed main-nav">
    <nav>
        <div class="nav-wrapper">
            <ul id="slide-out" class="side-nav">
                <li><a href="{plink Stream:groups}" class="waves-effect waves-light">Skupiny</a></li>
                <li><a href="{plink Stream:profile}" class="waves-effect waves-light">Profil</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large slide-out-toggle">
 	    <i class="material-icons">menu</i></a>
            <span class="nav-title">Matematika</span>

            <ul class="right">
                <li><a class="dropdown-button" href="#!" data-activates="notifications-window" data-beloworigin="true" data-alignment="right" data-constraintwidth="false"><i class="material-icons ">notifications</i><span class="nav-badge">4</span></a>
                    <ul id='notifications-window' class='dropdown-content main-nav-dropdown'>
                        <li class="dropdown-header">Oznámení</li>
                        <li class="divider divider-after"></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>

                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user2.png" alt="some chick">
                                </div>
                                <h4>
                                    Some ugly Guy
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li class="dropdown-footer"><a href="#!">Zobrazit vše</a></li>
                    </ul>
                </li>

                <li><a class="dropdown-button" href="#!" data-activates="message-window" data-beloworigin="true" data-alignment="right" data-constraintwidth="false"><i class="material-icons ">email</i><span class="nav-badge">+9</span></a>
                    <ul id='message-window' class='dropdown-content main-nav-dropdown'>
                        <li class="dropdown-header">Zprávy</li>
                        <li class="divider divider-after"></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>


                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li><a href="#!" class="clearfix">
                                <div class="user-img left">
                                    <img src="/images/user1.png" alt="some chick">
                                </div>
                                <h4>
                                    Some Chick
                                    <span class="truncate">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eusmot.</span>
                                </h4>
                            </a></li>
                        <li class="divider divider-before"></li>
                        <li class="dropdown-footer"><a href="#!">Zobrazit vše</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="material-icons">search</i></a></li>
            </ul>
        </div>
    </nav>
</header> 


