<section class="main" id="account-settings">
    {form form class=>'leave-warning'}
    <div class="container">
        <div class="row equal-cols">
            <div class="col m12 l4">
                <div class="card" id="account-images" {if $userAccount->backgroundImage}style="background-image: url('{$userAccount->backgroundImage}');"{/if}>
                    <div class="flex-spacer"></div>
                    <img id="user-profile-image" src="{$userAccount->profileImage}">
                    <div class="flex-spacer"></div>
                    <button id="profile-image-button" type="button" class="waves-effect waves-light btn">Změnit profilový obrázek</button>
                    <button id="background-image-button" type="button" class="waves-effect waves-light btn">Změnit pozadí</button>
                </div>
            </div>
            <div class="col m12 l8">
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Osobní údaje</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Uvedené osobní údaje se také zobrazí na Vašem veřejném profilu</p>
                        <div class="form-row input-field">
                            {input name}
                            {label name}Jméno{/label}
                        </div>
                        <div class="form-row input-field">
                            {input surname}
                            {label surname}Příjmení{/label}
                        </div>
                        <div class="form-row input-field">
                            {input email}
                            {label email}E-mailová adresa{/label}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="card flex-column" id="education">
                    <div class="card-header">
                        <h2>Studium</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Kde právě studujete?</p>
                        <div class="form-row input-field">
                            {input school}
                            {label school}Název školy{/label}
                        </div>
                        <div class="form-row input-field">
                            {input class}
                            {label class}Třída{/label}
                        </div>
                    </div>
                </div>
                {*<div class="card flex-column">
                    <div class="card-header">
                        <h2>Oznámení</h2>
                    </div>
                    <div class="card-content">
                        <div class="form-row">
                            <p class="secondary-par">Vybraná oznámení chci zasílat také e-mailem</p>
                            <div class="switch">
                                <label>
                                    {input emailNotification:}
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="checkbox-form-block">
                            {foreach $notifications as $notification}
                            <div class="form-row">
                                <div class="submit-control checkbox-vertical-align">
                                    {input notification_$notification->ID_TYPE: class => 'filled-in box'}
                                    {label notification_$notification->ID_TYPE:}{/label}
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>*}
            </div>

            <div class="col s12 l6">
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Učitel</h2>
                    </div>                    
                    {if $teacherGroups}
                    <div class="card-content">
                        <p class="secondary-par">Tyto skupiny využívám pro svoji výuku.</p>
                        <ul class="groups bottom-margin">
                            {foreach $teacherGroups as $group}
                            <li class="group-list" data-group-id="{$group->id}">
                                <div class="group-shortcut-circle {$group->colorScheme}"or >{$group->shortcut|substr:0,1}</div>
                                <div class="label">{$group->name} {if $group->subgroup}<span>({$group->subgroup})</span>{/if}</div>
                                <button type="button" class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="group{$group->id}-options" >
                                    <i class="material-icons">more_horiz</i>
                                </button>
                                <ul id='group{$group->id}-options' class="dropdown-content">
                                    <li><a href="#" class="group-button-action archive-group waves-effect waves-dark" data-name="{$group->name}">Archivovat skupinu</a></li>
                                    <li><a href="#" class="group-button-action delete-group waves-effect waves-dark" data-name="{$group->name}">Smazat skupinu</a></li>
                                </ul>
                            </li>
                            <li class="remove-group" style="display: none" data-group-id="{$group->id}">
                                <i class="material-icons">delete</i>
                                <div class="label">{$group->name}</div>
                                <a href="" class="btn-flat cancel-delete-btn">zrušit</a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                    {else}
                    <div class="card-content">
                        <p class="secondary-par"><em>Nejsem vyučující v žádné skupině.</em></p>
                    </div>
                    <div class="card-footer card-bottom"></div>
                    {/if} 
                </div>
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Student</h2>
                    </div>
                    {if $studentGroups}
                    <div class="card-content">
                        <p class="secondary-par">V těchto skupinách jsem zapsán jako student.</p>
                        <ul class="groups">
                            {foreach $studentGroups as $group}
                            <li class="group-list" data-group-id="{$group->id}">
                                <div class="group-shortcut-circle {$group->colorScheme}" >{$group->shortcut|substr:0,1}</div>
                                <div class="label">{$group->name} <span>(prog1)</span></div>
                                <button type="button" class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="group{$group->id}-options" >
                                    <i class="material-icons">more_horiz</i>
                                </button>
                                <ul id='group{$group->id}-options' class="dropdown-content">
                                    <li><a href="#" class="group-button-action leave-group waves-effect waves-dark" data-name="{$group->name}">Opustit skupinu</a></li>
                                </ul>
                            </li>
                            <li class="remove-group" style="display: none" data-group-id="{$group->id}">
                                <i class="material-icons">delete</i>
                                <div class="label">{$group->name}</div>
                                <a href="" class="btn-flat cancel-delete-btn">zrušit</a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                    {else}
                    <div class="card-content">
                        <p class="secondary-par icon-content"><i class="material-icons">person_outline</i><em>V žádné skupině nejsem zapsán jako student.</em></p>
                    </div>
                    <div class="card-footer card-bottom"></div>
                    {/if}
                </div>
            </div>
            <div id="group-archive-confirm-modal" class="modal modal-small">
                <div class="modal-content">
                    <h3></h3>
                    <p>Tímto znemožníte přístup studentům do skupiny i jakékoli její úpravy.</p>
                    <p>Opravdu si přejete archivovat tuto skupinu?</p>
                </div>
                <div class="modal-footer">
                    <div class="flex-spacer"></div>
                    <div class="form-control">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">zrušit</button>
                        <button type="button" onClick="confirmAction('group-archive-confirm-modal', 'archive')" class="waves-effect modal-close waves-light btn btn-confirm" >potvrdit</button>
                    </div>
                </div>
            </div>
            <div id="group-delete-confirm-modal" class="modal modal-small">
                <div class="modal-content">
                    <h3></h3>
                    <p>Všechny záznamy, příspěvky, přílohy a komentáře budou odstraněny. Všichni studenti ve skupině obdrží oznámení o provedené akci.</p>
                    <p>Opravdu si přejete smazat tuto skupinu?</p>
                </div>
                <div class="modal-footer">
                    <div class="flex-spacer"></div>
                    <div class="form-control">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">zrušit</button>
                        <button type="button" onClick="confirmAction('group-delete-confirm-modal', 'delete')" class="waves-effect modal-close waves-light btn btn-confirm" >potvrdit</button>
                    </div>
                </div>
            </div>
            <div id="group-leave-confirm-modal" class="modal modal-small">
                <div class="modal-content">
                    <h3></h3>
                    <p>Opravdu si přejete opustit tuto skupinu?</p>
                </div>
                <div class="modal-footer">
                    <div class="flex-spacer"></div>
                    <div class="form-control">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                        <button type="button" onClick="confirmAction('group-leave-confirm-modal', 'leave')" class="waves-effect waves-light btn modal-close btn-confirm" >Potvrdit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-settings">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="flex-spacer"></div>
                            <div class="form-control">
                                <a href="{plink :Front:Homepage:noticeboard}" class="modal-action modal-close waves-effect waves-light btn-flat" >Zrušit</a>
                                <button class="btn waves-effect waves-light btn-confirm" id="account-submit-button" type="submit" name="send" >Uložit</button>
                            </div>
                            <div class="flex-spacer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/form}
    <div id="change-user-avatar-modal" class="modal modal-small" >
        {form avatarForm}
        <div class="modal-content">
            <h3>Změnit avatar</h3>
            <p>Vyberte si nový avatar nebo <a class="upload-avatar" href="javascript:void();">nahrajte vlastní fotografii</a>.</p>
            <ul class="choose-avatar">
                {foreach $form['avatar']->items as $key=>$item}
                <li class="avatar large">
                    <label n:name="avatar:$key">
                        <input n:name="avatar:$key" />
                        <img src="{$item|noescape}" >
                    </label>
                </li>
                {/foreach}
            </ul>
            <script type="text/javascript">
                $(".choose-avatar input:checked").closest("label").find('img').addClass('selected');
                $(".choose-avatar input").on('change', function() {
                    $(".choose-avatar img").removeClass('selected');
                    $(this).closest("label").find('img').addClass('selected');
                    $('form button').prop('disabled', false);
                });
                $(".upload-avatar").on('click', function(e) {
                    e.preventDefault();
                    $("#avatar-file-upload").click();
                });
            </script>
            <div id="change-user-avatar-modal-error" style="" ></div>
        </div>
        <div class="modal-footer">
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                <button type="submit" class="waves-effect waves-light btn modal-close btn-confirm" >Potvrdit</button>
            </div>
        </div>
        {/form}
        <input id="avatar-file-upload" type="file" name="file" style="display: none;">
        <div id="change-user-avatar-dropzone" class="dropzone-area" >Přesuňte obrázek zde</div>
    </div>
    <div id="change-user-background-modal" class="modal modal-small" >
        {form backgroundForm}
        <div class="modal-content">
            <h3>Změnit pozadí</h3>
            <p>Vyberte si jedno z nabízenách pozadí</p>
            <ul class="choose-background">
                {foreach $form['avatar']->items as $key=>$item}
                <li>
                    <label n:name="avatar:$key">
                        <input n:name="avatar:$key" />
                        <img src="/images/account-headers/prevs/{$item}">
                    </label>
                </li>
                {/foreach}
            </ul>
            <script type="text/javascript">
                $(".choose-background input:checked").closest("label").find('img').addClass('selected');
                $(".choose-background input").on('change', function() {
                    $(".choose-background img").removeClass('selected');
                    $(this).closest("label").find('img').addClass('selected');
                    $('form button').prop('disabled', false);
                });
            </script>
        </div>
        <div class="modal-footer">
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                <button type="submit" class="waves-effect waves-light btn modal-close btn-confirm" >Potvrdit</button>
            </div>
        </div>
        {/form}
    </div>  
</section>
<script>
    $('#change-user-avatar-modal').modal();
    $('#change-user-background-modal').modal();        
    $('#group-delete-confirm-modal').modal();
    $('#group-leave-confirm-modal').modal();

    $("#profile-image-button").on('click', function(event) {
        event.preventDefault();
        $('#change-user-avatar-modal').modal('open');
    });
    $("#background-image-button").on('click', function(event) {
        event.preventDefault();
        $('#change-user-background-modal').modal('open');
    });

    setUploadForm("#avatar-file-upload", {
        links: {
            upload: {link uploadProfileImage!}
        },
        dropZone: "#change-user-avatar-dropzone",
        after: function(data) {
            if(data.error) {
                $("#change-user-avatar-modal-error").html(data.error);
            } else {
                $("#user-profile-image").attr('src', data.image.fullPath);
                $('#change-user-avatar-modal').modal('close');
            }
        }
    });

    var archiveGroups = [];
    var deleteGroups = [];
    var leaveGroups = [];
    $(".group-button-action").on('click', function(event) {
        event.preventDefault();
        if($(this).hasClass('delete-group')) {
            $('#group-delete-confirm-modal').data('group-id', $(this).closest('li.group-list').data('group-id'));
            $('#group-delete-confirm-modal h3').text($(this).data('name'));
            $('#group-delete-confirm-modal').modal('open');
        } else if($(this).hasClass('archive-group')) {
            $('#group-archive-confirm-modal').data('group-id', $(this).closest('li.group-list').data('group-id'));
            $('#group-archive-confirm-modal h3').text($(this).data('name'));
            $('#group-archive-confirm-modal').modal('open');
        } else if($(this).hasClass('leave-group')) {
            $('#group-leave-confirm-modal').data('group-id', $(this).closest('li.group-list').data('group-id'));
            $('#group-leave-confirm-modal h3').text($(this).data('name'));
            $('#group-leave-confirm-modal').modal('open');
        }
    });

    function confirmAction(modal, action) {
        var id = $('#' + modal).data('group-id');
        var icon;
        if(action === 'archive') {
            icon = 'folder';
            var index = archiveGroups.indexOf(id);
            if(index === -1) {
                archiveGroups.push(id);
            }
            $("input[name='archiveGroups']").val(JSON.stringify(archiveGroups));
        } else if(action === 'delete') {           
            icon = 'delete';
            var index = deleteGroups.indexOf(id);
            if(index === -1) {
                deleteGroups.push(id);
            }
            $("input[name='deleteGroups']").val(JSON.stringify(deleteGroups));
        } else if(action === 'leave') {            
            icon = 'eject';
            var index = leaveGroups.indexOf(id);
            if(index === -1) {
                leaveGroups.push(id);
            }
            $("input[name='leaveGroups']").val(JSON.stringify(leaveGroups));
        }
        $('li.group-list[data-group-id="' + id + '"]').data('action', action).hide();
        $('li.group-list[data-group-id="' + id + '"]').next('li.remove-group').show().find('i').html(icon);
        
    }

    $(".cancel-delete-btn").on('click', function(event) {
        event.preventDefault();
        var groupId = $(this).closest('li.remove-group').data('group-id');
        var action = $('li.group-list[data-group-id="' + groupId + '"]').data('action');
        if(action === 'archive') {
            var index = archiveGroups.indexOf(groupId);
            archiveGroups.splice(index, 1);
            $("input[name='archiveGroups']").val(JSON.stringify(archiveGroups));
        } else if(action === 'delete') {
            var index = deleteGroups.indexOf(groupId);
            deleteGroups.splice(index, 1);
            $("input[name='deleteGroups']").val(JSON.stringify(deleteGroups));
        } else if(action === 'leave') {            
            var index = leaveGroups.indexOf(groupId);
            leaveGroups.splice(index, 1);
            $("input[name='leaveGroups']").val(JSON.stringify(leaveGroups));
        }        
        $(this).closest('li.remove-group').hide();        
        $('li.group-list[data-group-id="' + groupId + '"]').show();
        
    });
</script>