<section class="main" id="account-settings">
{form form}
    <div class="container">
        <div class="row equal-cols">
            <div class="col m12 l4">
                <div class="card" id="account-images" {if $userAccount->backgroundImage}style="background-image: url('{$userAccount->backgroundImage|noescape}');"{/if}>
                    <img id="user-profile-image" src="{$userAccount->profileImage|noescape}">
                    <button id="profile-image-button" type="button" class="waves-effect waves-light btn">Změnit profilový obrázek</button>
                    <button id="background-image-button" type="button" class="waves-effect waves-light btn">Změnit pozadí</button>
                </div>
            </div>
            <div class="col m12 l8">
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Osobní údaje</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Uvedené osobní údaje se také zobrazí na Vašem veřejném profilu</p>
                        <div class="form-row input-field">
                            {input name}
                            {label name}Jméno{/label}
                        </div>
                        <div class="form-row input-field">
                            {input surname}
                            {label surname}Příjmení{/label}
                        </div>
                        <div class="form-row input-field">
                            {input email}
                            {label email}E-mailová adresa{/label}
                        </div>
                        <div class="form-row input-field">
                            {input birthday class=>"datepicker"}
                            {label birthday}Datum narození{/label}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="card flex-column" id="education">
                    <div class="card-header">
                        <h2>Studium</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Kde právě studujete?</p>
                        <div class="form-row input-field">
                            {input school}
                            {label school}Název školy{/label}
                        </div>
                        <div class="form-row input-field">
                            {input class}
                            {label class}Třída{/label}
                        </div>
                    </div>
                </div>
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Oznámení</h2>
                    </div>
                    <div class="card-content">
                        <div class="form-row">
                            <p class="secondary-par">Vybraná oznámení chci zasílat také e-mailem</p>
                            <div class="switch">
                                <label>
                                    {input emailNotification:}
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="checkbox-form-block">
                            {*foreach $notifications as $notification}
                            <div class="form-row">
                                <div class="submit-control checkbox-vertical-align">
                                    {input notification_$notification->ID_TYPE: class => 'filled-in box'}
                                    {label notification_$notification->ID_TYPE:}{/label}
                                </div>
                            </div>
                            {/foreach*}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 l6">
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Moje skupiny</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par"><strong>Skupiny, které spravuji</strong></p>
                        <ul class="groups bottom-margin">
                            {var something=true}
                            {foreach $groups->groups as $group}
                                {if $group->relation === 'owner'}
                                {var something=false}
                                <li class="group-list" data-action="delete" data-group-id="{$group->id}">
                                    <div class="group-shortcut-circle" style="background: {$group->mainColor|noescape};">{$group->shortcut|substr:0,1}
                                        <div class="admin-mark" style="background-color: {$group->mainColor|noescape}"></div>
                                    </div>
                                    <div class="label">{$group->name} {*<span>(g2)</span>*}</div>
                                    <button type="button" class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="group{$group->id}-options" >
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <ul id='group{$group->id}-options' class="dropdown-content">
                                        <li><a href="" class="delete-group-button waves-effect waves-dark">Smazat skupinu</a></li>
                                    </ul>
                                </li>
                                <li class="remove-group" style="display: none" data-group-id="{$group->id}">
                                    <i class="material-icons">delete</i>
                                    <div class="label">{$group->name}</div>
                                    <a href="" class="btn-flat cancel-delete-btn">zrušit</a>
                                </li>
                                {/if}
                            {/foreach} 
                            {if $something}
                                <li class="secondary-par">
                                   Nejste členem žádné skupiny
                                </li>
                            {/if}
                        </ul>
                        <p class="secondary-par"><strong>Skupiny, v nichž jsem členem</strong></p>
                        <ul class="groups">
                            {var something=true}
                            {foreach $groups->groups as $group}
                                {if $group->relation !== 'owner'}
                                {var something=false}
                                <li class="group-list" data-action="leave" data-group-id="{$group->id}">
                                    <div class="group-shortcut-circle" style="background: {$group->mainColor|noescape};">{$group->shortcut|substr:0,1}</div>
                                    <div class="label">{$group->name} {*<span>(g2)</span>*}</div>
                                    <button type="button" class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="group{$group->id}-options" >
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <ul id='group{$group->id}-options' class="dropdown-content">
                                        <li><a href="" class="delete-group-button waves-effect waves-dark">Opustit skupinu</a></li>
                                    </ul>
                                </li>
                                <li class="remove-group" style="display: none" data-group-id="{$group->id}">
                                    <i class="material-icons">delete</i>
                                    <div class="label">{$group->name}</div>
                                    <a href="" class="btn-flat cancel-delete-btn">zrušit</a>
                                </li>
                                {/if}
                            {/foreach}
                            {if $something}
                                <li>
                                   Nejste členem žádné skupiny
                                </li>
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="group-delete-confirm-modal" class="modal modal-small">
                <div class="modal-content">
                    <h3>Opravdu chcete skupinu smazat ?</h3>
                </div>
                <div class="modal-footer">
                    <div class="flex-spacer"></div>
                    <div class="form-control">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">ne</button>
                        <button type="button" onClick="confirmDelete('group-delete-confirm-modal')" class="waves-effect modal-close waves-light btn btn-confirm" >Ano</button>
                    </div>
                </div>
            </div>
            <div id="group-leave-confirm-modal" class="modal modal-small">
                <div class="modal-content">
                    <h3>Opravdu chcete skupinu opustit ?</h3>
                </div>
                <div class="modal-footer">
                    <div class="flex-spacer"></div>
                    <div class="form-control">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Ne</button>
                        <button type="button" onClick="confirmDelete('group-leave-confirm-modal')" class="waves-effect waves-light btn modal-close btn-confirm" >Ano</button>
                    </div>
                </div>
            </div>
            <script>         
                $('#group-delete-confirm-modal').modal();
                $('#group-leave-confirm-modal').modal();
                var removeGroup = [];
                $(".delete-group-button").on('click', function(event) {
                    event.preventDefault();
                    if($(this).closest('li.group-list').data('action') === 'delete') {
                        $('#group-delete-confirm-modal').data('group-id', $(this).closest('li.group-list').data('group-id'));
                        $('#group-delete-confirm-modal').modal('open');
                    } else {
                        $('#group-leave-confirm-modal').data('group-id', $(this).closest('li.group-list').data('group-id'));
                        $('#group-leave-confirm-modal').modal('open');
                    }
                });
                function confirmDelete(modal) {
                    var id = $('#' + modal).data('group-id');
                    $('li.group-list[data-group-id="' + id + '"]').hide();
                    $('li.group-list[data-group-id="' + id + '"]').next('li.remove-group').show();
                    var index = removeGroup.indexOf(id);
                    if(index === -1) {
                        removeGroup.push(id);
                    }
                    $("input[name='deleteGroups']").val(JSON.stringify(removeGroup));
                }
                
                $(".cancel-delete-btn").on('click', function(event) {
                    event.preventDefault();
                    $(this).closest('li.remove-group').hide();
                    var index = removeGroup.indexOf($(this).closest('li.remove-group').data('group-id'));
                    removeGroup.splice(index, 1);
                    $('li.group-list[data-group-id="' + $(this).closest('li.remove-group').data('group-id') + '"]').show();
                    $("input[name='deleteGroups']").val(JSON.stringify(removeGroup));
                });
                var form_modified = false;
                $('form').on('keyup change paste', 'input, select, textarea', function(){
                    form_modified = true;
                });
                $('#account-settings form').on('submit', function(event) {
                    form_modified = false;
                });
                
                window.onbeforeunload = function(){
                    if(form_modified) {
                        return 'Máte neuložené změny. Opravdu chcete stránku opustit ?';
                    }
                };
            </script>
        </div>
    </div>
    <div class="submit-settings">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="flex-spacer"></div>
                            <div class="form-control">
                                <a href="{plink :Front:Homepage:noticeboard}" class="modal-action modal-close waves-effect waves-light btn-flat" >Zrušit</a>
                                <button class="btn waves-effect waves-light btn-confirm" id="account-submit-button" type="submit" name="send" >Uložit</button>
                            </div>
                            <div class="flex-spacer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/form}
</section>

<script>
    $(function () {
        datepicker();
        var profileImage = new Dropzone("#profile-image-button", {
            url: {link uploadProfileImage!},
            previewTemplate: '<div id="preview-template" style="display: none;"></div>'
        });
        profileImage.on("complete", function (file) {
            var image = JSON.parse(file.xhr.response);
            if(image.image) {
                $("#user-profile-image").attr('src', image.image);
            }
            if(image.snippets) {
                $("#snippet--flashMessages").html(image.snippets['snippet--flashMessages']);
            }
        });
        
        var backgroundImage = new Dropzone("#background-image-button", {
            url: {link uploadBackgroundImage!},
            previewTemplate: '<div id="preview-template" style="display: none;"></div>'
        });
        backgroundImage.on("complete", function (file) {
            var image = JSON.parse(file.xhr.response);
            if(image.image) {
                $("#account-images").css('background-image',  'url(' + image.image + ')' );
            }
            if(image.snippets) {
                $("#snippet--flashMessages").html(image.snippets['snippet--flashMessages']);
            }
        });
    });
</script>
