{block content}
<div class="container" id="sign-in-message-page">
	<div class="status-icon">
		<i class="material-icons">verified_user</i>
	</div>
	<h1>Ověřte svoji identitu!</h1>
	<p>Na Vámi zadanou adresu jsme zaslali ověřovací e-mail. Pro úplnou aktivaci Vašeho účtu prosím pokračujte dle jeho pokynů.</p>
</div>

