{block content}
{control topPanel}

<section class="main profile">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card profile-header">
                    <div class="profile-cover">                       
                    </div>
                    <div class="profile-navbar">
                        <div class="avatar">
                            <img src="{$activeUser->profileImage}" alt="{$activeUser->name} {$activeUser->surname}">
                        </div>
                        <div class="profile-title">
                            {$activeUser->name} {$activeUser->surname}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col s12">
            <table id="one-day-schedule" class="card">
                <tbody>
                    <tr class="schedule-row">
                        <td class="day-title">
                            <a href="{plink Homepage:timetable}" class="waves-effect waves-light-gray">
                            <span class="title">{date("j. n.")}</span>
                            <span class="name">{$days[date("N")-1]}</span>
                            </a>
                        </td>
                        {for $i = $minHour; $i <= $maxHour; $i++}
                            {var $done = false}
                            {foreach $todaySchedule as $hour}
                                {if $hour->TIME_FROM->format("%H") == $i}
                                <td class="item">
                                    <span class="shortcut">{$hour->SHORTCUT}</span>
                                    <span class="time">{$hour->TIME_FROM->format("%H:%I")}</span>
                                    <span class="time end">({$hour->TIME_TO->format("%H:%I")})</span>
                                    <span class="room">{$hour->ROOM}</span>
                                </td>
                                {var $done = true}
                                {/if}
                            {/foreach}
                            {if !$done}
                                <td class="item"></td>
                            {/if}
                        {/for}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{*
<div class="container">
    <div class="row same-height">
        <div class="col l6 m12 s12">
            <div class="card flex-column assignments">
                <div class="card-header separated assignments-header">
                    <h3>Povinnosti</h3> 
                    <span class="assignments-header-count">{count($actualTasks)}</span>
                    <a href="{link :Front:Homepage:tasks}" class="assignments-header-btn waves-effect waves-light-gray">
                        <i class="material-icons">library_books</i>
                    </a>                   
                </div>      
                <div class="card-content notifications">
                        {foreach $actualTasks as $task}
                            <a href="{plink Group:message 'id'=>$task->group->urlId, 'idMessage'=>$task->idMessage}" class="notification-row waves-effect waves-light-gray">
                                <div class="notification-icon" style="color: {$task->group->mainColor|noescape};">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="notification-label">
                                    <div class="notification-title">
                                        {$task->title}
                                    </div>
                                    <div class="notification-description">
                                        Domácí úkol, {$task->group->name}
                                    </div>
                                </div>   
                            </a>
                        {/foreach}
                </div>
                <div class="flex-spacer"></div>
                <div class="card-footer assignments-footer">
                    <a href="{link :Front:Homepage:tasks}" class="material-icons">more_horiz</a>
                </div>
            </div>
        </div>

        <div class="col l6 m12 s12">
            <a href="{link :Front:Homepage:classification}" class="card card-link-big">
                <div class="label">
                    <h3>Hodnocení</h3>
                    <p>- - -</p>
                </div>
                <div class="flex-spacer"></div>
                <div class="icon">
                    <div class="circle border-blue">
                    <strong>6</strong>
                    </div>
                </div>
            </a>
            <a href="{link :Front:Profile:messages}" class="card card-link-big">
                <div class="label">
                    <h3>Zprávy</h3>
                    <p>- - -</p>
                </div>
                <div class="flex-spacer"></div>
                <div class="icon">
                    <div class="circle">
                    <strong>3</strong>/7
                    </div>
                </div>
            </a>
            <a href="{link :Front:Homepage:notices}" class="card card-link-big">
                <div class="label">
                    <h3>Poznámky</h3>
                    <p>- - -</p>
                </div>
                <div class="flex-spacer"></div>
                <div class="icon">
                    <div class="circle">
                    <strong>3</strong>/7
                    </div>
                </div>
            </a>
            
                {*
                <div class="card">
            <br><br><br><br><br><br><br><br><br>
                    <div class="card-header">
                    <h3>Poznámky</h3>
                    <a href="#create-note-modal" class="modal-trigger btn-icon small"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content clearfix">
                    <p class="secondary-par">Seznam poznámek</p>
                    {ifset $actualNotices}
                    <ul class="custom-collection">
                        {foreach $actualNotices as $note}
                        <li>
                            <a href="#edit-note-modal" class="item note modal-trigger">
                                <i class="material-icons">format_quote</i>
                                {$note->TEXT}
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                    {/ifset}
                </div>
                <div class="flex-spacer"></div>
                <div class="card-footer">
                    <a href="{plink Homepage:notices}" class="btn-flat show-more card-bottom">
                        <span class="avatar small"><i class="material-icons">search</i></span>Zobrazit vše
                    </a>
                </div>
             </div>
                *}
           
        </div>

        {* modal new note *}

        <div id="create-note-modal" class="modal modal-small">
            {control noticeForm}
        </div>

        {* modal edit note *}
{*
        <div id="edit-note-modal" class="modal modal-small">
            <div class="modal-content">
                <h3>Upravit poznámku</h3>
                <textarea class="materialize-textarea" placeholder="To co tam původně bylo"></textarea>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-note">
                    <a href="" class="btn-icon small"><i class="material-icons">delete</i></a>
                </div>
                <div class="flex-spacer"></div>
                <div class="form-control">
                    <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                    <button class="btn waves-effect waves-light hide-modal-ajax-submit" type="submit" name="send" >Upravit</button>
                </div>
            </div>
        </div>
    </div>
</div>


*}


<section class="main">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <header class="section-header">
                    <h3 class="left">Povinnosti</h3>
                    <div class="flex-spacer"></div>
                </header>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        {foreach $actualTasks as $task}
        <div class="col l6 m6 s12">
            <div class="card flex-column">
                <div class="assignment">
                    <div class="time-left">{$task->timeLeft|timeDifferceText|noescape}</div>
                    <div class="flex-spacer"></div>
                    <a href="" class="submit-count">
                        <span class="done"><i class="material-icons">lens</i>3</span> 
                        <div class="divider"></div>
                        <span class="undone"><i class="material-icons">panorama_fish_eye</i>12</span>
                    </a> 
                </div>
                <a href="{plink Group:message 'id'=>$task->group->urlId, 'idMessage'=>$task->idMessage}" class="assignment-preview waves-effect waves-light-gray">
                    <div class="avatar">
                        <img src="{$task->message->user->profileImage|noescape}">
                    </div>
                    <div class="title">
                            {$task->message->user->name} {$task->message->user->surname} | {$task->group->name}
                        <span>
                            {$task->title}
                        </span>
                    </div>
                </a>
            </div>
        </div>
        {/foreach}
    </div>
</div>

<section class="main">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <header class="section-header">
                    <h3 class="left">Skupiny</h3>
                    <div class="flex-spacer"></div>
                    <ul class="right options">
                        <li>
                            <a class="btn-flat btn-icon dropdown-button" data-activates="add-group" data-beloworigin="true" data-alignment="right" data-constraintwidth="false">
                                <i class="material-icons">add</i>
                            </a>
                            <ul id='add-group' class="dropdown-content">
                                <li><a href="#create-group" class="waves-effect waves-dark modal-trigger">Vytvořit skupinu</a></li>
                                <li><a href="#!">Zapsat se do skupiny</a></li>
                            </ul>
                        </li>
                    </ul>
                </header>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row" id="group-cards">
        {foreach $groups as $group}
        <div class="col l4 m6 s12">
            <a href="{link Group:default, 'id'=>$group->urlId}" class="card waves-effect waves-light-gray">

                <div class="avatar" style="background-color:{$group->mainColor|noescape};">{$group->shortcut|substr:0,1}</div>
                <div class="title">
                    {$group->name}
                    <span>
                        {$group->owner->name} {$group->owner->surname}
                    </span>
                </div>

                    <!--<a href="#" class="group-users">
                        {if $group->numberOfStudents == 0}
                            Žádní studenti
                        {elseif $group->numberOfStudents == 1}
                            Jeden student
                        {elseif $group->numberOfStudents > 1 && $group->numberOfStudents < 5}
                            {$group->numberOfStudents} studenti
                        {else}
                            {$group->numberOfStudents} studentů
                        {/if}
                    </a>-->

                <!-- <div class="group-activity">
                   {if $group->newMessages == 0}
                        Žádné nové příspěvky
                    {elseif $group->newMessages == 1}
                        Jeden nový příspěvek
                    {elseif $group->newMessages > 1 && $group->newMessages < 5}
                        {$group->newMessages} příspěvky
                    {else}
                        {$group->newMessages} příspěvků
                    {/if} 
                </div>-->
            </a>
        </div>
        {/foreach}
    </div>
</div>
