{block content}
{control topPanel}
<section class="main">
    
</section>
<div class="container offset-2">
    <div class="row">
    	<div class="col s12">
            <div class="card flex-column">
            	aaa
            </div>
        </div>
    </div>
</div>