{block content}
{control topPanel}
<section class="main">
    
</section>
<div class="container offset-2">
    <div class="row">
    	<div class="col s12">
            {foreach $tasks as $task}
            <div class="card flex-column">
                <div class="assignment">
                    {control taskHeader-$task->idTask}
                </div>
                <a href="{plink Group:message 'id'=>$task->group->urlId, 'idMessage'=>$task->idMessage}" class="assignment-preview waves-effect waves-light-gray">
                    <div class="avatar">
                        <img src="{$task->message->user->profileImage|noescape}">
                    </div>
                    <div class="title">
                            {$task->message->user->name} {$task->message->user->surname} | {$task->group->name}
                        <span>
                            {$task->title}
                        </span>
                    </div>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
</div>
<div id="commit-task-modal" class="modal modal-small">
    {snippet commitTaskForm}
        {control commitTaskForm}
    {/snippet}
</div>