{snippet sign-in-form}
{form form  class=>'ajax'}
<div class="modal-content">
    <h2>Registrovat</h2>
        <div class="form-row input-field">
            {input email}
            {label email}E-mail{/label}
        </div>
        <div class="form-row input-field">
            {input name}
            {label name}Jméno{/label}
        </div>
        <div class="form-row input-field">
            {input surname}
            {label surname}Příjmení{/label}
        </div>
        <div class="form-row input-field">
            {input password1}
            {label password1}Heslo{/label}
        </div>
        <div class="form-row input-field">
            {input password2}
            {label password2}Heslo znovu{/label}
        </div>
    <div class="flex-row form-controls">
        {*<p class="remember-me">
            Souhlasim
        </p>*}
        <button class="btn waves-effect waves-light" type="submit" >Registrovat</button>
    </div>
    {*<div class="col s12 bottom-link">
        <a href="{plink :Public:Homepage:lostPassword}">Podmínky používání</a>
    </div>*}
</div>
{/form}
{/snippet}
