{snippet sign-in-form}
    {form form class=>'ajax'}
    <div class="modal-content">        
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <h2>Registrovat</h2>
        <div class="form-row input-field">
            {input email}
            {label email}E-mail{/label}
        </div>
        <div class="form-row input-field">
            {input name}
            {label name}Jméno{/label}
        </div>
        <div class="form-row input-field">
            {input surname}
            {label surname}Příjmení{/label}
        </div>
        <div class="form-row input-field">
            {input password1}
            {label password1}Heslo{/label}
        </div>
        <div class="form-row input-field">
            {input password2}
            {label password2}Heslo znovu{/label}
        </div>
        <div class="errors" n:if="$form->hasErrors()">
            <div class="error" n:foreach="$form->getErrors() as $error">{$error}</div>
        </div>
        <div class="form-row">
            <p class="terms-of-use">
                {label terms:}
                    {input terms: class=>'filled-in'}
                    <span> Potvrzuji, že jsem starší 15 let a souhlasím s 
                <a href="{plink Homepage:terms}" target="_blank">Všeobecnými obchodními podmínkami</a> a 
                <a href="{plink Homepage:gdpr}" target="_blank">Zásadami ochrany osobních údajů</a>.</span>
                {/label}
               
            </p>
        </div>
        <div class="form-row captcha-row">
            <div class="g-recaptcha" data-sitekey="6LcDhq0UAAAAAEVUrw7fZRtr62DlQ0X_y3uFtCZN"></div>
        </div>
        <div class="flex-row form-controls">
            <button class="btn waves-effect waves-light" type="submit" >Registrovat</button>
        </div>
    </div>
    {/form}
{/snippet}
