<a href="{plink Group:message 'id'=>$task->group->slug, 'idMessage'=>$task->idMessage}" class="assignment-preview">
    <div class="card-header">
        <div class="avatar">
            <img src="{$task->message->user->profileImage|noescape}">
        </div>
        <h3 class="name truncate">
                {$task->message->user->name} {$task->message->user->surname}
        </h3>
        <span class="card-date">{$task->deadline->format("j. n.")}</span>
    </div>
    <div class="card-content">
        <p class="truncate"><strong>{$task->title} • </strong>{$task->message->text}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-flat" style="color: #ffc900;">{$task->group->name}</button>
    </div>
</a>