        <div class="card-content">
            <div class="title">
                <a href="{plink Group:message 'id'=>$task->group->slug, 'idMessage'=>$task->idMessage}">{if $task->title}{$task->title}{/if}</a>
            </div>
            <div class="assignment-info">
                <a href="">{$task->message->user->name} {$task->message->user->surname}</a> | <a href=""> {$task->group->name}</a>
            </div>
        </div>