<section class="main two-level-nav">
    {if $groupMembers}
    <div class="container offset-1">
        <div class="row">
            <div class="col s12">
                {* DOČASNĚ SKRYTO DOKUD NEBUDE HOTOVÝ CHAT
                <header class="page-header">
                    <button class="btn white no-shadow dropdown-trigger" id="user-action-button" data-beloworigin="true" data-target="action-dropdown" disabled="disabled">
                        Akce
                    </button>
                    <ul id='action-dropdown' class='dropdown-content'>      
                        <li><a href="#" data-link="{plink Conversation:default}" id="send-message-user-button" >Poslat soukromou zprávu</a></li>
                    </ul>
                    <div class="flex-spacer"></div>
                </header> *} 
            </div>
        </div>
    </div>
    <div class="container offset-1">
        <div class="row">
            <div class="col s12">
                <form action="#">
                    <div class="section-header table-header">
                        <label>
                            <input type="checkbox" class="filled-in" id="select-all" />
                            <span for="select-all">Student</span>   
                        </label>
                    </div>
                    <script>
                         $(function () {                           

                            $("#select-all").on("change", function (e) {
                                if ($(this).prop('checked')) {
                                    $(".user-checkbox").prop('checked', true);
                                } else {
                                    $(".user-checkbox").prop('checked', false);
                                }
                                if($(".user-checkbox:checked").length > 0) {
                                    $("#user-action-button").prop('disabled', false);
                                } else {
                                    $("#user-action-button").prop('disabled', true);
                                }
                            });
                            
                            $(".user-checkbox").on("change", function (e) {
                                if($(".user-checkbox:checked").length > 0) {
                                    $("#user-action-button").prop('disabled', false);
                                } else {
                                    $("#user-action-button").prop('disabled', true);
                                }
                                if($(".user-checkbox").length > 0 && $(".user-checkbox:not(:checked)").length == 0) {
                                    $("#select-all").prop('checked', true);
                                } else {
                                    $("#select-all").prop('checked', false);
                                }
                            });
                        
                            
                            $("#send-message-user-button").on("click", function(event) {
                                event.preventDefault();
                                var users = [];
                                $.each($(".user-checkbox:checked"), function(key, val) {
                                    users.push($(val).data('slug'));
                                });
                                
                                var url = $(this).data('link') + '?users=' + users.join(',');
                                window.location.replace(url);
                            });
                        });
                    </script>
                    {snippet memberList}
                    <ul class="popout table-body classmates" data-collapsible="expandable">
                        {foreach $groupMembers as $member}
                        <li>
                            <div class="collapsible-header table-row">
                                <label>
                                    <input type="checkbox" class="filled-in user-checkbox" id="user_{$member->id}" data-id="{$member->id}" data-slug="{$member->slug}"/>
                                    <span for="user_{$member->id}"></span>
                                </label>
                                <div class="avatar small">
                                    <img src="{$member->profileImage}">
                                </div>
                                <div class="title">
                                    <span>{$member->surname}</span>, {$member->name}
                                </div>
                                <div class="flex-spacer"></div>
                                <div class="user-info-options-menu">
                                    <button type="button" class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="user-action-dropdown-{$member->id}" >
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <ul id='user-action-dropdown-{$member->id}' class='dropdown-content'>
                                        <li><a href="{plink Profile:default 'id'=>$member->slug}">Zobrazit profil</a></li>
                                        {*  DOČASNĚ SKRYTO DOKUD NEBUDE HOTOVÝ CHAT
                                        <li><a href="{plink Conversation:default 'users'=>$member->slug}">Poslat soukromou zpravu</a></li>*}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                    {/snippet}
                </form>          
            </div>
        </div>
    </div>
    {else}
    <div class="container empty-content-block offset-1">
        <div class="flex-spacer"></div>
        <div class="row">
            <div class="col s12">
                <div class="empty-content-icon">
                    <i class="material-icons">people</i>
                </div>
                <h2>V této skupině nemáte žádné spolužáky</h2>
            </div>
        </div>
        <div class="flex-spacer"></div>
    </div>
    {/if}
</section>
