<div class="card message flex-column {if $message->deleted == 1}card-flat{/if} {if $message->displayed}displayed{/if}"  id="message-box-num_{$message->id}" data-message-id="{$message->id}"> 
    <div class="card-header">
        <div n:if="$message->priority == 1" class="topped"></div>
        <div n:if="$message->priority == 1" class="deleted"></div>
        <a href="{plink Profile:default 'id'=>$message->user->slug}" class="avatar small">
            <img src="{$message->user->profileImage}" alt="{$message->user->name}">
        </a>
        <h3 class="name truncate">
           <a href="{plink Profile:default 'id'=>$message->user->slug}">{$message->user->name} {$message->user->surname}</a>
        </h3>
        <span class="card-date">{$message->created|date:"j. n."}</span>
        {include 'menu.latte'}
    </div>
    <div class="card-content">  
        <p class="message-text {if !$isDetail}limited-text{/if}">{$message->text|breaklines}</p>
    </div>
    {include 'attachments.latte'}    
    {snippet message-info}{include 'info.latte'}{/snippet}
    {control commentForm-$message->id}
</div>