<div class="card flex-column {if $message->deleted == 1}card-flat{/if}" id="message-box-num_{$message->id}"> 
    <div class="card-header">
        <div n:if="$message->priority == 1" class="topped"></div>
        <div n:if="$message->priority == 1" class="deleted"></div>
        <a href="{plink Profile:default 'id'=>$message->user->slug}" class="avatar small">
            <img src="{$message->user->profileImage}" alt="{$message->user->name}">
        </a>
        <h3 class="name truncate">
           <a href="{plink Profile:default 'id'=>$message->user->slug}">{$message->user->name} {$message->user->surname}</a>
        </h3>
        <span class="card-date">{$message->created|date:"j. n."}</span>
        {include 'menu.latte'}
    </div>
    {include 'attachments.latte'}
    {control commentForm-$message->id}
</div>