<section class="main">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <a href="{plink Tests:editor}" id="create-test-btn">
                    <i class="material-icons">add_circle</i>
                    Vytvořit nové zadání
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <header class="section-header">
                    <h3 class="left">Zadání</h3>
                    <div class="flex-spacer"></div>
                    <ul class="right options">
                        <li>
                            <a class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="filter-tests" >
                                <i class="material-icons">filter_list</i>
                            </a>
                            <ul id='filter-tests' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col l3 m6 s12">
                <div class="card card-test-preview">
                    <div class="card-content">
                        <div class="test-range">12</div>
                        <h4>Barvy a barevné modely</h4>
                        <div class="info">12 otázek | GRW</div>
                        <div class="date">Vytvořeno 22. 9.</div>
                        <div class="options">
                            <a href="#" class="btn gray no-shadow">Použít zadání</a>
                            <a class="btn-flat btn-icon outline dropdown-trigger waves-effect waves-dark" data-target="more-choices-1">
                                <i class="material-icons">more_horiz</i>
                            </a>
                            <ul id='more-choices-1' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col l3 m6 s12">
                <div class="card card-test-preview">
                    <div class="card-content">
                        <div class="test-range">12</div>
                        <h4>Barvy a barevné modely</h4>
                        <div class="info">12 otázek | GRW</div>
                        <div class="date">Vytvořeno 22. 9.</div>
                        <div class="options">
                            <a href="#" class="btn gray no-shadow">Použít zadání</a>
                            <a class="btn-flat btn-icon outline dropdown-trigger waves-effect waves-dark" data-target="more-choices-1">
                                <i class="material-icons">more_horiz</i>
                            </a>
                            <ul id='more-choices-1' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col l3 m6 s12">
                <div class="card card-test-preview">
                    <div class="card-content">
                        <div class="test-range">12</div>
                        <h4>Barvy a barevné modely</h4>
                        <div class="info">12 otázek | GRW</div>
                        <div class="date">Vytvořeno 22. 9.</div>
                        <div class="options">
                            <a href="#" class="btn gray no-shadow">Použít zadání</a>
                            <a class="btn-flat btn-icon outline dropdown-trigger waves-effect waves-dark" data-target="more-choices-1">
                                <i class="material-icons">more_horiz</i>
                            </a>
                            <ul id='more-choices-1' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col l3 m6 s12">
                <div class="card card-test-preview">
                    <div class="card-content">
                        <div class="test-range">12</div>
                        <h4>Barvy a barevné modely</h4>
                        <div class="info">12 otázek | GRW</div>
                        <div class="date">Vytvořeno 22. 9.</div>
                        <div class="options">
                            <a href="#" class="btn gray no-shadow">Použít zadání</a>
                            <a class="btn-flat btn-icon outline dropdown-trigger waves-effect waves-dark" data-target="more-choices-1">
                                <i class="material-icons">more_horiz</i>
                            </a>
                            <ul id='more-choices-1' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col l3 m6 s12">
                <div class="card card-test-preview">
                    <div class="card-content">
                        <div class="test-range">12</div>
                        <h4>Barvy a barevné modely</h4>
                        <div class="info">12 otázek | GRW</div>
                        <div class="date">Vytvořeno 22. 9.</div>
                        <div class="options">
                            <a href="#" class="btn gray no-shadow">Použít zadání</a>
                            <a class="btn-flat btn-icon outline dropdown-trigger waves-effect waves-dark" data-target="more-choices-1">
                                <i class="material-icons">more_horiz</i>
                            </a>
                            <ul id='more-choices-1' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>