<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&amp;subset=latin-ext" rel="stylesheet">
        
        <link type="text/css" rel="stylesheet" href="/lib/materialize/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/css/login.css"  media="screen,projection"/>
        <script type="text/javascript" src="/lib/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/core.js"></script>
        <script type="text/javascript" src="/js/netteForms.js"></script>
        <script type="text/javascript" src="/js/nette.ajax.js"></script>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{ifset title}{include title|striptags} | {/ifset}Lato</title>
    </head>
    <body>
        <header class="navbar-fixed main-nav">
            <nav>
                <div class="nav-wrapper">
                    <div id="logo"></div>
                    <div class="flex-spacer"></div>
                    <ul id="right-nav">
                        <li class="hide-on-med-and-down"><a href="#page-header">Domů</a></li>
                        <li class="hide-on-med-and-down"><a href="#about">O projektu</a></li>
                        <li class="hide-on-med-and-down"><a href="#contact">Kontakt</a></li>
                        <li n:if="!$isLogged" class="last-one">
                            <a href="#login-modal" class="login-modal-trigger">Přihlásit</a>
                        </li>
                        <li n:if="$isLogged" class="last-one">
                            <a href="" class="register-modal">Odhlásit</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <script>  
                $(function () {
                    $("#right-nav li a").on('click', function(e) {
                        e.preventDefault();
                        $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top - 50}, 500);
                    });                    
                    $(window).scroll(function() {
                        $("#right-nav li").removeClass('active');
                        if($('html').scrollTop() < ($('#about').offset().top - 50)) {
                            $('a[href="#page-header"]').parents('li').addClass('active');
                        } else if($('html').scrollTop() < ($('#contact').offset().top - 50)) {
                            $('a[href="#about"]').parents('li').addClass('active');
                        } else {
                            $('a[href="#contact"]').parents('li').addClass('active');
                        }
                    });
                });
            </script>
        </header>
        {snippet flashMessages}
            <div id="flashMessagesWrapper" style="display:none;">
                <div n:foreach="$flashes as $key=>$flash" id="flashNum_{rand(1, 9999)}" n:class="flash" data-type="{$flash->type}">{$flash->message}</div>
            </div>
            <script>  
                $(function () {
                    latoShowUpFlashMessages();
                });
            </script>
        {/snippet}
        <header id="page-header" n:if="$showMainScreen">
            <div class="container">
                <div class="header-content">
                    <h1>Sociální síť pro <span>studenty a učitele</span></h1>
                    <h2>Moderní cloudové řešení výuky pro školu nebo skupinu</h2>
                    <div class="btn-row">
                        {if !$isLogged}
                            <button href="#login-modal" class="btn accent-color waves-effect waves-light login-modal-trigger">Přihlásit</button> 
                            <button href="#login-modal" class="btn waves-effect waves-light register-modal-trigger">Registrovat</button> 
                        {else}
                            <a class="btn waves-effect waves-light" href="{plink :Front:Homepage:default}">Pokračovat</a>    
                        {/if}
                    </div>
                    {*
                    <h3>Neomezený přístup kdykoli a zcela nezávisle na platformě</h3>
                    <div class="platforms"></div>
                    *}
                </div>
                <div class="scroll-icon">
                    <div class="mouse-outline">
                        <div class="wheel">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {include content}

        <footer id="page-footer">
            <div class="copy"><strong>lato.cz</strong> | © {date('Y')}</div>
            <div id="logo"></div>
        </footer>


        <div id="login-modal" class="modal">
            <div id="login-form-section">
                {control signInForm}
                <div class="modal-footer">
                    <a href="#" class="switch-login-form-register">Registrace</a>
                </div>
            </div>
            <div id="register-form-section" class="hide">
                {control registerForm}
                <div class="modal-footer">
                    <a href="" class="switch-login-form-login">Přihlášení</a>
                </div>
            </div>
            <div id="lost-form-section" class="hide">
                {control lostPasswordForm}
                <div class="modal-footer">
                    <a href="" class="switch-login-form-login">Přihlášení</a>
                </div>
            </div>
        </div>

        {block scripts}
        <script>
            $(function () {
                $.nette.init();
                $('.modal').modal();
                setLoginForm();
                if($("#lost-password-form")) {
                    $("#lost-password-form").modal({
                        dismissible: false
                    });
                    $("#lost-password-form").modal('open');
                }
                $.nette.ext('setup-login', {   
                    success: function (data) {
                        setLoginForm();
                    }
                });
            });
            
            function setLoginForm() 
            {
                $(".login-modal-trigger").on('click', function(e){
                    $(".switch-login-form-login").click();
                    $('#login-modal').modal('open');
                });
                
                $(".register-modal-trigger").on('click', function(e){
                    $(".switch-login-form-register").click();
                    $('#login-modal').modal('open');
                });

                $(".switch-login-form-login").on('click', function (e) {
                    e.preventDefault();
                    $("#login-form-section").removeClass('hide');
                    $("#register-form-section").addClass('hide');
                    $("#lost-form-section").addClass('hide');
                });
                $(".switch-login-form-register").on('click', function (e) {
                    e.preventDefault();
                    $("#login-form-section").addClass('hide');
                    $("#register-form-section").removeClass('hide');
                    $("#lost-form-section").addClass('hide');
                });
                $(".switch-login-form-lost").on('click', function (e) {
                    e.preventDefault();
                    $("#login-form-section").addClass('hide');
                    $("#register-form-section").addClass('hide');
                    $("#lost-form-section").removeClass('hide');
                });
            }
        </script>
        {/block}
        <div id="button-loader" class="hide">
            <div class="preloader-wrapper small active" style="height: 30px; width: 30px; top: 5px; margin: 0px 20px;">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
