{snippet class-form}
{form form id=>'classification-form'}
<section class="main two-level-nav settings">
    {if $members}
        <div class="container offset-1">
            <div class="row">
                <div class="col s12">
                    <header class="section-header">
                        <h3>Zadání testu</h3>
                        <div class="flex-spacer"></div>
                    </header>  
                </div>
            </div>
        </div>
        <div class="container offset-1">
            <div class="row" n:snippet="classification-header">
                <div class="col s12">
                    <div class="card card-flat classification-properties modal-trigger" href="#test-setup-modal">
                        <p class="minified-label">
                            <span class="classification-name">{$test->name}</span>
                            <span class="more-info {if !$testSetup->publicationTime}hide{/if}"><i class="material-icons">event</i>
                                <span class="classification-date">
                                    {if $testSetup->publicationTime}
                                        {$testSetup->publicationTime->format('j. n. Y')}
                                    {/if}
                                </span>
                            </span>
                        </p>
                        <div class="flex-spacer"></div>
                        <i class="minified-icon material-icons">create</i>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="section-header table-header">   
                        <div class="title">Výsledky studentů</div>
                        <div class="flex-spacer"></div>
                        {if $classificationGroup && $classificationGroup->task}
                            <button type="button" class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="sort_students" >
                                <i class="material-icons">sort</i>
                            </button>
                            <ul id='sort_students' class='dropdown-content'>
                                <li><a href="{link changeSort! idGroupClassification=>$classificationGroup->id, sort=>'submit'}" class="ajax_n">Seřadit podle stavu odevzdání</a></li>
                                <li><a href="{link changeSort! idGroupClassification=>$classificationGroup->id, sort=>'name'}" class="ajax_n">Seřadit podle jména</a>
                            </ul>
                        {/if}
                    </div>                
                    <ul class="collapsible popout table-body classification-update-table" data-collapsible="expandable">
                        {foreach $members as $member}
                        <li>
                            <div class="collapsible-header table-row">
                                <div class="avatar small">
                                    <img src="{$member->profileImage}">
                                </div>
                                <div class="title">
                                    {if !empty($member->name)}<span>{$member->surname}</span>, {$member->name}{/if}  
                                </div>
                                <div class="flex-spacer"></div>
                                {if !empty($classificationGroup->task)}
                                    {ifset $classificationGroup->task->commitArray[$member->id]}
                                        {if $classificationGroup->task->commitArray[$member->id]->isLate}
                                            <div class="table-field assignment-status late-submitted">Odevzdáno pozdě</div>
                                        {else}
                                            <div class="table-field assignment-status submitted">Odevzdáno</div>
                                        {/if}
                                    {else}
                                        {if $classificationGroup->task->isLate}
                                            <div class="table-field assignment-status not-submitted">Neodevzdáno</div>
                                        {else}
                                            <div class="table-field assignment-status in-progress">Čeká na odevzdání</div>
                                        {/if}
                                    {/ifset}
                                {/if}
                                {ifset $testResults[$member->id]['sum']}
                                <div class="test-result">
                                    {$testResults[$member->id]['sum']->bestPercent} %
                                </div>
                                {/ifset}
                                <div class="grade-dropdown table-field" n:if="$classificationGroup">
                                    {input grade$member->id class=>'no-border'}
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <div class="table-row flex-column">
                                    {if $classificationGroup}
                                        {input notice$member->id class=>'materialize-textarea'}
                                    {/if}
                                    {if !empty($classificationGroup->task) && isset($classificationGroup->task->commitArray[$member->id])}
                                        <div class="comment">
                                            Uloženo {$classificationGroup->task->commitArray[$member->id]->created->format("j. n. G:i")}
                                            {if $classificationGroup->task->commitArray[$member->id]->updated}
                                                (Aktualizováno {$classificationGroup->task->commitArray[$member->id]->updated->format("j. n. G:i")})
                                            {/if}
                                        </div>                                     
                                    {/if}
                                    {ifset $testResults[$member->id]}
                                    <ul class="attachments">
                                        {foreach $testResults[$member->id]['attemps'] as $result}
                                        <li {if $testResults[$member->id]['sum']->bestPercent == $result->percent}class="best-result"{/if}>
                                            <a href="{plink Group:testDisplay fillingId=>$result->id}" target="_blank" class="attached-file">
                                                <div class="file-icon test-number">{$iterator->count() - $iterator->counter + 1}</div>
                                                <div class="file-name truncate">{$result->created->format("j. n. G:i")}</div>
                                                <div class="test-percentage">{if $result->isFinished}{$result->percent} %{else}—{/if}</div>
                                            </a>
                                            <div class="delete-instance modal-trigger" href="#delete-instance-modal">
                                                <i class="material-icons">clear</i>
                                            </div>
                                        </li>
                                        {/foreach}
                                    </ul>
                                    {/ifset}
                                </div>
                            </div>
                        </li>
                        {/foreach}
                    </ul>   
                </div>
            </div>
        </div>


        <div class="submit-settings" n:if="$classificationGroup">
            <div class="container offset-1">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="flex-spacer"></div>
                                <div class="form-control">
                                    <a href="{plink Group:usersList}" class="modal-action modal-close btn-flat">Zrušit</a>
                                    <button type="submit" class="waves-effect waves-light btn btn-confirm submit-classification">Uložit</button>
                                </div>
                                <div class="flex-spacer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {else}
        <div>Žádní studenti k oznámkování</div>
    {/if}
</section>

<!-- Modals -->
<div id="delete-instance-modal" class="modal modal-small">
    <div class="modal-content">
        <h3>Smazat test</h3>
        <p>Opravdu si přejete smazat tento test?</p>
    </div>
    <div class="modal-footer">
        <div class="flex-spacer"></div>
        <div class="form-control">
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">zrušit</button>
            <button type="button" onClick="confirmAction('group-delete-confirm-modal', 'delete')" class="waves-effect modal-close waves-light btn btn-confirm" >potvrdit</button>
        </div>
    </div>
</div>


<script>
    $(function () {                           
        $('.collapsible-header').on('click', function (e) {
            if($(e.target).parents(".grade-dropdown").length) {
                e.stopPropagation();
            }
        });
    });
</script>
{/form}
{/snippet}
<div id="test-setup-modal" class="modal modal-small">
    {snippet testSetupForm}
        {control testSetupForm}
    {/snippet}
</div>
{snippet classification-form}
<script>
    $(document).ready(function() {
        datepicker();
        $(".add-notice-button").on('click', function(e) {
            e.preventDefault();
            $(this).parents('.table-row').find('.notice-row').removeClass('hide');
        });
    });
</script>
{/snippet}