{if $task->isCreator}
    {if $task->createClassification == 1}
        <div class="card card-flat assignment-info">
            <div class="card-content">
                <div class="avatar">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="time-left">
                    Termín odevzdání: <strong>{$task->deadline->format("j. n., H:i")}</strong>
                </div>
            </div>
        </div>
        <div class="card card-flat assignment-info">
            <div class="card-content">
                <div class="avatar">
                    <i class="material-icons">assignment</i>
                </div>
                {if $task->timeLeft->invert === 0 }
                <div class="time-left">
                    Termín odevzdání: <strong>{$task->deadline->format("j. n., H:i")}</strong>
                </div>
                {else}
                <div class="avatar small status">
                    <i class="material-icons locked">lock</i>
                </div>
                <div class="time-left">
                    Uzavřeno: {$task->deadline->format("j. n. H:i")}
                </div>
                {/if}
                <div class="flex-spacer"></div>
                <a href="{plink :Front:Group:users do => students-studentsList-editGroupClassification, students-studentsList-idGroupClassification=>$task->idClassificationGroup}" class="btn gray no-shadow">Otevřít</a>
            </div>
        </div>
    {/if}
{elseif $task->online == 1}
    {if $task->commit }
        <div class="card card-flat assignment-info">
            <div class="card-content">
                <div class="time-left">
                    Termín odevzdání: <strong>{$task->deadline->format("j. n., H:i")}</strong>
                </div>
            </div>
        </div>
        <div class="card card-flat assignment-info">
            <div class="card-content">
                <div class="avatar small status">
                    <i class="material-icons done">assignment_turned_in</i>
                </div>
                <div class="assignment-status">
                    <strong>{if !empty($task->commit->updated)}Upraveno {$task->commit->updated->format("j. n., H:i")}{else}Odevzdáno: {$task->commit->created->format("j. n., H:i")}{/if}</strong> 
                </div>
                <div class="flex-spacer"></div>
                <button type="button" data-link="{link editTaskCommit}" class="btn gray no-shadow submit-class-button">Upravit</button>
            </div>
            <div class="card-content assignment-detail">
                <div n:if="$task->commit->comment" class="assignment-comment">{$task->commit->comment}</div>
                {if !empty($task->commit->files)}
                    <ul class="attachments_uploads" >
                    {foreach array_merge($task->commit->files['files'], $task->commit->files['media']) as $attach}
                    <li>
                        <a href="{$attach->fullPath|noescape}" target="_blank" class="attached-file">
                            <div class="file-name">{$attach->filename}<span>({$attach->extension}, 22. 8., 22:00)</span></div>

                        </a>
                    </li>
                    {/foreach}
                    </ul>
                {/if}
            </div>
        </div>
    {elseif $task->timeLeft->invert === 0}
        <div class="card card-flat assignment-info">
            <div class="card-content">
                <div class="time-left">
                    Termín odevzdání: <strong>{$task->deadline->format("j. n., H:i")}</strong>
                </div>
            </div>
        </div>
        <div class="card card-flat assignment-info">
            <div class="card-content">
                <div class="avatar small status">
                    <i class="material-icons locked">assignment</i>
                </div>
                <div class="assignment-status">
                    <strong>Čeká na odevzdání</strong>
                </div>
                <div class="flex-spacer"></div>
                <button type="button" data-link="{link editTaskCommit}" class="btn gray no-shadow submit-class-button">Odevzdat</button>
            </div>
        </div>
    {else}
        <div class="avatar status">
            <i class="material-icons failed">clear</i>
        </div>
        <div class="time-left">
            Uzavřeno: {$task->deadline->format("j. n. H:i")}
        </div>
    {/if}
{else}
    <div class="time-left">
        Termín odevzdání: <strong>{$task->deadline->format("j. n., H:i")}</strong>
    </div>
{/if}
