<div class="assignment-header">
{if $task->isCreator}
    {if $task->timeLeft->invert === 0 }
    <div class="time-left">
        Termín odevzdání: <strong>{$task->deadline->format("j. n. H:i")}</strong>
    </div>
    {else}
    <div class="avatar small status">
        <i class="material-icons locked">lock</i>
    </div>
    <div class="time-left">
        Uzavřeno: <strong>{$task->deadline->format("j. n. H:i")}</strong>
    </div>
    {/if}
    {if $task->createClassification == 1}
    <a href="{plink :Front:Group:users do => students-studentsList-editGroupClassification, students-studentsList-idGroupClassification=>$task->idClassificationGroup, id=>$task->group->slug}" 
       class="btn gray no-shadow"><span class="hide-on-small-only">Oznámkovat</span><i class="material-icons hide-on-med-and-up">folder_open</i></a>
    {/if}
{else}
    {if $task->online == 1}
        {if $task->commit}
            <div class="avatar small status">
                <i class="material-icons done">done</i>
            </div>
            <div class="time-left">
                Odevzdáno: {$task->commit->created->format("j. n. H:i")}
                {if !empty($task->commit->updated)}(upraven {$task->commit->updated->format("j. n. H:i")}){/if}
            </div>
        {elseif $task->timeLeft->invert === 0}  
            <div class="time-left">Termín odevzdání: {$task->deadline->format("j. n. H:i")}</div> 
        {else}
            <div class="avatar small status">
                <i class="material-icons failed">lock</i>
            </div>
            <div class="time-left">
                Uzavřeno: {$task->deadline->format("j. n. H:i")}
            </div>
        {/if}
        <button type="button" data-link="{link editTaskCommit}" class="btn gray no-shadow submit-class-button">
            {if $task->commit}Upravit{else}Odevzdat{/if}
        </button>
    {else}
        {if $task->timeLeft->invert === 0}  
            <div class="time-left">Termín odevzdání: {$task->deadline->format("j. n. H:i")}</div> 
        {else}
            <div class="avatar small status">
                <i class="material-icons failed">lock</i>
            </div>
            <div class="time-left">
                Uzavřeno: {$task->deadline->format("j. n. H:i")}
            </div>
        {/if}
    {/if}
{/if}
</div>
