parameters:

php:
    date.timezone: Europe/Prague
    default_charset: 'UTF-8'


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days
    savePath: "%tempDir%/sessions"


extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22
    mailgun: App\Di\MailgunExt
    ftp: App\Di\FtpExt
