services:
    - App\Model\Manager\UserManager  
    - App\Model\Manager\MessageManager 
    - App\Model\Manager\GroupManager 
    - App\Model\Manager\NotificationManager
    - App\Model\Manager\FileManager
    - App\Model\Manager\PublicActionManager
    - App\Model\Manager\ClassroomManager
    - App\Model\Manager\TaskManager
    - App\Model\Manager\ScheduleManager
    - App\Model\Manager\NoticeManager
    - App\Model\Manager\ClassificationManager
    - App\Model\Manager\SearchManager
    - App\Model\Manager\SchoolManager
    - App\Model\Manager\ConversationManager
    - App\Model\Manager\FictiveUserManager
    - App\Model\Manager\TestManager

    - App\Mail\MailManager

    - App\FrontModule\Components\Stream\IStream
    - App\FrontModule\Components\Group\About\IGroupSettingsForm
    - App\FrontModule\Components\Group\About\IAboutGroup
    - App\FrontModule\Components\Stream\ICommitTaskForm
    - App\FrontModule\Components\TaskHeader\ITaskHeader
    - App\FrontModule\Components\Account\IAccountSettings
    - App\FrontModule\Components\Group\IStudentsList
    - App\FrontModule\Components\Group\IClassification
    - App\FrontModule\Components\Stream\IMessagesColumn
    - App\FrontModule\Components\Stream\IRightColumn
    - App\FrontModule\Components\PrivateMessageForm\IPrivateMessageForm
    - App\FrontModule\Components\TopPanel\ITopPanel
    - App\FrontModule\Components\Stream\MessageForm\IMessageForm
    - App\FrontModule\Components\Stream\ICommentForm
    - App\FrontModule\Components\Group\IClassmates
    - App\FrontModule\Components\Group\IAddUserForm
    - App\FrontModule\Components\Group\AddUserForm\IInviteForm
    - App\FrontModule\Components\Group\AddUserForm\IImportForm
    - App\FrontModule\Components\Group\AddUserForm\ICreateForm
    - App\FrontModule\Components\Account\IAccountActivated
    - App\FrontModule\Components\IStorage
    - App\FrontModule\Components\IClassification
    - App\FrontModule\Components\INoticeboard
    - App\FrontModule\Components\ISearchForm
    - App\FrontModule\Components\Test\ITestsList
    - App\FrontModule\Components\Test\IEditor
    - App\FrontModule\Components\Test\ITestFilling
    - App\FrontModule\Components\Test\ITestStart

    - App\PublicModule\Components\IContactForm