services:
	authorizator: App\Model\Manager\UserManager  
	messageManager: App\Model\Manager\MessageManager 
	groupManager: App\Model\Manager\GroupManager 
	privateMessageManager: App\Model\Manager\PrivateMessageManager
	notificationManager: App\Model\Manager\NotificationManager
	fileManager: App\Model\Manager\FileManager
	publicActionManager: App\Model\Manager\PublicActionManager
	classroomManager: App\Model\Manager\ClassroomManager
	materialManager: App\Model\Manager\MaterialManager
	taskManager: App\Model\Manager\TaskManager
	schedulelManager: App\Model\Manager\SchedulelManager
	noticeManager: App\Model\Manager\NoticeManager
	classificationManager: App\Model\Manager\ClassificationManager
	mailManager: App\Mail\MailManager

	streamFactory: App\FrontModule\Components\Stream\IStreamFactory
	noticeFormFactory: App\FrontModule\Components\Stream\MessageForm\NoticeForm\INoticeFormFactory 
	homeworkFormFactory: App\FrontModule\Components\Stream\MessageForm\HomeworkForm\IHomeworkFormFactory 
	materialsFormFactory: App\FrontModule\Components\Stream\MessageForm\MaterialsForm\IMaterialsFormFactory
	taskFormFactory: App\FrontModule\Components\Stream\MessageForm\TaskForm\ITaskFormFactory  
	groupSettingForm: App\FrontModule\Components\GroupSettingsForm\IGroupSettingsFormFactory  
	usersList: App\FrontModule\Components\Group\IUsersListFactory
	commitTaskForm: App\FrontModule\Components\Stream\ICommitTaskFormFactory
	taskHeader: App\FrontModule\Components\TaskHeader\ITaskHeader