services:
	authorizator: App\Model\Manager\UserManager  
	messageManager: App\Model\Manager\MessageManager 
	groupManager: App\Model\Manager\GroupManager 
	privateMessageManager: App\Model\Manager\PrivateMessageManager
	notificationManager: App\Model\Manager\NotificationManager
	fileManager: App\Model\Manager\FileManager
	publicActionManager: App\Model\Manager\PublicActionManager