{snippet comments}
<div class="card-comments {if count($comments) == 0}card-comments-empty{/if}"> 
        {if count($comments) > 0}  
        <div class="comments-header">
            <div  onclick="latoShowAllComments(this);" class="comments-count">
                {if count($comments) === 1}
                    {count($comments)} komenář
                {elseif count($comments) <= 4}
                    {count($comments)} komenáře
                {else}
                    {count($comments)} komenářů
                {/if}
            </div>     
        </div>
        <div class="comments-content">
           {foreach $comments as $comm}
                <div class="comment-row" {if !$iterator->isLast()}style="display: none;"{/if}>
                <a href="{plink Profile:default 'id'=>$comm->user->slug}" class="avatar small">
                    <img src="{$comm->user->profileImage}" alt="{$comm->user->name}">
                </a>
                <div class="comment-content">
                    <div class="comment-header">
                        <a href="{plink Profile:default 'id'=>$comm->user->slug}">{$comm->user->name} {$comm->user->surname}</a>
                        <div class="flex-spacer"></div>
                        <span>
                        {if $comm->sinceStart->d >= 1}
                            {$comm->created|date:"j. n."}
                        {else}
                            {$comm->created|date:"h:i"}
                        {/if}
                        </span>
                    </div>
                    <div class="comment-text {if $iterator->isLast()}truncate{/if}">{$comm->text|breaklines}</div>
                </div>
            </div>
           {/foreach}
        </div>
        {/if}
    <div class="comments-footer clearfix">
        {form form}
        <div class="avatar small">
            <img src="{$activeUser->profileImage}" alt="{$activeUser->name}">
        </div>
        <div class="textarea-wrapper">
            {input text class => 'materialize-textarea no-border'}
        </div>
        <button style="display: none;" class="btn waves-effect waves-dark refresh-wall-messages" type="submit" name="action">
            přidat
        </button>
        {/form}
    </div>
    <script>
        $(document).ready(function(){
            $(".card-comments .textarea-wrapper textarea").off('keyup').on('keyup', function(){
                if($(this).val().length > 0) {
                    $(this).parents(".comments-footer").find("button").show();
                } else {
                    $(this).parents(".comments-footer").find("button").hide();
                }
            });
        });
    </script>
</div>
{/snippet}

