{snippet comments}
<div class="card-comments {if count($comments) == 0}{/if}" data-message-id="{$id}"> 
    <div class="comments-block">
        <div class="comments-header">
            <div class="show-comments">
                {if count($comments) === 1}
                    {count($comments)} komenář
                {elseif count($comments) <= 4}
                    {count($comments)} komenáře
                {else}
                    {count($comments)} komenářů
                {/if}
                <i class="material-icons">expand_more</i>
            </div>            
        </div>
        {foreach $comments as $comm}
            <div class="comments-row">
                <a href="{plink Profile:default 'id'=>$comm->user->slug}" class="avatar tiny">
                    <img src="{$comm->user->profileImage}" alt="{$comm->user->name}" style="background: #ddd;">
                </a>
                <div class="comment-content main-thread">
                    <a href="#" class="comment-user">
                        {$comm->user->name} {$comm->user->surname}
                    </a>
                    <p>{$comm->text|breaklines}</p>
                    <ul class="comment-footer">
                        <li><a href="#" class="reply-button" data-reply-id="{$comm->id}" >Reagovat</a></li>
                        <li>{$comm->dateText}</li>
                    </ul>
                    {if is_array($comm->replies)}
                    <div class="comment-thread">                   
                        {foreach $comm->replies as $reply}
                        <div class="comments-row">
                            <a href="{plink Profile:default 'id'=>$reply->user->slug}" class="avatar tiny">
                                <img src="{$reply->user->profileImage}" alt="{$reply->user->name}" style="background: #ddd;">
                            </a>
                            <div class="comment-content">
                                <a href="#" class="comment-user">
                                    {$reply->user->name} {$reply->user->surname}
                                </a>
                                <p>{$reply->text|breaklines}</p>
                                <ul class="comment-footer">
                                    <li><a href="#" class="reply-button" data-reply-id="{$comm->id}" data-reply-name="{$reply->user->name}" >Reagovat</a></li>
                                    <li>{$reply->dateText}</li>
                                </ul>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    {/if}
                </div>
            </div>
        {/foreach}
    </div>
    <div class="comments-footer clearfix">
        {if $showForm}
            {form form}
                <div class="avatar tiny">
                    <img src="{$activeUser->profileImage}" alt="{$activeUser->name}">
                </div>
                <div class="textarea-wrapper">
                    {input text class => 'materialize-textarea no-border'}
                </div>
                <button style="display: none;" class="btn waves-effect waves-dark" type="submit" name="action">
                    přidat
                </button>
            {/form}
            <div class="form-row" style="display:none;" id="message-comment-reply-form-{$id}">
                {form replyForm}
                    <div class="avatar tiny">
                        <img src="{$activeUser->profileImage}" alt="{$activeUser->name}">
                    </div>
                    <div class="textarea-wrapper">
                        {input text class => 'materialize-textarea no-border'}
                    </div>
                    <button style="display: none;" class="btn waves-effect waves-dark" type="submit" name="action">
                        přidat
                    </button>
                {/form}
            </div>            
        {/if}
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".card-comments").off("keyup").on('keyup', function(e){
            if($(e.target).is("textarea")) {
                if($(e.target).val().length > 0) {
                    $(e.target).closest("form").find("button").show();
                } else {
                    $(e.target).closest("form").find("button").hide();
                }
            }            
        });
        
        $(".reply-button").off("click").on("click", function(e) {
            e.preventDefault();
            var messageId = $(this).closest('.card-comments').data("message-id");
            var thread = $(this).closest(".comment-content.main-thread").find(".comment-thread");
            if(thread.length === 0) {
                $(this).closest(".comment-content.main-thread").append('<div class="comment-thread"></div>');
                thread = $(this).closest(".comment-content.main-thread").find(".comment-thread");
            }
            var form = $("#message-comment-reply-form-" + messageId);
            form.find("input[name='idReply']").val($(this).data("reply-id"));         
     
            thread.append(form);
            form.show();
        });
    });
</script> 
{/snippet}

