<section class="main two-level-nav" id="students">
{if $groupMembers}
    <div class="container offset-1">
        <div class="row">
            <div class="col s12">
                <header class="page-header">
                    <a href="{link addClassificationToUsers!}" class="btn white no-shadow" id="add-all-user-classification-button">
                        Přidat známku
                    </a>
                    <button class="btn white no-shadow dropdown-trigger" id="user-action-button" data-target="action-dropdown" disabled="disabled">
                        Akce
                    </button>
                    <ul id="action-dropdown" class="dropdown-content">
                        <li><a href="{link addClassificationToUsers!}" id="add-user-classification-button" >Přidat známku</a></li>        
                        <li><a href="#" data-link="{plink Conversation:default}" id="send-message-user-button" >Poslat soukromou zprávu</a></li>
                        <li><a href="{link deleteUsers!}" id="delete-user-button" >Odebrat ze skupiny</a></li>
                    </ul>
                    <ul class="left options">
                        <li>
                            <button id="button-open-all-cards" data-status="close" class="btn-flat btn-icon">
                                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Otevřít všechny karty">visibility</i>
                            </button>
                        </li>
                        <li>
                            <a href="#add-users" class="btn-flat btn-icon modal-trigger">
                                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Přidat studenta">person_add</i>
                            </a>
                        </li>
                    </ul>
                </header>  
            </div>
        </div>
    </div>
    <div class="container offset-1">
        <div class="row">
            <div class="col s12">
                <form action="#">
                    <div class="section-header table-header">
                        <label for="select-all">
                            <input type="checkbox" class="filled-in" id="select-all" />
                            <span>Vybrat vše ({count($groupMembers)})</span>
                        </label> 
                    </div>
                    <script>
                         $(function () {                           
                            $('.collapsible-header').on('click', function (e) {
                                if($(e.target).parents(".dropdown-trigger").length) {
                                    e.stopPropagation();
                                }
                            });

                            $("#select-all").on("change", function (e) {
                                if ($(this).prop('checked')) {
                                    $(".user-checkbox").prop('checked', true);
                                } else {
                                    $(".user-checkbox").prop('checked', false);
                                }
                                if($(".user-checkbox:checked").length > 0) {
                                    $("#user-action-button").prop('disabled', false);
                                } else {
                                    $("#user-action-button").prop('disabled', true);
                                }
                            });
                            
                            $(".user-checkbox").on("change", function (e) {
                                if($(".user-checkbox:checked").length > 0) {
                                    $("#user-action-button").prop('disabled', false);
                                } else {
                                    $("#user-action-button").prop('disabled', true);
                                }
                                if($(".user-checkbox").length > 0 && $(".user-checkbox:not(:checked)").length == 0) {
                                    $("#select-all").prop('checked', true);
                                } else {
                                    $("#select-all").prop('checked', false);
                                }
                            });
                            
                            $("#button-open-all-cards").on("click", function() {
                                if($(this).data('status') === 'close') {
                                    $("#students-list-callaps").collapsible('open');
                                    $("#students-list-callaps li").addClass("active");
                                    $(this).data('status', 'open');
                                } else {
                                    $("#students-list-callaps").collapsible('close');
                                    $("#students-list-callaps li").removeClass('active');
                                    $(this).data('status', 'close');
                                }                          
                            });
                            
                            $("#delete-user-button").on("click", function(event) {
                                event.preventDefault();
                                var users = [];
                                $.each($(".user-checkbox:checked"), function(key, val) {
                                    users.push($(val).data('id'));
                                });

                                $.nette.ajax({
                                    url: $(this).attr('href'),
                                    method: 'POST',
                                    data: {
                                        'users': users
                                    },
                                    complete: function(data) {
                                        $('#remove-users-modal').modal('open');
                                    }
                                });
                            });
                            
                            $("#add-user-classification-button, #add-all-user-classification-button").on("click", function(event) {
                                startModalLoading('#user-classification-modal');
                                event.preventDefault();
                                var users = [];
                                if($(this).attr('id') === 'add-all-user-classification-button') {
                                    users = 'all';
                                } else {
                                    $.each($(".user-checkbox:checked"), function(key, val) {
                                        users.push($(val).data('id'));
                                    });
                                }
                                

                                $.nette.ajax({
                                    url: $(this).attr('href'),
                                    method: 'POST',
                                    data: {
                                        'users': users
                                    },
                                    complete: function(data) {
                                        showModalLoading('#user-classification-modal');
                                    }
                                });
                            });
                            
                            $("#send-message-user-button").on("click", function(event) {
                                event.preventDefault();
                                var users = [];
                                $.each($(".user-checkbox:checked"), function(key, val) {
                                    users.push($(val).data('slug'));
                                });
                                
                                var url = $(this).data('link') + '?users=' + users.join(',');
                                window.location.replace(url);
                            });
                        });
                        
                    </script>
                    {snippet memberList}
                    <ul id="students-list-callaps" class="collapsible popout table-body" >
                        {foreach $groupMembers as $member}
                        <li>
                            <div class="collapsible-header table-row">
                                <label for="user_{$member->id}">
                                    <input type="checkbox" class="filled-in user-checkbox" id="user_{$member->id}" data-id="{$member->id}" data-slug="{$member->slug}" />
                                    <span></span>
                                </label>
                                {if $member->isFictive}
                                    <div class="avatar small fictive-user">
                                        {$member->surname|substr:0,1}
                                    </div>
                                {else}
                                    <div class="avatar small">
                                        <img src="{$member->profileImage}">
                                    </div>
                                {/if}
                                <div class="title">
                                    <span>{$member->surname}</span>, {$member->name}
                                </div>
                                <div class="flex-spacer"></div>
                                <div n:if="$member->isFictive == 0" class="table-field middle-column">
                                    <a href="#" class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="user-action-dropdown-{$member->id}">
                                        <i class="material-icons">more_horiz</i>
                                    </a>
                                    <ul id="user-action-dropdown-{$member->id}" class="dropdown-content">
                                        <li><a href="{plink Profile:default 'id'=>$member->slug}">Zobrazit profil</a></li>
                                        <li><a href="{plink Conversation:default 'users'=>$member->slug}">Poslat soukromou zpravu</a></li>
                                    </ul>
                                    
                                    {* {if !empty($member->getClassification()->lastDate)}{$member->getClassification()->lastDate->format("j. n. Y")}{else}--{/if} *}
                                </div>
                                <div class="table-field classification">({count($member->getClassification()->items)})&nbsp;<strong>{$member->getClassification()->averageGrade ?: '—'}</strong></div>
                            </div>
                            <div class="collapsible-body">
                                <div class="classification-table">
                                    {if isset($member->getClassification()->items) && !empty($member->getClassification()->items)}
                                    {foreach $member->getClassification()->items as $classification}
                                    <div class="table-row">
                                        <div class="info">
                                            <a href="{link editGroupClassification! 'idGroupClassification'=>$classification->idClassificationGroup}" class="title truncate">{$classification->name}</a>
                                            <div class="date">
                                                {$classification->classificationDate->format("j. n. Y")}
                                            </div>
                                            <div class="flex-spacer"></div>
                                            <div class="classification">
                                                <strong>{$classification->grade ?: '—'}</strong>
                                            </div>
                                        </div>
                                        {if $classification->notice}
                                            <div class="note">{$classification->notice}</div>
                                        {/if}                                        
                                    </div>
                                    {/foreach}
                                    {else}
                                        <div class="table-row no-classification">Student nemá žádné hodnocení.</div>
                                    {/if}
                                </div>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                    {/snippet}
                </form>     
            </div>
        </div>
    </div>
{else}
    <div class="container empty-content-block offset-1">
        <div class="flex-spacer"></div>
        <div class="row">
            <div class="col s12">
                <div class="empty-content-icon modal-trigger" href="#add-users">
                    <i class="material-icons">person_add</i>
                </div>
                <h2>V této skupině nejsou žádní studenti</h2>
                <button class="btn white no-shadow empty-content-btn modal-trigger" id="no-students-btn" href="#add-users">Přidat studenta</button>
            </div>
        </div>
        <div class="flex-spacer"></div>
    </div>
{/if}

<!-- MODALS -->
{*<div id="new-classification-modal" class="modal modal-small">
    {snippet addClassificationForm}
        {control addClassificationForm}
    {/snippet}
</div>*}

<div id="user-classification-modal" class="modal modal-small">
    {snippet userClassificationForm}
        {control userClassificationForm}
    {/snippet}
</div>
<script>
    $(function () {
        $.nette.ext('newClassification', {
            start: function (jqXHR, settings) {
                if (settings.nette !== undefined && $(settings.nette.ui).hasClass('submit-classification')) {
                    jqXHR.done(function (data, textStatus, jqXHR) {
                        $('#new-classification-modal').modal('close');
                    });
                } else if (settings.nette !== undefined && $(settings.nette.ui).hasClass('add-user-classification')) {
                    jqXHR.done(function (data, textStatus, jqXHR) {
                        $('#user-classification-modal').modal('open');
                    });
                }
            }
        });
    });
    
</script>


<div id="send-message-modal" class="modal">
    {snippet sendMessageModal}
    <form action="{link sendMessageToUsers! 'confirmed' => true}" method="post" >
        <div class="modal-content">
            <div class="modal-header">
                <h3>Soukromá zpráva</h3>
                <div class="flex-spacer"></div>
                <div class="message-modal-users">
                    {ifset $confirmMessageUsers}
                        {foreach $confirmMessageUsers as $userConfirm}
                        <div class="avatar tiny">
                            <img src="{$userConfirm->profileImage}" alt="{if !empty($userConfirm->name)}{$userConfirm->name} {$userConfirm->surname}{/if}">
                            <input type="hidden" value="{$userConfirm->id}" name="users[]">
                        </div>
                        {/foreach}
                    {/ifset}
                </div>
            </div>
            <div class="form-row">
            <textarea class="materialize-textarea no-boer"  name="text" placeholder="Napište zprávu ..."></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                <input type="submit" class="waves-effect waves-light btn btn-confirm" value="Odeslat">
            </div>
        </div>
    </form>
    {/snippet}
</div>

<div id="remove-users-modal" class="modal modal-small">
    {snippet removeUsersModal}
    <form action="{link deleteUsers! 'confirmed' => true}" method="post" >
        <div class="modal-content">
            <h3>Odebrat ze skupiny</h3>
            <p>Opravdu si přejete odebrat následující studenty?</p>
            <ul class="custom-collection">
                {ifset $confirmDeleteUsers}
                    {foreach $confirmDeleteUsers as $userDelete}
                        <li>
                            <div class="item">
                                <img src="{$userDelete->profileImage}" alt="" class="avatar small">
                                <span class="title">{$userDelete->name} {$userDelete->surname}</span>
                                <input type="hidden" value="{$userDelete->id}" name="users[]">
                            </div>        
                        </li>
                    {/foreach}
                {/ifset}
            </ul>
        </div>
        <div class="modal-footer">
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                <input type="submit" class="waves-effect waves-light btn btn-confirm" value="Potvrdit">
            </div>
        </div>
    </form>
    {/snippet}
</div>
{control addUserForm}
</section>

