<a class="card assignment-preview" href="{plink Group:message 'idMessage'=>$task->message->id, 'id'=>$task->group->slug}">
    <div class="assignment-icon {$task->group->colorScheme}">
        <span class="avatar">{$task->group->shortcut|substr:0,1}</span>
    </div>
    <div class="assignment-content">
        <div class="assignment-info">
            <h3>{$task->title}</h3>
            <span>{*<strong>Povinnost</strong> | *}Termín odevzdání: <strong>{$task->deadline->format("j. n. Y")}</strong></span>
        </div>
        <div class="flex-spacer"></div>
    </div>
</a>