<div class="modal-bar">
    <button type="button" class="back-button">
        <i class="material-icons">arrow_back</i>
        <div class="label">Přidat studenty</div>
    </button>
</div>
<div class="modal-content">
    <h3>Vytvořit studenty</h3>
</div>