{if $isDetail}{include taskDetailHeader $message->task}{/if}
<div class="card flex-column {if $message->deleted == 1}card-flat{/if}" id="message-box-num_{$message->id}"> 
    <div class="card-action-header">
        <div class="avatar small">
            <img src="{$message->user->profileImage}">
        </div>
        <div class="user-name">{$message->user->name} {$message->user->surname}</div>
        <div class="flex-spacer"></div>
        <span class="card-date">{$message->created|date:"j. n."}</span>
        {include '../normal/menu.latte'}
    </div>
    <div class="card-action-content">
        <div class="info-header">
            <div class="avatar-spacer">
                <div class="avatar tiny colored">
                    <i class="material-icons">assignment</i>
                </div>
            </div>
            <h3 class="message-title">{$message->task->title}</h3>
            <div class="flex-spacer"></div>
            {if !$isDetail}
                {if $task->isCreator && $task->createClassification == 1}
                    <a href="{plink Group:usersClassification classificationGroupId=>$task->idClassificationGroup, id=>$task->group->slug}" class="btn gray no-shadow">Otevřít</a>
                {elseif !$task->isCreator}
                    <a href="{plink Group:message 'idMessage'=>$task->message->id, 'id'=>$task->group->slug}" class="btn gray no-shadow">Otevřít</a>
                {/if}
            {/if}
        </div>
        {if $task->timeLeft->invert === 0}
            <p>Termín odevzdání do <strong>{$task->deadline->format("j. n. G:i")}</strong></p>
        {else}
            <p>Uzavřeno v <strong>{$task->deadline->format("j. n. G:i")}</strong></p>
        {/if}        
        <ul class="atributes">
            {if !$task->isCreator && $task->online}
                {if $task->commit}
                    <li>Odevzdáno</li>
                {else}
                    <li>Neodevzdáno</li>
                {/if}
                {if !empty($task->commit->grade) && $task->commit->grade !== '—'}}
                    <li>Známka: <strong>{$task->commit->grade}</strong></li>
                {/if}
            {/if}
        </ul>
    </div>
</div>

{define taskDetailHeader $task}
    {if $task->isCreator}
        {if $task->createClassification == 1}
            <div class="card card-flat assignment-info">
                <div class="card-content">                
                    <div class="time-left">
                        Termín odevzdání: <strong>{$task->deadline->format("j. n., G:i")}</strong>
                    </div>
                </div>
            </div>
            <div class="card card-flat assignment-info">
                <div class="card-content">
                    {if $task->timeLeft->invert === 0 }
                    <div class="time-left">
                        Termín odevzdání: <strong>{$task->deadline->format("j. n., G:i")}</strong>
                    </div>
                    {else}

                    <div class="time-left">
                        Uzavřeno: {$task->deadline->format("j. n. G:i")}
                    </div>
                    {/if}
                    <div class="flex-spacer"></div>
                    <a href="{plink Group:usersClassification classificationGroupId=>$task->idClassificationGroup, id=>$task->group->slug}" 
                       class="btn gray no-shadow">Otevřít</a>
                </div>
            </div>
        {/if}
    {elseif $task->online == 1}
        {if $task->commit }
            <div class="card card-flat assignment-info">
                <div class="card-content">
                    <div class="time-left">
                        Termín odevzdání: <strong>{$task->deadline->format("j. n., G:i")}</strong>
                    </div>
                </div>
            </div>
            <div class="card card-flat assignment-info">
                <div class="card-content">
                    <div class="assignment-status">
                        <strong>{if !empty($task->commit->updated)}Upraveno {$task->commit->updated->format("j. n., G:i")}{else}Odevzdáno: {$task->commit->created->format("j. n., G:i")}{/if}</strong> 
                    </div>
                    <div class="flex-spacer"></div>
                    {if $task->commit && !empty($task->commit->grade) && $task->commit->grade !== '—'}
                        Známka: <strong>{$task->commit->grade}</strong>
                    {else}
                        <button type="button" data-link="{link editTaskCommit}" class="btn gray no-shadow submit-class-button">Upravit</button>
                    {/if}
                </div>
                <div class="card-content assignment-detail">
                    <div n:if="$task->commit->comment" class="assignment-comment">{$task->commit->comment}</div>
                    {if !empty($task->commit->files)}
                        <ul class="attachments_uploads" >
                        {foreach array_merge($task->commit->files['files'], $task->commit->files['media']) as $attach}
                        <li>
                            <a href="{$attach->fullPath|noescape}" target="_blank" class="attached-file">
                                <div class="file-name">{$attach->name}<span>({$attach->mime}, {$attach->created->format("j. n., G:i")})</span></div>
                            </a>
                        </li>
                        {/foreach}
                        </ul>
                    {/if}
                </div>
            </div>
        {elseif $task->timeLeft->invert === 0}
            <div class="card card-flat assignment-info">
                <div class="card-content">
                    <div class="time-left">
                        Termín odevzdání: <strong>{$task->deadline->format("j. n., G:i")}</strong>
                    </div>
                </div>
            </div>
            <div class="card card-flat assignment-info">
                <div class="card-content">
                    <div class="assignment-status">
                        <strong>Čeká na odevzdání</strong>
                    </div>
                    <div class="flex-spacer"></div>
                    <button type="button" data-link="{link editTaskCommit}" class="btn gray no-shadow submit-class-button">Odevzdat</button>
                </div>
            </div>
        {else}
            <div class="time-left">
                Uzavřeno: {$task->deadline->format("j. n. G:i")}
            </div>
        {/if}
    {else}
        <div class="time-left">
            Termín odevzdání: <strong>{$task->deadline->format("j. n., G:i")}</strong>
        </div>
    {/if}
    <script>
        $(".submit-class-button").off().on('click', function(e) {
            startModalLoading('#commit-task-modal');
            $.nette.ajax({
                url: $(this).data('link'),
                method: 'GET'
            }).done(function (msg) {
                showModalLoading('#commit-task-modal');
            });
        });
    </script>
{/define}