<div class="card flex-column {if $message->deleted == 1}card-flat{/if}" id="message-box-num_{$message->id}"> 
    <div class="card-action-header">
        <div class="message-type">
            <div class="avatar colored">G</div>
        </div>
        {include taskHeader $message->task}
    </div>
    <div class="card-header card-assignment-header">
        <div n:if="$message->priority == 1" class="topped"></div>
        <div n:if="$message->priority == 1" class="deleted"></div>
        <div class="name truncate">
            <div class="message-title">{$message->task->title}</div>
            <div class="user-name">{$message->user->name} {$message->user->surname}</div>
        </div>
        <span class="card-date">{$message->created|date:"j. n."}</span>
        {include '../normal/menu.latte'}
    </div>
    {include '../normal/attachments.latte'}
    {control commentForm-$message->id}
</div>
{define taskHeader $task}
    {if $task->isCreator}
        {if $task->timeLeft->invert === 0 }
        <div class="time-left">
            Termín odevzdání: <strong>{$task->deadline->format("j. n. G:i")}</strong>
        </div>
        {else}
        <div class="time-left">
            Uzavřeno: <strong>{$task->deadline->format("j. n. G:i")}</strong>
        </div>
        {/if}
        {if $task->createClassification == 1}
        <a href="{plink Group:usersClassification classificationGroupId=>$task->idClassificationGroup, id=>$task->group->slug}" 
           class="btn gray no-shadow"><span class="hide-on-small-only">Oznámkovat</span><i class="material-icons hide-on-med-and-up">folder_open</i></a>
        {/if}
    {else}
        {if $task->online == 1}
            {if $task->commit && !empty($task->commit->grade) && $task->commit->grade !== '—'}
                <div class="time-left">
                    <strong>Odevzdáno</strong> | Známka: <strong>{$task->commit->grade}</strong>
                </div> 
            {else}
                {if $task->commit}
                    <div class="time-left">
                        <strong>Odevzdáno</strong> | Termín odevzdání: <strong>{$task->deadline->format("j. n. G:i")}</strong> {*{$task->commit->created->format("j. n. G:i")}
                        {if !empty($task->commit->updated)}(upraven {$task->commit->updated->format("j. n. G:i")}){/if}*}
                    </div>
                {elseif $task->timeLeft->invert === 0}  
                    <div class="time-left">
                        Termín odevzdání: <strong>{$task->deadline->format("j. n. G:i")}</strong>
                    </div> 
                {else}
                    <div class="time-left">
                        <strong>Neodevzdáno</strong> | Uzavřeno: <strong>{$task->deadline->format("j. n. G:i")}</strong>
                    </div>
                {/if}
                {if $task->commit}
                    <a href="{plink Group:message 'idMessage'=>$task->message->id, 'id'=>$task->group->slug}" class="btn gray no-shadow">Otevřít</a>
                {else}
                    <button type="button" data-link="{link editTaskCommit}" class="btn gray no-shadow submit-class-button">Odevzdat</button>
                {/if}            
            {/if}
        {else}
            {if $task->timeLeft->invert === 0}  
                <div class="time-left">
                    Termín odevzdání: <strong>{$task->deadline->format("j. n. G:i")}</strong>
                </div> 
            {else}
                <div class="time-left">
                    Uzavřeno: <strong>{$task->deadline->format("j. n. G:i")}</strong>
                </div>
            {/if}
        {/if}
    {/if}
    <script>
        $(".submit-class-button").off().on('click', function(e) {
            startModalLoading('#commit-task-modal');
            $.nette.ajax({
                url: $(this).data('link'),
                method: 'GET'
            }).done(function (msg) {
                showModalLoading('#commit-task-modal');
            });
        });
    </script>
{/define}
