<!DOCTYPE html>
<html>
<head>
    {var $assetsVersion = 7}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    {* favicons *}
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
    </style>
    
    {if false}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- Roboto -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
        
        <!-- Starý link na google Roboto
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&amp;subset=latin-ext" rel="stylesheet">
        -->

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="/dist/bundle.js"></script>
    {else}
        <link type="text/css" rel="stylesheet" href="/lib/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/css/style.css?v={$assetsVersion}"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/lib/jquery-3.4.1.min.js"></script>       
        <script type="text/javascript" src="/lib/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="/js/userAutocomplete.js"></script>
        <script type="text/javascript" src="/lib/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/netteForms.js"></script>
        <script type="text/javascript" src="/js/nette.ajax.js"></script>
        <script type="text/javascript" src="/lib/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/js/lightbox/js/lightbox.js"></script>
        <script type="text/javascript" src="/js/core.js?v={$assetsVersion}"></script>
        <script type="text/javascript" src="/js/upload.js?v={$assetsVersion}"></script>
        <link href="/js/lightbox/css/lightbox.css" rel="stylesheet">
    {/if}
    {ifset $colorScheme}
        <link type="text/css" rel="stylesheet" href="/css/theme-{$colorScheme}.css"  media="screen,projection"/>
    {/ifset}
    <title>{ifset title}{include title|striptags} | {/ifset}Lato</title>
</head>
<body>
    {include content}
    {*<footer id="layout-footer">
    &copy; Lato.cz
    </footer>*}
        {if $user->isLoggedIn()}
	 <div id="chat-float" class="fixed-action-btn click-to-toggle" style="display: none; bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light" style="background-color: #009688"> 
                <i class="material-icons full-size">chat</i>
            </a>
            <ul>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
            </ul>
        </div>
        {/if}
        <div id="new-message" class="modal modal-small">
            {snippet newChatForm}
                {control newChatForm}
            {/snippet}
        </div>
        <div id="delete-confirm-modal" class="modal modal-small">
            <div class="modal-content">
                <h3 class="delete-title"></h3>
                <p class="delete-text"></p>
            </div>
            <div class="modal-footer">
                <div class="flex-spacer"></div>
                <div class="form-control">
                    <input type="hidden" name="confirm-delete-url">
                    <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                    <button type="button" class="waves-effect waves-light btn btn-confirm confirm">Potvrdit</button>
                </div>
            </div>
        </div>
        <script>  
            $(function () {
                $.nette.ext('showPrivateMessageFormModal', {
                    start: function (jqXHR, settings) {              
                        if(settings.nette !== undefined && $(settings.nette.ui).hasClass('show-new-private-message')) { 
                            $popup = $(settings.nette.ui).closest('div.modal');
                            jqXHR.done(function( data, textStatus, jqXHR ) {
                                $('#private-message-modal').modal('open');
                            });
                        } else if(settings.nette !== undefined && $(settings.nette.ui).hasClass('submit-message-form')) { 
                            jqXHR.done(function( data, textStatus, jqXHR ) {
                                $('#private-message-modal').modal('close');
                            });
                        }
                    }
                });
            });
        </script>
        
        
        
	{snippet flashMessages}
        <div id="flashMessagesWrapper" style="display:none;">
            <div n:foreach="$flashes as $key=>$flash" id="flashNum_{rand(1, 9999)}" n:class="flash" data-type="{$flash->type}">{$flash->message}</div>
        </div>
        <script>  
            $(function () {
                latoShowUpFlashMessages();
            });
        </script>
        {/snippet}
        
        {block scripts}
        
        <div class="hide">
        <div class="full-screen-loader-modal">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
            </div>
        </div>
        </div>
        <div id="date-picker-container"></div>
	<script>  
            $(function () {
                $.nette.init();
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
                $('#full-screen-loader-modal').modal({ dismissible: false, startingTop: '50%', endingTop: '50%', zindex: 9999});   
                /*$.get( {link getUserList!} , function(data) {
                    $('#userSearch').autocomplete({
                        data: JSON.parse(data.users)
                    });
                });*/
                $('select').formSelect();
                $('.collapsible').collapsible({ accordion: false });
                $('.dropdown-trigger:not(.to-left)').dropdown({ alignment: 'right' });
                $('.dropdown-trigger.to-left').dropdown({ alignment: 'left' });
                $('.tooltipped').tooltip();
            });
                  
        </script>
        {/block}
        <div id="button-loader" class="hide">
            <div class="preloader-wrapper small active" style="height: 30px; width: 30px; top: 5px; margin: 0px 20px;">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </div>
</body>
</html>