<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <!-- FAVICON -->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&amp;subset=latin-ext" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/lib/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
    {ifset $colorScheme}
        <link type="text/css" rel="stylesheet" href="/css/theme-{$colorScheme}.css"  media="screen,projection"/>
    {/ifset}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/dropzone.js"></script>
    <script type="text/javascript" src="/js/core.js"></script>
    <script type="text/javascript" src="/lib/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/netteForms.js"></script>
    <script type="text/javascript" src="/js/nette.ajax.js"></script>
    <script type="text/javascript" src="/js/upload.js"></script>
    <!--Let browser know website is optimized for mobile-->

    <script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>

    <script type="text/javascript" src="/js/lightbox/js/lightbox.js"></script>
    <link href="/js/lightbox/css/lightbox.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{ifset title}{include title|striptags} | {/ifset}Lato</title>
</head>
<body>
    {include content}
    {*<footer id="layout-footer">
    &copy; Lato.cz
    </footer>*}
        {if $user->isLoggedIn()}
	 <div id="chat-float" class="fixed-action-btn click-to-toggle" style="display: none; bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light" style="background-color: #009688"> 
                <i class="material-icons full-size">chat</i>
            </a>
            <ul>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
                <li><a class="btn-floating" style="background-image: url('/images/user1.png'); background-position: center; background-size: cover;"></a></li>
            </ul>
        </div>
        {/if}
        <div id="new-message" class="modal modal-small">
            {snippet privateMessageForm}
                {control privateMessageForm}
            {/snippet}
        </div>
        <script>  
            $(function () {
                $.nette.ext('showPrivateMessageFormModal', {
                    start: function (jqXHR, settings) {              
                        if(settings.nette !== undefined && $(settings.nette.ui).hasClass('show-new-private-message')) { 
                            $popup = $(settings.nette.ui).closest('div.modal');
                            jqXHR.done(function( data, textStatus, jqXHR ) {
                                $('#private-message-modal').modal('open');
                            });
                        } else if(settings.nette !== undefined && $(settings.nette.ui).hasClass('submit-message-form')) { 
                            jqXHR.done(function( data, textStatus, jqXHR ) {
                                $('#private-message-modal').modal('close');
                            });
                        }
                    }
                });
            });
        </script>
        
        
        
	{snippet flashMessages}
        <div id="flashMessagesWrapper" style="display:none;">
            <div n:foreach="$flashes as $key=>$flash" id="flashNum_{rand(1, 9999)}" n:class="flash" data-type="{$flash->type}">{$flash->message}</div>
        </div>
        <script>  
            $(function () {
                latoShowUpFlashMessages();
            });
        </script>
        {/snippet}
        
        {block scripts}
        
        <div id="full-screen-loader-modal" class="modal">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
            </div>
        </div>
	<script>  
            $(function () {
                $.nette.init();
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
                $('#full-screen-loader-modal').modal({ dismissible: false, startingTop: '50%', endingTop: '50%', zindex: 9999});   
                /*$.get( {link getUserList!} , function(data) {
                    $('#userSearch').autocomplete({
                        data: JSON.parse(data.users)
                    });
                });*/
                $('select').formSelect();
                $('.collapsible').collapsible({ accordion: false });
                $('.dropdown-trigger').dropdown();
            });
                  
        </script>
        {/block}
</body>
</html>
