{form form}
<div class="modal-content">
    <h2>Zapomenuté heslo</h2>
        <div class="form-row input-field">
            {input email}
            {label email}E-mail{/label}
        </div>
    <div class="form-controls">
        <button class="btn waves-effect waves-light" type="submit">Odeslat</button>
    </div>
</div>
{/form}
