<div class="card message flex-column {if !$test->setup->isVisible}postponed{/if} {if $test->message->displayed}displayed{/if}" data-message-id="{$test->message->id}"> 
    <div class="card-action-header">
        <div class="avatar small">
            <img src="{$test->author->profileImage}">
        </div>
        <div class="user-name">
            {$test->author->name} {$test->author->surname}
        </div>
        <div class="flex-spacer"></div>
        <span class="card-date">{$test->created|date:"j. n."}</span>
        <button type="button" class="btn-flat btn-icon dropdown-trigger card-options waves-effect waves-dark" data-target="test_dropdown_{$message->id}">
            <i class="material-icons">more_horiz</i>
        </button>
        {include testMenu $test, $activeGroup}
    </div>
    <div class="card-test-content">

                <h3 class="message-title">{$test->name}</h3>
                
                <div class="availability">
                    {if $test->setup->deadline}
                        Otevřeno do <strong>{$test->setup->deadline|date:"j. n. G:i"}</strong>
                    {else}
                        Otevřeno neomezeně
                    {/if}
                </div>
                
                <div class="test-range">
                    <i class="material-icons">assignment</i>
                </div>
                
                <ul class="attributes">
                    {if $test->setup->isCreator}
                        <li n:if="$test->setup->publicationTime">Datum vystavení <strong>{$test->setup->publicationTime|date:"j. n."}</strong></li>
                        <li>Splněno <strong>{$test->summary->studentsCount} / {$activeGroup->studentsCount}</strong></li>
                        <li>Průměrný výsledek <strong>{round($test->summary->studentsPercent)} %</strong></li>                           
                    {else}       
                        <li n:if="$test->summary->grade">Známka: <strong>{$test->summary->grade}</strong></li>
                        
                            {if $test->summary->filledCount > 0}
                                <li>Vyplněno <strong>{$test->summary->filledCount}-krát</strong></li>
                                <li>Průměrný výsledek <strong>{round($test->summary->percent)} %</strong></li>
                            {else}
                                <li><em>– čeká na odevzdání –</em></li>
                            {/if}

                        {*<li>{$test->setup->questionsCount} {if $test->setup->questionsCount == 1}otázka{elseif $test->setup->questionsCount < 5}otázky{else}otázek{/if} | {$test->setup->timeLimit/60} minut</li>  *}
                    {/if}
                </ul>
            
                {if !$test->setup->isCreator && ($test->setup->timeLeft == null || $test->setup->timeLeft->invert === 0)
                    && ($test->setup->numberOfRepetitions === null || $test->setup->numberOfRepetitions > $test->summary->filledCount)}  
                    <a href="{plink Group:testStart setupId=>$test->setupId}" class="btn gray no-shadow">Otevřít</a>
                {/if}
                {if $test->setup->isCreator}
                    <a href="{plink Group:usersClassification testSetupId=>$test->setup->id, id=>$test->setup->group->slug}" class="btn gray no-shadow">Prohlédnout</a>
                {/if}
        
        
        
    </div>
    {snippet message-info}{include '../Normal/info.latte' 'message' => $message}{/snippet}
    {control commentForm-$message->id}
</div>
{define testMenu $test, $activeGroup}
<ul id="test_dropdown_{$message->id}" class='dropdown-content'>
    <li><a href="#">Vytvořit kopii příspěvku</a></li>
    {if $activeGroup->relation === 'owner'}
        <li><a href="#" data-link="{link deleteTest! setupId=>$test->setupId}" class="delete-message-button refresh-wall-messages">Smazat</a></li>
        <li><a href="{link editTest! setupId=>$test->setupId}" data-show-popup-after="#test-setup-modal" class="edit-test-button ajax">Upravit test</a></li>
    {/if}
</ul>
{/define}