{block content}

        <div class="card z-depth-2">
            <div class="card-header flex-column">
                <h1>Registrace</h1>
            </div>
            <div class="card-content">
                {form registerForm}
                    <div class="row">
                        <div class="col s12 form-row">
                            {input email}
                        </div>
                        <div class="col s12 form-row">
                            {input name}
                        </div>
                        <div class="col s12 form-row">
                            {input surname}
                        </div>
                        <div class="col s12 form-row">
                            {input password1}
                        </div>
                        <div class="col s12 form-row">
                            {input password2}
                        </div>
                    </div>
                    <div class="flex-row form-controls">
                        {*<p class="remember-me">
                            Souhlasim
                        </p>*}
                        <div class="flex-spacer"></div>
                        <button class="btn waves-effect waves-light" type="submit" >Registrovat</button>
                    </div>
                    {*<div class="col s12 bottom-link">
                        <a href="{plink :Public:Homepage:lostPassword}">Podmínky používání</a>
                    </div>*}
                {/form}
            </div>
            <a href="{link Homepage:default}" class="card-footer">Přihlášení</a>
        </div>	
