{block content}
<div id="terms">
    <div class="container">
        <h1>Všeobecné obchodní podmínky</h1>
        <p>Vzájemná práva a povinnosti <strong>Uživatele</strong> a <strong>Provozovatele</strong> pramenící z užívání <strong>Aplikace</strong> se řídí těmito obchodními podmínkami:</p>
        <div class="terms-list">
            <ol>
                <li id="menu1" class="heading">
                    <span class="title">Definice</span>
                    <ol>
                        <li>V těchto obchodních podmínkách:
                            <ol>
                                <li><strong>"Provozovatel"</strong> je pan Mgr. Petr Šavelka, IČO 02823837 a pan Adam Navrátil, IČO 02856140.</li>
                                <li><strong>"Aplikace"</strong> znamená internetovou aplikaci s názvem Lato, mezi jejíž hlavní funkcionalitu patří elektronická podpora výuky a která je dostupná z internetové adresy www.lato.cz.</li>
                                <li><strong>"VOP"</strong> znamená tyto Všeobecné obchodní podmínky.</li>
                                <li><strong>"Smlouva"</strong> znamená smlouvu uzavřenou mezi Uživatelem a Provozovatelem, jejímž předmětem je poskytnutí Licence k užívání Aplikace Uživateli za podmínek uvedených v těchto VOP.</li>
                                <li><strong>"Licence"</strong> znamená nevýhradní licenci k užívání Aplikace za podmínek uvedených v těchto VOP.</li>
                                <li><strong>"Uživatel"</strong> znamená jakoukoli právnickou nebo fyzickou osobu odlišnou od Provozovatele, která užívá Aplikaci.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li id="menu2" class="heading">
                    <span class="title">Obecná ustanovení</span>
                    <ol>
                        <li>Provozovatel tímto vydává VOP pro užívání Aplikace.</li>
                        <li>Aplikace je bezplatně veřejně přístupná a její užívání se řídí těmito VOP.</li>
                        <li>Provozovateli náleží veškerá práva vyplývající z Licence dle autorského zákona k vlastnímu obsahu stránek, včetně textu a jejich designu, technických náčrtů, grafiky, veškerých vyobrazení na těchto stránkách, jakož i k výběru a způsobu uspořádání souborů obsažených v této Aplikaci.
                    </ol>
                </li>
                <li id="menu3" class="heading">
                    <span class="title">Užívání Aplikace</span>
                    <ol>
                        <li>Provozovatel uděluje Uživateli Licenci v rozsahu a za podmínek uvedených v uživatelském prostředí Aplikace, zejména uvedených u daného typu Uživatelského účtu.</li>
                        <li>Uživatel se zavazuje při užívání Aplikace jednat tak, aby jemu ani Provozovateli užíváním Aplikace nevznikla žádná škoda.</li>
                        <li>Uživatel se zavazuje, že se při používání Aplikace bude řídit těmito VOP, předpisy platnými na území České republiky a dobrými mravy a nebude jakkoliv poškozovat dobré jméno Provozovatele ani ostatní Uživatele.</li>    
                        <li>Uživatel se zavazuje, že zejména nebude:
                            <ol>
                                <li>zasahovat do bezpečnosti, technické podstaty nebo obsahu Aplikace nebo je jinak zneužívat,</li>
                                <li>zasahovat do používání Aplikace ze strany jiných uživatelů,</li>
                                <li>zasílat do Aplikace zprávy obsahující viry nebo jakýkoliv nebezpečný či škodlivý software,</li>
                                <li>vytvářet falešné zprávy za účelem falšování identity odesílatele či se pokoušet proniknout na účet jiných Uživatelů,</li>
                                <li>šířit prostřednictvím Aplikace zprávy či materiály porušující právní předpisy České republiky,</li>
                                <li>prostřednictvím Aplikace strojově vytěžovat databázi spojenou s Aplikací.</li>
                            </ol>
                        </li>
                    </ol>
                    </h2>
                </li>
                <li id="menu4" class="heading">
                    <span class="title">Odpovědnost za škodu</span>
                    <ol>
                        <li>Uživatel se tímto výslovně vzdává práva na náhradu škody od Provozovatele neúmyslně nebo nikoli z hrubé nedbalosti způsobené Provozovatelem porušením jakékoliv povinnosti Provozovatele uvedené ve Smlouvě v souvislosti s plněním Smlouvy nebo v těchto VOP.</li>
                    </ol>

                </li>
                <li id="menu5" class="heading">
                    <span class="title">Ochrana osobních údajů</span>
                    <ol>
                        <li>Provozovatel je ze zákona povinen chránit a zabezpečit poskytnuté osobní údaje. Provozovatel proto využívá různých efektivních a zabezpečovacích technologii k tomu, aby byly osobní údaje ochráněny před neoprávněným zpřístupněním nebo užitím.</li>
                        <li>Podrobnější informace o ochraně osobních údajů naleznete v <a href="{plink Homepage:gdpr}">Zásadách ochrany osobních údajů.</a></li>
                    </ol>
                </li>
                <li id="menu6" class="heading">
                    <span class="title">Závěrečná ustanovení</span>
                    <ol>
                        <li>Uživatel bere na vědomí, že Provozovatel uzavírá Smlouvu v běžném obchodním styku s větším počtem osob a Smlouvy jsou podle svého charakteru zavazující dlouhodobě k opětovným plněním stejného druhu s odkazem na tyto VOP. Smluvní strany činí nesporným, že z povahy závazků Provozovatele podle těchto VOP vyplývá a již před uzavřením Smlouvy vyplývala rozumná potřeba pozdější změny těchto VOP.</li>
                        <li>Smluvní strany tímto ujednávají, že Provozovatel může tyto VOP v přiměřeném rozsahu změnit, a zároveň ujednávají, že změna VOP bude Uživateli, jako druhé straně, oznámena prostřednictvím e-mailové zprávy odeslané na e-mailovou adresu zadanou Uživatelem do Aplikace.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <br />
        <p>V Rosicích dne 1. 1. 2019</p>
    </div>
</div>