 <div class="col s12 l4" id="stream-cards">
    <div class="card flex-column" id="assignment-card">
        {snippet task-section}
        <div class="card-header">
            <h3>Povinnosti</h3>
        </div>
        {if !empty($actualTasks)}
        <div class="card-content">
                {foreach $actualTasks as $task}
                    <a n:if="$iterator->isFirst()" href="{plink Group:message 'id'=>$task->group->slug, 'idMessage'=>$task->idMessage}" class="assignment-stream-item truncate">
                        <p class="remaining-time">Odevzdat do {$task->deadline->format('j. n. H:m')}</p>
                        <p class="secondary-par truncate">{$task->title} {if $task->title} • {/if} {$task->message->text}</p>     
                    </a>
                {/foreach}
        </div>
        <div  class="card-footer">
            <a n:if="count($actualTasks) > 1" href="{plink Homepage:tasks 'group'=>$task->group->slug}" class="btn-flat card-bottom">
                Zobrazit další
            </a>
        </div>
        {else}
        <div class="card-content">
            <p class="secondary-par">V tuto chvíli nemáte v předmětu zvěřejněny žádné povinnosti</p> 
        </div> 
        <div class="card-footer card-bottom"></div>
        {/if}
        {/snippet}
    </div>
    <div class="card flex-column" n:if="$lastClassificationChange">
        <div class="card-header">
            <h3>Známky</h3>
        </div>
        <div class="card-content">
            <p class="secondary-par">Poslední změna <strong>{$lastClassificationChange->format("j. n. H:m")}</strong></p>
        </div>
        <div class="card-footer">
            <a href="{plink :Front:Homepage:classification}" class="btn-flat card-bottom">
                Zobrazit
            </a>
        </div>
    </div>
    <div class="card flex-column">
        <div class="card-header">
            <h3>Filtrovat příspěvky</h3>
        </div>
        <div class="card-content">
            <p class="secondary-par">Zobrazit pouze následující položky</p>
            <form class="checkbox-form-block">
                <div class="form-row">
                    <input data-link="{link changeFilter! filter=>'all'}" type="radio" value="all" class="filled-in" id="opt1" name="stream-filter" checked="checked" />
                    <label for="opt1">Všechny příspěvky</label>
                </div>
                <div class="form-row">
                    <input data-link="{link changeFilter! filter=>'notice'}" type="radio" value="notice" class="filled-in" id="opt2" name="stream-filter" />
                    <label for="opt2">Oznámení</label>
                </div>
                <div class="form-row">
                    <input data-link="{link changeFilter! filter=>'material'}" type="radio" value="material" class="filled-in" id="opt3" name="stream-filter" />
                    <label for="opt3">Studijní materiály</label>
                </div>
                <div class="form-row">
                    <input data-link="{link changeFilter! filter=>'task'}" type="radio" value="task" class="filled-in" id="opt4" name="stream-filter" />
                    <label for="opt4">Povinnosti</label>
                </div>
            </form>
            <script>
                $("form input[name='stream-filter']").on('change', function (event) {
                    $.nette.ajax({
                        url: $(this).data('link'),
                        method: 'GET'
                    });
                });
            </script>
        </div>
    </div>

    <div n:if="$relation == 'owner'" class="card flex-column">
        <div class="card-header">
            <h3>Výpis příspěvků</h3>
        </div>
        <div class="card-content clearfix">
            {form streamSettingsForm id=>"streamSettingsForm", class=>'ajax'}
            <div class="switch-row">
                <p class="secondary-par left">Zobrazit smazané položky</p>
                <div class="switch right">
                    <label>
                        {input showDeleted:}
                        <span class="lever"></span>
                    </label>
                </div> 
            </div>
            {/form}
            <script>
            $(document).ready(function () {
                $("#streamSettingsForm input[type='checkbox']").on('change', function () {
                    $("#streamSettingsForm").submit();
                });
            });
            </script>
        </div>
        <div class="card-footer"></div>
    </div>
</div>