{snippet comments}
<div class="card-comments">   
        <div class="comments-header">
            {if count($comments) > 0}
            <a href="#!" class="show-comments item waves-effect waves-dark"><i class="material-icons">comment</i></a>
            <div class="comments-count">{count($comments)}</div>
            <div class="flex-spacer"></div>
            {foreach $discutionMembers as $member}
            <a href="{plink Profile:default 'id'=>$member->urlId}" class="avatar item"><img  src="{$member->profileImage}" alt="{$member->name}"></a>
            {/foreach}
        </div>
        <div class="comments-content">
           {foreach $comments as $comm}
           <div class="comment-row">
                <a href="{plink Profile:default 'id'=>$member->urlId}" class="avatar small">
                    <img src="{$comm->user->profileImage}" alt="{$comm->user->name}">
                </a>
                <div class="comment-content">
                    <div class="comment-header">
                        <a href="{plink Profile:default 'id'=>$member->urlId}">{$comm->user->name} {$comm->user->surname}</a>
                        <div class="flex-spacer"></div>
                        {if $comm->sinceStart->d >= 1}
                            <span>{$comm->created|date:"j. n."}</span>
                        {elseif $comm->sinceStart->h > 1}
                            <span>Před {$comm->sinceStart->h} hodinami</span>
                        {elseif $comm->sinceStart->i > 1}
                            <span>Před {$comm->sinceStart->i} minutami</span>
                        {else}
                            <span>Právě teď</span>
                        {/if}
                    </div>
                    <div class="comment-text">{$comm->text|escape|nl2br|noescape}</div>
                </div>
            </div>
           {/foreach}
           {/if}
        </div>
    <div class="comments-footer clearfix">
        {form form}
        <div class="avatar small">
            <img src="{$activeUser->profileImage}" alt="{$activeUser->name}">
        </div>
        <div class="textarea-wrapper">
            {input text class => 'materialize-textarea no-border'}
        </div>
        <button class="btn btn-flat waves-effect waves-dark" type="submit" name="action">
            <i class="material-icons">send</i>
        </button>
        

        {/form}
    </div>
</div>
{/snippet}

