<div class="col s12 l8">
    {if $streamPermission['addMessages']}
    <a href="#select-post-type-modal" class="card create-post modal-trigger">
        <div class="avatar left">
            <img src="{$activeUser->profileImage}" alt="{$activeUser->name}">
        </div>
        <div class="create-post-label left">
            Chcete ostatním něco sdělit?
        </div>
    </a>
    <!-- Modal Structure -->

    <div id="select-post-type-modal" class="modal modal-small">
        <div class="modal-content">
            <h3>Vyberte typ příspěveku</h3>
            <ul id="select-post-type">
                <li><a href="{link setMessageType! messageType=>1}" class="ajax change-popup-type-button"><i class="material-icons">message</i><span class="title">Vytvořit oznámení</span></a></li>
                <li><a href="{link setMessageType! messageType=>2}" class="ajax change-popup-type-button"><i class="material-icons">school</i><span class="title">Vložit studijní materiál</span></a></li>
                <li><a href="{link setMessageType! messageType=>3}" class="ajax change-popup-type-button"><i class="material-icons">event</i><span class="title">Vytvořit připomenutí</span></a></li>
                <li><a href="{link setMessageType! messageType=>4}" class="ajax change-popup-type-button"><i class="material-icons">assignment</i><span class="title">Vytvořit úkol</span></a></li>
            </ul>                                        
        </div>
        <div class="modal-footer clearfix">
            <div class="modal-footer-note"> 
                <a href="" class="colored">
                    <i class="material-icons">help</i>
                    <div class="note-label">Nápověda</div>
                </a>
            </div>
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->

    <script>  
        $(document).ready(function(){
            $.nette.ext('hideAjaxSubmitModal', {
                start: function (jqXHR, settings) {              
                    if(settings.nette !== undefined && $(settings.nette.ui).hasClass('hide-modal-ajax-submit')) { 
                        $popup = $(settings.nette.ui).closest('div.modal');
                        jqXHR.done(function( data, textStatus, jqXHR ) {
                            if(data.invalidForm === undefined || !data.invalidForm) {
                                $popup.closeModal();
                                $('html, body').animate({
                                    scrollTop: $('#message-box-num_' + data.idMessage).offset().top
                                }, 700);
                            }
                        });
                    } else if(settings.nette !== undefined && $(settings.nette.ui).hasClass('change-popup-type-button')) { 
                        $('#select-post-type-modal').closeModal();
                        jqXHR.done(function( data, textStatus, jqXHR ) {
                            if(data.invalidForm === undefined || !data.invalidForm) {
                                $('#create-post-modal').openModal();
                            }
                        });
                    } else if(settings.nette !== undefined && $(settings.nette.ui).hasClass('open-commit-task')) { 
                        jqXHR.done(function( data, textStatus, jqXHR ) {
                            if(data.invalidForm === undefined || !data.invalidForm) {
                                $('#commit-task-modal').openModal();
                            }
                        });
                    } else if(settings.nette !== undefined && $(settings.nette.ui).hasClass('delete-commit-attachment')) { 
                        jqXHR.done(function( data, textStatus, jqXHR ) {
                            if(data.invalidForm === undefined || !data.invalidForm) {
                                $('#commit-task-modal .attachments li[data-file-id="' + data.idFile + '"]').remove();
                            }
                        });
                    }
                }
            });
        });   

    </script>
    
    <div id="create-post-modal" class="modal">
        {snippet messageForm}
            {control messageForm}
        {/snippet}
    </div>
    <div id="commit-task-modal" class="modal modal-small">
        {snippet commitTaskForm}
            {control commitTaskForm}
        {/snippet}
    </div>
    {/if}
    {snippet messages}
    {foreach $messages as $message}  
    <div class="card flex-column" id="message-box-num_{$message->id}"> 
        {if $message->idType === 4}
        <div class="assignment">
            {if empty($message->task->commit)}
                <div class="icon-circle"><i class="material-icons">access_time</i></div>
                <div class="time-left">
                    {$message->task->timeLeft|timeDifferceText|noescape}
                </div>
                <div class="flex-spacer"></div>
                <a href="{link setTaskCommit! idTask=>$message->task->idTask}" class="btn ajax gray open-commit-task">Odevzdat</a>
            {else}
                <div>Úkol odevzdán dne {$message->task->commit->created->format("j. n.")} v {$message->task->commit->created->format("H:i")}</div>
                <div class="flex-spacer"></div>
                <a href="{link editTaskCommit! idCommit=>$message->task->commit->idCommit}" class="btn ajax gray open-commit-task">Upravit</a>
            {/if}
        </div>  
        {/if}  
        <div class="card-header">
            {if $message->priority == 1}<div class="topped"></div>{/if}
            {if $message->deleted == 1}<div class="deleted"></div>{/if}
            <a href="{plink Profile:default 'id'=>$message->user->urlId}" class="avatar">
                <img src="{$message->user->profileImage}" alt="{$message->user->name}">
            </a>
            <h3 class="name truncate">
                <a href="{plink Profile:default 'id'=>$message->user->urlId}">{$message->user->name} {$message->user->surname}</a>
            </h3>
            <span class="card-date">{$message->getCreated()|date:"j. n."}</span>
            <a class="btn-flat btn-icon dropdown-button card-options waves-effect waves-dark" data-activates="message_dropdown_{$message->id}" data-beloworigin="true" data-alignment="right" data-constraintwidth="false">
                <i class="material-icons">more_vert</i>
            </a>
            <ul id='message_dropdown_{$message->id}' class='dropdown-content'>
                <li><a href="#share-post_{$message->id}" class="modal-trigger">Sdílet příspěvek</a></li>
                {if $streamPermission['topAllMessages'] || ($activeUser->id === $message->user->id && $streamPermission['topOwnMessages'])}
                {if !$message->priority}
                <li><a href="{link topMessage! idMessage=>$message->id}" class="ajax">Přesunout nahoru</a></li>
                {else}
                <li><a href="{link topMessage! idMessage=>$message->id, enable=>false}" class="ajax">Zrušit přesunutí</a></li>
                {/if}
                {/if}
                {if !$message->followed}
                <li><a href="{link followMessage! idMessage=>$message->id}" class="ajax">Sledovat</a></li>
                {else}
                <li><a href="{link followMessage! idMessage=>$message->id, enable=>false}" class="ajax">Zrušit sledování</a></li>
                {/if}
                {if $streamPermission['removeAllMessages'] || ($activeUser->id === $message->user->id && $streamPermission['removeOwnMessages'])}
                <li class="divider"></li>
                <li><a href="{link deleteMessage! idMessage=>$message->id}" class="ajax">Smazat</a></li>
                {/if}
            </ul>
            <div id="share-post_{$message->id}" class="modal">
                <div class="modal-content">
                    <h3>Sdílení</h3>
                    <form method="post" action="{link shareMessage! idMessage=>$message->id}">
                    <div>Sdílet se skupinou</div>
                    <div class="row">
                        <div class="col s12">
                          <div class="row">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">textsms</i>
                              <input type="text" name="group" id="autocomplete-input" class="autocomplete">
                              <label for="autocomplete-input">Vyberte skupinu</label>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="form-control">
                        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat" >Zrušit</button>
                        <button class="btn waves-effect waves-light hide-modal-ajax-submit" type="submit" name="send" >Sdílet</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-content clearfix">
            <p>{$message->getText()|escape|nl2br|noescape}</p>

            {ifset $message->attachments['files']}
            <ul class="attachments">
                {foreach $message->attachments['files'] as $file}  
                <li>
                    <a href="https://cdn.lato.cz/{$file['path']}/{$file['filename']}" target="_blank" class="attached-file">
                        <div class="attachment-icon document"><i class="material-icons">{if $file['type'] == 1 }image{elseif $file['type'] == 3}insert_drive_file{elseif $file['type'] == 4}equalizer{elseif $file['type'] == 5}slideshow{else}attachment{/if}</i></div>
                        <div class="attachment-label truncate">{$file['filename']}</div>   
                    </a>
                </li>
                {/foreach}
            </ul>
            {/ifset}
        </div>
        {ifset $message->attachments['media']}
        <div class="media-container clearfix">
            {foreach $message->attachments['media'] as $media}
            <div class="{if $iterator->first}img-full-size{else}img-half-size{/if}" style="background-image: url('https://cdn.lato.cz/{$media['path']|noescape}/{$media['filename']|noescape}');"></div>
            {/foreach}
        </div>
        {/ifset}
        {control commentForm-$message->id}
    </div>
    {/foreach}
    {/snippet}



    <div class="card empty-card flex-column">
        <div class="card-header">
            <div class="user-img">
            </div>
        </div>
        <div class="card-content clearfix">
            <div class="empty-line" style="width: 80%;"></div>
            <div class="empty-line" style="width: 90%;"></div>
            <div class="empty-line" style="width: 30%;"></div>
            
            <!--<ul class="attachments">
                <li>
                    <a href="" class="attached-file">
                        <div class="attachment-icon"></div>
                        <div class="attachment-label">
                            <div class="empty-line" style="width: 40%;"></div>
                        </div>   
                    </a>
                </li>
                <li>
                    <a href="" class="attached-file">
                        <div class="attachment-icon"></div>
                        <div class="attachment-label">
                            <div class="empty-line" style="width: 40%;"></div>
                        </div>   
                    </a>
                </li>
            </ul>-->
        </div>
        <div class="comments-footer clearfix"></div>
    </div>
    <script>  
        $(document).ready(function(){
            $('.modal-trigger-create-message').leanModal({
                ready: function() { 
                    var notHide = false;
                    var onWrapper = false;
                    $('.lean-overlay').on('dragenter', function(){
                        onWrapper = true;
                        $("#messageContentDropzone").css('border', '3px dashed grey');
                        $("#messageContentDropzone").text("Přesuňte soubor prosím zde");
                        $("#messageContentDropzone").show();
                    });
                    $('.lean-overlay').on('dragleave', function() {
                        if(!notHide) {
                            $("#messageContentDropzone").hide();  
                        }
                        onWrapper = false;
                    });
                    $(".modal-footer").on('dragenter', function(){
                        $("#messageContentDropzone").show();
                    });

                    $('#messageContentDropzone').on('dragenter', function(){
                        notHide = true;
                        $("#messageContentDropzone").css('border', '3px dashed red');
                        $("#messageContentDropzone").text("Upuštěním soubor přiložíte do zprávy");
                    });
                    $('#messageContentDropzone').on('dragleave', function(){
                        notHide = false;
                        $("#messageContentDropzone").css('border', '3px dashed grey');
                        $("#messageContentDropzone").text("Přesuňte soubor prosím zde");
                        if(!onWrapper) {
                            $("#messageContentDropzone").hide(); 
                        }
                    });
                    $('#messageContentDropzone').on('drop', function(){
                        notHide = false;
                        onWrapper = false;
                        $("#messageContentDropzone").hide(); 
                    });
                }
            });
            
            $('input.autocomplete').autocomplete({
                data: {
                  {foreach $userGroups as $group}
                  {$group->name}: {$group->id}{if !$iterator->isLast()},{/if}
                  {/foreach}
                }
            });      
        });
    </script>
</div>