<div class="col s12 l8">
    <a href="#create-post-modal" class="card create-post clearfix modal-trigger-create-message">
        <div class="user-img left">
            <img src="{$activeUser->profileImage}" alt="{$activeUser->name}">
        </div>
        <div class="create-post-label left">
            Chcete ostatním něco sdělit?
        </div>
    </a>
    <!-- Modal Structure -->
    <div id="create-post-modal" class="modal">
        {control messageForm}
    </div>
    {snippet messages}
    {foreach $messages as $message}  
    <div class="card clearfix">
        <div class="card-header">
            <a href="{plink Profile:default 'idUser'=>$message->user->id}" class="user-img">
                <img src="{$message->user->profileImage}" alt="{$message->user->name}">
            </a>
            <h2>
                <a href="{plink Profile:default 'idUser'=>$message->user->id}">{$message->user->name} {$message->user->surname}</a>
                <span>Publikováno {$message->getCreated()|date:"j. n. Y v H:i"}</span>
            </h2>
            <a class="btn-flat btn-icon dropdown-button card-options" data-activates="card1-options-window" data-beloworigin="true" data-alignment="right" data-constraintwidth="false">
                <i class="material-icons">more_vert</i>
            </a>
            <ul id='card1-options-window' class='dropdown-content'>
                <li><a href="#!">Nastavení skupiny</a></li>
                <li><a href="#!">Opustit skupinu</a></li>
            </ul>
        </div>
        <div class="card-content clearfix">
            <p>{$message->getText()|escape|nl2br|noescape}</p>
            {ifset $message->attachments['media']}
            <div class="media-container clearfix">
                {foreach $message->attachments['media'] as $media}
                <div class="{if $iterator->first}img-full-size{else}img-half-size{/if}" style="background-image: url('https://cdn.lato.cz/{$media['path']|noescape}/{$media['filename']|noescape}');"></div>
                {/foreach}
            </div>
            {/ifset}            
            {ifset $message->attachments['files']}
            <ul class="attachments">
                {foreach $message->attachments['files'] as $file}  
                <li>
                    <a href="https://cdn.lato.cz/{$file['path']}/{$file['filename']}" target="_blank" class="attached-file">
                        <div class="attachment-icon document"><i class="material-icons">{if $file['type'] == 1 }image{elseif $file['type'] == 3}spreadsheet{elseif $file['type'] == 4}presentation{else}unknown{/if}</i></div>
                        <div class="attachment-label truncate">{$file['filename']}</div>   
                    </a>
                </li>
                {/foreach}
            </ul>
            {/ifset}
        </div>
        
        {control commentForm-$message->id}
    </div>
    {/foreach}
    {/snippet}



    <div class="card empty-card clearfix">
        <div class="card-header">
            <div class="user-img">
            </div>
        </div>
        <div class="card-content clearfix">
            <div class="empty-line" style="width: 80%;"></div>
            <div class="empty-line" style="width: 90%;"></div>
            <div class="empty-line" style="width: 30%;"></div>
            
            <!--<ul class="attachments">
                <li>
                    <a href="" class="attached-file">
                        <div class="attachment-icon"></div>
                        <div class="attachment-label">
                            <div class="empty-line" style="width: 40%;"></div>
                        </div>   
                    </a>
                </li>
                <li>
                    <a href="" class="attached-file">
                        <div class="attachment-icon"></div>
                        <div class="attachment-label">
                            <div class="empty-line" style="width: 40%;"></div>
                        </div>   
                    </a>
                </li>
            </ul>-->
        </div>
        <div class="comments-footer clearfix"></div>
    </div>
<script>  
    $(document).ready(function(){
        $('.modal-trigger-create-message').leanModal({
            ready: function() { 
                var notHide = false;
                var onWrapper = false;
                $('.lean-overlay').on('dragenter', function(){
                    onWrapper = true;
                    $("#messageContentDropzone").css('border', '3px dashed grey');
                    $("#messageContentDropzone").text("Přesuňte soubor prosím zde");
                    $("#messageContentDropzone").show();
                });
                $('.lean-overlay').on('dragleave', function() {
                    if(!notHide) {
                        $("#messageContentDropzone").hide();  
                    }
                    onWrapper = false;
                });
                $(".modal-footer").on('dragenter', function(){
                    $("#messageContentDropzone").show();
                });

                $('#messageContentDropzone').on('dragenter', function(){
                    notHide = true;
                    $("#messageContentDropzone").css('border', '3px dashed red');
                    $("#messageContentDropzone").text("Upuštěním soubor přiložíte do zprávy");
                });
                $('#messageContentDropzone').on('dragleave', function(){
                    notHide = false;
                    $("#messageContentDropzone").css('border', '3px dashed grey');
                    $("#messageContentDropzone").text("Přesuňte soubor prosím zde");
                    if(!onWrapper) {
                        $("#messageContentDropzone").hide(); 
                    }
                });
                $('#messageContentDropzone').on('drop', function(){
                    notHide = false;
                    onWrapper = false;
                    $("#messageContentDropzone").hide(); 
                });
            }
        });
    });    
</script>
</div>