<div class="col s12 l8">

    {if $streamPermission['addMessages']}
    <a href="#select-post-type-modal" class="card create-post clearfix modal-trigger">
        <div class="avatar left">
            <img src="{$activeUser->profileImage}" alt="{$activeUser->name}">
        </div>
        <div class="create-post-label left">
            Chcete ostatním něco sdělit?
        </div>
    </a>
    <!-- Modal Structure -->

    <div id="select-post-type-modal" class="modal modal-small">
        <div class="modal-content">
            <h3>Vyberte typ příspěveku</h3>
            <ul id="select-post-type">
                <li><a href="{link setMessageType! messageType=>1}" class="ajax"><i class="material-icons">message</i><span class="title">Vytvořit oznámení</span></a></li>
                <li><a href="{link setMessageType! messageType=>2}" class="ajax"><i class="material-icons">school</i><span class="title">Vložit studijní materiál</span></a></li>
                <li><a href="{link setMessageType! messageType=>3}" class="ajax"><i class="material-icons">event</i><span class="title">Vytvořit připomenutí</span></a></li>
                <li><a href="{link setMessageType! messageType=>4}" class="ajax"><i class="material-icons">assignment</i><span class="title">Vytvořit úkol</span></a></li>
            </ul>                                        
        </div>
        <div class="modal-footer clearfix">
            <a href="#" class="modal-footer-help"> 
                <i class="material-icons">help</i>
                <div class="help-label">Nápověda</div>
            </a>
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->

    <script>  
        $(document).ready(function(){
            $("#select-post-type a").on("click", function(e){
                $('#create-post-modal').openModal();
                $('#select-post-type-modal').closeModal();
            });
            
            $.nette.ext('hideAjaxSubmitModal', {
                start: function (jqXHR, settings) {              
                    if(settings.nette !== undefined && $(settings.nette.ui).hasClass('hide-modal-ajax-submit')) { 
                        $popup = $(settings.nette.ui).closest('div.modal');
                        jqXHR.done(function( data, textStatus, jqXHR ) {
                            if(data.invalidForm === undefined || !data.invalidForm) {
                                $popup.closeModal();
                            }
                        });
                    }
                }
            });
        });   

    </script>
    
    <div id="create-post-modal" class="modal">
        {snippet messageForm}
        {control messageForm}
        {/snippet}
    </div>
    {/if}
    {snippet messages}
    {foreach $messages as $message}  
    <div class="card flex-column" id="message-box-num_{$message->id}">   
        <div class="card-header">
            {if $message->priority == 1}<div class="topped"></div>{/if}
            <div class="card-title">
                <a href="{plink Profile:default 'idUser'=>$message->user->id}" class="avatar">
                    <img src="{$message->user->profileImage}" alt="{$message->user->name}">
                </a>
                <h3 class="truncate">
                    <a href="{plink Profile:default 'idUser'=>$message->user->id}">{$message->user->name} {$message->user->surname}</a>
                </h3>
                <span class="card-date">{$message->getCreated()|date:"j. n."}</span>
                <a class="btn-flat btn-icon dropdown-button card-options" data-activates="message_dropdown_{$message->id}" data-beloworigin="true" data-alignment="right" data-constraintwidth="false">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul id='message_dropdown_{$message->id}' class='dropdown-content'>
                    <li><a href="#share-post" class="modal-trigger">Sdílet příspěvek</a></li>

                    <div id="share-post" class="modal">
                        sdílení
                    </div>
                    {if $streamPermission['topAllMessages'] || ($activeUser->id === $message->user->id && $streamPermission['topOwnMessages'])}
                    {if !$message->priority}
                    <li><a href="{link topMessage! idMessage=>$message->id}">Přesunout nahoru</a></li>
                    {else}
                    <li><a href="{link topMessage! idMessage=>$message->id, enable=>false}">Zrušit přesunutí</a></li>
                    {/if}
                    {/if}
                    {if !$message->followed}
                    <li><a href="{link followMessage! idMessage=>$message->id}">Sledovat</a></li>
                    {else}
                    <li><a href="{link followMessage! idMessage=>$message->id, enable=>false}">Zrušit sledování</a></li>
                    {/if}
                    {if $streamPermission['removeAllMessages'] || ($activeUser->id === $message->user->id && $streamPermission['removeOwnMessages'])}
                    <li class="divider"></li>
                    <li><a href="{link deleteMessage! idMessage=>$message->id}">Smazat</a></li>
                    {/if}
                </ul>
            </div>
        </div>
        <div class="card-content clearfix">
            <p>{$message->getText()|escape|nl2br|noescape}</p>
            {ifset $message->attachments['media']}
            <div class="media-container clearfix">
                {foreach $message->attachments['media'] as $media}
                <div class="{if $iterator->first}img-full-size{else}img-half-size{/if}" style="background-image: url('https://cdn.lato.cz/{$media['path']|noescape}/{$media['filename']|noescape}');"></div>
                {/foreach}
            </div>
            {/ifset}            
            {ifset $message->attachments['files']}
            <ul class="attachments">
                {foreach $message->attachments['files'] as $file}  
                <li>
                    <a href="https://cdn.lato.cz/{$file['path']}/{$file['filename']}" target="_blank" class="attached-file">
                        <div class="attachment-icon document"><i class="material-icons">{if $file['type'] == 1 }image{elseif $file['type'] == 3}insert_drive_file{elseif $file['type'] == 4}equalizer{elseif $file['type'] == 5}videocam{else}help_outline{/if}</i></div>
                        <div class="attachment-label truncate">{$file['filename']}</div>   
                    </a>
                </li>
                {/foreach}
            </ul>
            {/ifset}
        </div>
        
        {control commentForm-$message->id}
    </div>
    {/foreach}
    {/snippet}



    <div class="card empty-card clearfix">
        <div class="card-header">
            <div class="user-img">
            </div>
        </div>
        <div class="card-content clearfix">
            <div class="empty-line" style="width: 80%;"></div>
            <div class="empty-line" style="width: 90%;"></div>
            <div class="empty-line" style="width: 30%;"></div>
            
            <!--<ul class="attachments">
                <li>
                    <a href="" class="attached-file">
                        <div class="attachment-icon"></div>
                        <div class="attachment-label">
                            <div class="empty-line" style="width: 40%;"></div>
                        </div>   
                    </a>
                </li>
                <li>
                    <a href="" class="attached-file">
                        <div class="attachment-icon"></div>
                        <div class="attachment-label">
                            <div class="empty-line" style="width: 40%;"></div>
                        </div>   
                    </a>
                </li>
            </ul>-->
        </div>
        <div class="comments-footer clearfix"></div>
    </div>
    <script>  
        $(document).ready(function(){
            $('.modal-trigger-create-message').leanModal({
                ready: function() { 
                    var notHide = false;
                    var onWrapper = false;
                    $('.lean-overlay').on('dragenter', function(){
                        onWrapper = true;
                        $("#messageContentDropzone").css('border', '3px dashed grey');
                        $("#messageContentDropzone").text("Přesuňte soubor prosím zde");
                        $("#messageContentDropzone").show();
                    });
                    $('.lean-overlay').on('dragleave', function() {
                        if(!notHide) {
                            $("#messageContentDropzone").hide();  
                        }
                        onWrapper = false;
                    });
                    $(".modal-footer").on('dragenter', function(){
                        $("#messageContentDropzone").show();
                    });

                    $('#messageContentDropzone').on('dragenter', function(){
                        notHide = true;
                        $("#messageContentDropzone").css('border', '3px dashed red');
                        $("#messageContentDropzone").text("Upuštěním soubor přiložíte do zprávy");
                    });
                    $('#messageContentDropzone').on('dragleave', function(){
                        notHide = false;
                        $("#messageContentDropzone").css('border', '3px dashed grey');
                        $("#messageContentDropzone").text("Přesuňte soubor prosím zde");
                        if(!onWrapper) {
                            $("#messageContentDropzone").hide(); 
                        }
                    });
                    $('#messageContentDropzone').on('drop', function(){
                        notHide = false;
                        onWrapper = false;
                        $("#messageContentDropzone").hide(); 
                    });
                }
            });
        });   

    </script>
</div>