{block content}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Žádost o reset hesla</title>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Byla zadána žádost o vyresetování hesla k přístupu do systému lato.cz přes Váš email. Pokud s tím souhlasíte, klikněte prosím na následující odkaz, pokud ne tak tento email ignorujte. <a href="{$link}">{$link}</a></p>
</body>
</html>