{block content}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení registrace</title>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Byl jste zaregistrován do systému. Pro ověření emailu klikněte prosím na následující odkaz <a href="{$link}">{$link}</a></p>
</body>
</html>