{block content}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Vítejte</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p>Je nám potěšení, že jse se zaregistroval do systému Lato, což je sociální síť pro základní a střední školy.</p>
    <img src="https://www.lato.cz/images/logo.png">
    <p>Váš email ověřte prosím kliknutím na následující odkaz <a href="{$link}">{$link}</a></p>
    <p>Věříme, že si náš systém zamilujete.</p>
</body>
</html>