<section class="main" id="test-content">
    <div class="container offset-1">
        <div class="row">
            <div class="col s12">
                <header id="display-test-header" class="section-header">                    
                    <h3>{$user->name} {$user->surname}</h3>
                    <p>Správně zodpovězeno: <strong>{$filling->correctCount} z {$filling->questionsCount} otázek</strong></p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {foreach $test->questions as $question}
                <div class="card question">
                    <div class="card-header">
                        Otázka {$question->number}
                    </div>
                    <div class="card-content">
                        <h3>{$question->question}</h3>
                        <div class="answer-block">
                            {foreach $question->options as $option}                              
                            <div class="answer-row {$option->answerCorrection}">
                                {if !$option->isCorrect && $option->answerCorrection == "wrong"}
                                    <div class="status">
                                        <i class="material-icons">clear</i>
                                    </div>
                                {elseif $option->isCorrect}
                                    <div class="status">
                                        <i class="material-icons">done</i>
                                    </div>
                                {else}
                                    <div class="status"></div>
                                {/if}                                
                                <p>{$option->name}</p>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</section>