{snippetArea settingForm}
    {form form}
        <div class="row">
            <div class="col s12">
                <div class="card settings-group-name">
                    <div class="card-content">
                        {input name class => 'validate'}
                        <div class="group-color-select">
                            {foreach $form[color]->items as $key => $label}
                                <label n:name="color:$key">
                                    <input n:name="color:$key" />
                                    <i class="material-icons" style="background-color: {$label|noescape};"></i>       
                                </label>
                            {/foreach}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="card flex-column settings">
                    <div class="card-header">
                        <h2>Informace o skupině</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Základní informace o skupině</p>
                        <div class="form-row">
                            <i class="material-icons icon-label">group</i>
                            <div class="input-flex">
                                {input subgroup class => 'validate'}
                            </div>
                        </div>
                        <div class="form-row">
                            <i class="material-icons icon-label">explicit</i>
                            <div class="input-flex">
                                {input shortcut class => 'validate'}
                            </div>
                        </div>
                        <div class="form-row flex-top">
                            <i class="material-icons icon-label">description</i>
                            <div class="input-flex">
                                {input description class => 'materialize-textarea'}
                            </div>
                        </div>
                        <div class="form-row">
                            <i class="material-icons icon-label">location_on</i>
                            <div class="input-flex">
                                {input room}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card flex-column settings">
                    <div class="card-header">
                        <h2>Stream</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Povolené akce na streamu</p>
                        <div class="checkbox-form-block">
                            <div class="form-row">
                                <div class="submit-control checkbox-vertical-align">
                                {input PR_EDIT_OWN_MSG: class => 'filled-in'}{label PR_EDIT_OWN_MSG:}{/label}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="submit-control checkbox-vertical-align">
                            {input PR_DELETE_OWN_MSG: class => 'filled-in'}{label PR_DELETE_OWN_MSG:}{/label}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="submit-control checkbox-vertical-align">
                        {input PR_CREATE_MSG: class => 'filled-in'}{label PR_CREATE_MSG:}{/label}
                    </div>
                </div>
                <div class="form-row">
                    <div class="submit-control checkbox-vertical-align">
                    {input PR_SHARE_MSG: class => 'filled-in'}{label PR_SHARE_MSG:}{/label}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card flex-column settings">
    <div class="card-header flex-column">
        <h2>Sdílení</h2>
    </div>
    <div class="card-content" n:snippet="shareSection">
        <p class="secondary-par">Studenti mohou být přidáváni do skupiny následujícími způsoby</p>
        <div id="shareSection" class="checkbox-form-block">
            <div class="form-row">
                <p>Povolit sdílení pomocí odkazu</p>
                <div class="switch">
                    <label>
                        {input shareByLink:}
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div n:if="$sharing->link">
                <br>
                <span class="notice">Odkaz pro sdílení je 
                    <a href="{plink //:Public:Action:default, id => $activeGroup->publicCode}">{plink //:Public:Action:default, id => $activeGroup->publicCode}</a>
                </span>
            </div>
            <div class="form-row">
                <p>Povolit sdílení pomocí kódu</p>
                <div class="switch">
                    <label>
                        {input shareByCode:}
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div n:if="$sharing->code" >
                <br>
                <span class="notice">Kód pro zápis je <strong>{$activeGroup->interCode}</strong></span>
            </div>
        </div>
        <script>
            $("#shareSection input").on('change', function (event) {
                event.preventDefault();
                $.nette.ajax({
                    url: {link changeSharing!},
                    method: 'POST',
                    data: $("#shareSection input").serialize()
                });
            });
        </script>
    </div>
</div>
</div>

<div class="col s12 l6">
    <div class="card flex-column settings">
        <div class="card-header flex-column">
            <h2>Kalendář</h2>
        </div>
        <div class="card-content">
            <p class="secondary-par">Výuka probíhá v následujících termínech</p>
            {snippet scheduleAdmin}
                <div id="groupScheduleData" class="form-block">
                    {if empty($schedule)}
                        <div class="form-row term-picker"> 
                            <select name="schedule[1][DAY_IN_WEEK]" class="with-remove">
                                <option value="1" selected>Pondělí</option>
                                <option value="2" >Úterý</option>
                                <option value="3" >Středa</option>
                                <option value="4" >Čtvrtek</option>
                                <option value="5" >Pátek</option>
                                <option value="delete">Odstranit</option>
                            </select>
                            <span class="inner-label no-padding-inner-label">od</span>
                            <input name="schedule[1][TIME_FROM]" type="text" maxlength=5 value="12:00">
                            <span class="inner-label">do</span>
                            <input name="schedule[1][TIME_TO]" type="text"  maxlength=5 value="12:45" id="current-time">
                        </div>
                    {else}
                        {foreach $schedule as $key=>$term}
                            <div class="form-row term-picker"> 
                                <select name="schedule[{$key}][DAY_IN_WEEK]" class="with-remove">
                                    <option value="1" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==1}selected{/if}>Pondělí</option>
                                    <option value="2" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==2}selected{/if}>Úterý</option>
                                    <option value="3" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==3}selected{/if}>Středa</option>
                                    <option value="4" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==4}selected{/if}>Čtvrtek</option>
                                    <option value="5" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==5}selected{/if}>Pátek</option>
                                    <option value="delete">Odstranit</option>
                                </select>
                                <span class="inner-label no-padding-inner-label">od</span>
                                <input name="schedule[{$key}][TIME_FROM]" type="text" maxlength=5 value="{ifset $term->TIME_FROM}{$term->TIME_FROM->format("%H:%I")}{/ifset}">
                                <span class="inner-label">do</span>
                                <input name="schedule[{$key}][TIME_TO]" type="text"  maxlength=5 value="{ifset $term->TIME_TO}{$term->TIME_TO->format("%H:%I")}{/ifset}" id="current-time">
                            </div>
                        {/foreach}
                    {/if}
                </div>
            {/snippet}
        </div>
        
        <div class="card-footer">
            <div id="groupScheduleData">
                <button type="button" id="addScheduleRow" class="btn-flat card-bottom">Přidat další termín</button>
            </div>
            <script>
                $("#addScheduleRow").on('click', function (event) {
                    event.preventDefault();
                    $.nette.ajax({
                        url: {link addScheduleRow!},
                        method: 'POST',
                        data: $("#groupScheduleData select, #groupScheduleData input").serialize()
                    }).done(function (msg) {
                        $('select').material_select();
                    });
                });
            </script>
        </div>
    </div>
                        
    <div class="card flex-column settings">
        <div class="card-header flex-column">
            <h2>Známky</h2>
        </div>
        <div class="card-content">
            <p class="secondary-par">Známky jsou rozděleny do následujících období</p>
            <div class="checkbox-form-block">
                
                {foreach $form['activePeriods']->items as $key => $label}
                    <div class="form-row">
                        <div class="submit-control checkbox-vertical-align">
                            <input type="checkbox" n:name="activePeriods:$key" class="filled-in black" ><label n:name="activePeriods:$key">{$label}</label>
                        </div>
                    </div>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="card flex-column settings">
        <div class="card-header flex-column">
            <h2>Správa skupiny</h2>
        </div>
        <div class="card-content">
            <p class="secondary-par">O správné fungování této skupiny se starají</p>
            <ul class="custom-collection group-admins">
                <li class="collection-item">    
                    <a href="{plink Profile:default 'id'=>$activeGroup->owner->urlId}" class="item">
                        <img src="{$activeGroup->owner->profileImage}" class="user-img">
                        <div class="label">
                            <span class="title truncate">
                                {$activeGroup->owner->name} {$activeGroup->owner->surname}
                            </span>
                            <span class="subtitle truncate">
                                Učitel
                            </span>
                        </div>    
                    </a>   
                    <a class="btn-flat btn-icon dropdown-button card-options waves-effect waves-dark" data-activates="admin_dropdown_1" data-beloworigin="true" data-alignment="right" data-constraintwidth="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul id='admin_dropdown_1' class='dropdown-content'>
                        <li><a href="#edit-admin-modal" class="modal-trigger">Upravit oprávnění</a></li>
                        <li><a href="#remove-admin-modal" class="modal-trigger">Odebrat</a></li>
                    </ul>
                </li>
                <li class="collection-item">    
                    <a href="{plink Profile:default 'id'=>$activeGroup->owner->urlId}" class="item">
                        <img src="{$activeGroup->owner->profileImage}" class="user-img">
                        <div class="label">
                            <span class="title truncate">
                                {$activeGroup->owner->name} {$activeGroup->owner->surname}
                            </span>
                            <span class="subtitle truncate">
                                Konzultant
                            </span>
                        </div>
                    </a>
                    <a class="btn-flat btn-icon dropdown-button card-options waves-effect waves-dark" data-activates="admin_dropdown_2" data-beloworigin="true" data-alignment="right" data-constraintwidth="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul id='admin_dropdown_2' class='dropdown-content'>
                        <li><a href="#edit-admin-modal" class="modal-trigger">Upravit oprávnění</a></li>
                        <li><a href="#remove-admin-modal" class="modal-trigger">Odebrat</a></li>
                    </ul>   
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <a href="/auth/homepage/classification" class="btn-flat card-bottom">
                Přidat uživatele
            </a>
        </div>
    </div>
</div>
</div>



<div class="submit-settings">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="flex-spacer"></div>
                        <div class="form-control">
                            <a href="{plink Group:about}" class="modal-action modal-close waves-effect waves-light btn-flat" >Zrušit</a>
                            <button class="btn waves-effect waves-light btn-confirm" type="submit" name="send" >Uložit</button>
                        </div>
                        <div class="flex-spacer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/form}

<div id="edit-admin-modal" class="modal modal-small">
    <div class="modal-content">
        <h3>Petr Šavelka</h3>
        <p>Uživatel bude ve skupině vystupovat jako</p>
        <form class="checkbox-form-block">
            <div class="form-row">
                <input type="radio" class="filled-in" id="opt1" name="stream-filter" checked="checked" />
                <label for="opt1">Správce skupiny</label>
            </div>
            <div class="form-row">
                <input type="radio" class="filled-in" id="opt2" name="stream-filter" />
                <label for="opt2">Učitel</label>
            </div>
            <div class="form-row">
                <input type="radio" class="filled-in" id="opt3" name="stream-filter" />
                <label for="opt3">Pomocný učitel</label>
            </div>
            <div class="form-row">
                <input type="radio" class="filled-in" id="opt4" name="stream-filter" />
                <label for="opt4">Konzultant</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="flex-spacer"></div>
        <div class="form-control">
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
            <button type="submit" class="waves-effect waves-light btn btn-confirm submit-message-form" >Uložit</button>
        </div>
    </div>
</div>

<div id="remove-admin-modal" class="modal modal-small">
    <div class="modal-content">
        <h3>Petr Šavelka</h3>
        <p>Opravdu si přejete odebrat tohoto učitele ze skupiny?</p>
    </div>
    <div class="modal-footer">
        <div class="flex-spacer"></div>
        <div class="form-control">
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
            <button type="submit" class="waves-effect waves-light btn btn-confirm submit-message-form" >Odebrat</button>
        </div>
    </div>
</div>

{/snippetArea}