{snippet}
{form form class=>'ajax'}
    <div class="card flex-column settings">
        <div class="card-header">
            <h2>Nastavení</h2>
        </div>
        <div class="card-content">
            <section class="card-content-section">
                <h4>Informace o skupině</h4>
                <div class="form-row">
                    <p class="secondary-par">Základní informace o skupině, které se zobrazí uživatelům</p>
                </div>
                <div class="form-row">
                    <i class="material-icons icon-label">label</i>
                    <div class="input-flex">
                        {input name class => 'validate'}
                    </div>
                </div>
                <div class="form-row">
                    <i class="material-icons icon-label">group</i>
                    <div class="input-flex">
                        {input subgroup class => 'validate'}
                    </div>
                </div>
                <div class="form-row">
                    <i class="material-icons icon-label">explicit</i>
                    <div class="input-flex">
                        {input shortcut class => 'validate'}
                    </div>
                </div>
                <div class="form-row flex-top">
                    <i class="material-icons icon-label">description</i>
                    <div class="input-flex">
                        {input description class => 'materialize-textarea'}
                    </div>
                </div>
                <div class="form-row">
                    <i class="material-icons icon-label">location_on</i>
                    <div class="input-flex">
                        {input room}
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 l4">
                        <div class="form-row term-picker">
                            <i class="material-icons icon-label">insert_invitation</i>
                            <span class="label">Kalendář</span>
                        </div>
                    </div>
                    <div id="groupScheduleData" class="col m12 l8">
                        {snippet scheduleAdmin}
                        {if empty($schedule)}
                        <div class="form-row term-picker"> 
                            <select name="schedule[1][DAY_IN_WEEK]" class="with-remove">
                                <option value="1" selected>Pondělí</option>
                                <option value="2" >Úterý</option>
                                <option value="3" >Středa</option>
                                <option value="4" >Čtvrtek</option>
                                <option value="5" >Pátek</option>
                                <option value="delete">Odstranit</option>
                            </select>
                            <span class="inner-label">od</span>
                            <input name="schedule[1][TIME_FROM]" type="text" maxlength=5 value="12:00">
                            <span class="inner-label">do</span>
                            <input name="schedule[1][TIME_TO]" type="text"  maxlength=5 value="12:45" id="current-time">
                        </div>
                        {else}
                        {foreach $schedule as $key=>$term}
                        <div class="form-row term-picker"> 
                            <select name="schedule[{$key}][DAY_IN_WEEK]" class="with-remove">
                                <option value="1" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==1}selected{/if}>Pondělí</option>
                                <option value="2" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==2}selected{/if}>Úterý</option>
                                <option value="3" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==3}selected{/if}>Středa</option>
                                <option value="4" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==4}selected{/if}>Čtvrtek</option>
                                <option value="5" {if isset($term->DAY_IN_WEEK) && $term->DAY_IN_WEEK==5}selected{/if}>Pátek</option>
                                <option value="delete">Odstranit</option>
                            </select>
                            <span class="inner-label">od</span>
                            <input name="schedule[{$key}][TIME_FROM]" type="text" maxlength=5 value="{ifset $term->TIME_FROM}{$term->TIME_FROM->format("%H:%I")}{/ifset}">
                            <span class="inner-label">do</span>
                            <input name="schedule[{$key}][TIME_TO]" type="text"  maxlength=5 value="{ifset $term->TIME_TO}{$term->TIME_TO->format("%H:%I")}{/ifset}" id="current-time">
                        </div>
                        {/foreach}
                        {/if}
                        {/snippet}
                        <div class="form-row">
                            <span id="addScheduleRow" class="add-line"><i class="material-icons">add</i>Přidat další termín</span>
                        </div>
                        <script>
                            $("#addScheduleRow").on('click', function(event) {
                                event.preventDefault();
                                $.nette.ajax({
                                  url: {link addScheduleRow!},
                                  method: 'POST',
                                  data: $("#groupScheduleData select, #groupScheduleData input").serialize()
                                 }).done(function( msg ) {
                                    $('select').material_select();
                                 });
                            }); 
                        </script>
                    </div>
                </div>
            </section>
            <section class="card-content-section">
                <h4>Je aktivní v obdobích</h4>
                {foreach $form['activePeriods']->items as $key => $label}
                    <div class="form-row">
                        <div class="submit-control checkbox-vertical-align">
                            <input type="checkbox" n:name="activePeriods:$key" class="filled-in black" ><label n:name="activePeriods:$key">{$label}</label>
                        </div>
                    </div>
                {/foreach}
            </section>
            <section class="card-content-section">
                <h4>Nastavení streamu</h4>
                <div class="form-row">
                    <p class="secondary-par">Povolené akce na streamu</p>
                </div>
                <div class="form-row">
                    <div class="submit-control checkbox-vertical-align">
                        {input PR_EDIT_OWN_MSG: class => 'filled-in black'}{label PR_EDIT_OWN_MSG:}{/label}
                    </div>
                </div>
                <div class="form-row">
                    <div class="submit-control checkbox-vertical-align">
                        {input PR_DELETE_OWN_MSG: class => 'filled-in black'}{label PR_DELETE_OWN_MSG:}{/label}
                    </div>
                </div>
                <div class="form-row">
                    <div class="submit-control checkbox-vertical-align">
                        {input PR_CREATE_MSG: class => 'filled-in black'}{label PR_CREATE_MSG:}{/label}
                    </div>
                </div>
                <div class="form-row">
                    <div class="submit-control checkbox-vertical-align">
                        {input PR_SHARE_MSG: class => 'filled-in black'}{label PR_SHARE_MSG:}{/label}
                    </div>
                </div>
            </section>
            <section class="card-content-section">
                <h4>Nastavení sdílení</h4>
                <div class="form-row">
                    <p class="secondary-par">Lorem ipsum dolor sit amet</p>
                </div> 
                <div class="form-row">
                    <p>Povolit sdílení pomocí odkazu</p>
                    <div class="switch">
                        <label>
                            {input shareByLink:}
                            <span class="lever"></span>
                        </label>
                    </div>
                    <span n:if="$activeGroup->shareByLink" class="notice">Odkaz pro sdílení je <a href="{plink //:Public:Action:default, id => $activeGroup->publicCode}">{plink //:Public:Action:default, id => $activeGroup->publicCode}</a></span>
                </div>
                <div class="form-row">
                    <p>Povolit sdílení pomocí kódu</p>
                    <div class="switch">
                        <label>
                            {input shareByCode:}
                            <span class="lever"></span>
                        </label>
                    </div>
                    <span n:if="$activeGroup->shareByCode" class="notice">Kód pro zápis je <strong>{$activeGroup->interCode}</strong></span>
                </div>
            </section>
            <section class="card-content-section">
                <h4>Nastavení oprávnění</h4>
                <div class="form-row">
                    <p class="secondary-par">Uživatel s administrátorským oprávněním (učitel)</p>
                </div>
                <ul class="custom-collection">
                    <li>    
                        <a href="{plink Profile:default 'id'=>$activeGroup->owner->urlId}" class="item">
                            <img src="{$activeGroup->owner->profileImage}" class="user-img">
                            <span class="title truncate">
                                {$activeGroup->owner->name} {$activeGroup->owner->name}
                            </span>
                        </a>
                        {*<a href="">
                            <i class="material-icons">clear</i>
                        </a>*}
                    </li>
                </ul>
                {*<div class="form-row">
                    <a href="" class="add-line"><i class="material-icons">add</i>Přidat administrátora</a>
                </div>*}
            </section>
        </div>
        <div class="card-footer highlighted">
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat" >Zrušit</button>
                <button class="btn waves-effect waves-light btn-confirm" type="submit" name="send" >Uložit nastavení</button>
            </div>
        </div>
    </div>
{/form}
{/snippet}