 {snippet messages}
    {if  $singleMode}
        <div class="card card-flat assignment-info">
            <div class="card-content">
                <div class="avatar small">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="time-left">
                    Termín odevzdání: <strong>2. 3. 20:00</strong>
                </div>
            </div>
        </div>
        <div class="card card-flat assignment-detail">
            <div class="card-content task-header">
                <div class="avatar small status">
                    <i class="material-icons late">clear</i>
                </div>
                <div class="time-left">
                    <strong>Odevzdáno pozdě: 2. 3. 20:00</strong>
                </div>
                <a href="" class="btn gray no-shadow">Upravit</a>
            </div>
            <div class="card-content task-content">
                <div class="task-comment">
                    Tady jsem vložil komentář k úloze.
                </div>

                <ul class="attachments_uploads" >
                    <li>
                        <div class="attached-file">
                            <a href="" target="_blank" class="file-name">název přiloženého soubor<span>(pdf)</span></a>
                        </div>
                    </li>
                    <li>
                        <div class="attached-file">
                            <a href="" target="_blank" class="file-name">název přiloženého soubor<span>(txt)</span></a>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
        <div class="card flex-column single-message" id="message-box-num_{$singleMessage->id}">
            {var $message = $singleMessage}
            {includeblock 'SingleMessage.latte'}
            {control commentForm-$singleMessage->id}
        </div>
    {else}
        {foreach $messages as $message}  
        <div class="card flex-column {if $iterator->isFirst() && $groupPermission['createMessages']}grid-item-fst{/if}{if $message->deleted == 1}card-flat{/if}" id="message-box-num_{$message->id}"> 
            {includeblock 'Message.latte'}
            {control commentForm-$message->id}
        </div>
        {/foreach}
    {/if}
    <script>
        $(document).ready(function() {   
            $('.copy-message-link').on('click', function(e) {
                e.preventDefault();
                $("#link-cache-input").show();
                $("#link-cache-input").val($(this).data('link'));
                $("#link-cache-input").select();
                document.execCommand("Copy");
                $("#link-cache-input").hide();
            });
            $('#message-delete-confirm-modal').modal();
            $(".delete-message-button").on('click', function(event) {
                event.preventDefault();
                $('#message-delete-confirm-modal').data('delete-link', $(this).data('link'));
                $('#message-delete-confirm-modal').modal('open');

            });
        });
        function confirmDelete() {
            $.nette.ajax({
                url: $('#message-delete-confirm-modal').data('delete-link')
            });
        }   
    </script>

    {* Kód skupiny *}
    <div class="card card-flat">
        <div class="card-content">
            <p>Studenti se mohou přihlásit do skupiny zadáním kódu <strong>26HH32</strong>.</p>
        </div>
    </div>

    {* UVÍTACÍ KARTA PRO STUDENTY *}
    {if count($messages) == 0 && !$isOwner}
    <div class="card card-flat" id="welcome-card">
        <div class="card-header">
            <h3 class="name">Vítejte ve skupině</h3>
            <div class="flex-spacer"></div>
        </div>
        <div class="card-content">
            <p>Zde bude umístěn obsah, který zveřejní vyučující.</p>
        </div>
        <div class="card-footer">
            <a href="{plink Group:about}" class="btn gray no-shadow">Informace o skupině</a>
        </div>
    </div>
    {/if}

    {* UVÍTACÍ KARTA PRO UČITELE *}
    {if count($messages) == 0 && $isOwner}
    <div class="card card-flat" id="welcome-card">
        <div class="card-header">
            <h3 class="name">Vítejte v nové skupině</h3>
            <div class="flex-spacer"></div>
        </div>
        <div class="card-content">
            <p>Vytvořili jsme pro Vás novou skupinu. Zde bude umístěn obsah, který zveřejníte studentům.</p>
        </div>
        <div class="card-footer">
            <a href="{plink Group:users}" class="btn gray no-shadow">Studenti</a>
        </div>
    </div>
    {/if}
{/snippet}
<div n:if="(count($messages) > 0 && $singleMode === false)" id="no-more-posts">
Více už toho není
</div>
<input type="text" style="display: none;" id="link-cache-input">

<div id="commit-task-modal" class="modal modal-small">
    {snippet commitTaskForm}
        {control commitTaskForm}
    {/snippet}
</div>