<div class="card flex-column {if $message->deleted == 1}card-flat{/if}" id="message-box-num_{$message->id}"> 
    {if $message->type === 'task' && $message->task}
    <div class="card-action-header">
        <div class="message-type">
            <div class="avatar colored">
                G
            </div>
        </div>
        {var $tt=>$message->task}
        {control taskHeader-$tt->id}
    </div>
    {/if} 
    <div class="card-header {if $message->type === 'task' && $message->task}card-assignment-header{/if}">
        {if $message->priority == 1}<div class="topped"></div>{/if}
        {if $message->deleted == 1}<div class="deleted"></div>{/if}
        {if $message->type === 'task' && $message->task}
            <div class="name truncate">
                <div class="message-title">{$message->task->title}</div>
                <div class="user-name">{$message->user->name} {$message->user->surname}</div>
            </div>
        {else}
            <a href="{plink Profile:default 'id'=>$message->user->slug}" class="avatar {if $message->type === 'task' && $message->task}tiny{else}small{/if}">
                <img src="{$message->user->profileImage}" alt="{$message->user->name}">
            </a>
            <h3 class="name truncate">
                <a href="{plink Profile:default 'id'=>$message->user->slug}">{$message->user->name} {$message->user->surname}</a>
            </h3>
        {/if}
        
        <span class="card-date">{$message->created|date:"j. n."}</span>
        {include messageMenu}
    </div>
    {include messageAttachments}
    {control commentForm-$message->id}
</div>
    
{define messageMenu}
    <button type="button" class="btn-flat btn-icon dropdown-trigger card-options waves-effect waves-dark" data-target="message_dropdown_{$message->id}" >
        <i class="material-icons">more_horiz</i>
    </button>
    <ul id='message_dropdown_{$message->id}' class='dropdown-content'>
        {if $message->deleted == 0}
            <li><a href="#">Vytvořit kopii příspěvku</a></li>
            <li><a href="#" data-link="{plink //Group:message 'id'=>$activeGroup->slug, 'idMessage'=>$message->id}" class="copy-message-link">Kopírovat odkaz</a></li>
            {if $activeGroup->relation === 'owner'}
                {if !$message->top}
                    <li><a href="{link topMessage! idMessage=>$message->id}" class="ajax">Přesunout nahoru</a></li>
                {else}
                    <li><a href="{link topMessage! idMessage=>$message->id, enable=>false}" class="ajax">Zrušit přesunutí</a></li>
                {/if}
            {/if}
            {if $message->isCreator || $activeGroup->relation === 'owner'}
                <li class="divider"></li>
                <li><a href="#" data-link="{link deleteMessage! idMessage=>$message->id}" class="delete-message-button refresh-wall-messages">Smazat</a></li>
            {/if}
        {elseif $message->isCreator || $activeGroup->relation === 'owner'}        
            <li><a href="{link renewMessage! idMessage=>$message->id}" class="ajax refresh-wall-messages">Obnovit</a></li>
        {/if}
        {*<li><a href="#share-post_{$message->id}" class="modal-trigger">Znovu použít příspěvek</a></li>*}
        {if $message->isCreator || $activeGroup->relation === 'owner'}
            <li><a href="{link editMessage! idMessage=>$message->id}" class="edit-message-button ajax">Upravit zprávu</a></li>
        {/if}
    </ul>
{/define}
{define messageAttachments}
    <div class="card-content">
        <p class="message-text">{$message->text|breaklines}</p>
        {if isset($message->attachments['files']) && !empty($message->attachments['files']) }
        <ul class="attachments">
            {foreach $message->attachments['files'] as $file}
            <li>
                <a href="{$file->fullPath|noescape}" target="_blank" class="attached-file">
                    {$file->type|attachTypeIco|noescape}
                    <div class="file-name truncate">{$file->name}<span>({$file->type} {$file->extension})</span></div>   
                </a>
            </li>
            {/foreach}
        </ul>
        {/if}
    </div>

    {if !empty($message->links)}
    <div class="media-container">
        {foreach $message->links as $link}
        <div class="message-link">
            {ifset $link->youtube}
            <iframe class="img-full-size" src="https://www.youtube.com/embed/{$link->youtube}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {/ifset}
            {ifset $link->web}
            <a href="{$link->web}" target="_blank">
                <img width="50" src="{$link->image}">
                <strong>{$link->title}</strong>
                <span class="description">{$link->description}</span>
            </a>
            {/ifset}
        </div>
        {/foreach}
    </div>
    {/if}

    {if isset($message->attachments['media']) && !empty($message->attachments['media']) }
    <div class="media-container">
        {foreach $message->attachments['media'] as $media}
            {if $iterator->first}
            <a class="img-full-size" href="{$media->fullPath}" data-lightbox="message-gallery-{$message->id}" style="background-image: url('{if $media->preview->fullPath}{$media->preview->fullPath}{else}{$media->fullPath}{/if}');">
                {if count($message->attachments['media']) > 1}
                    <div class="media-count">+{count($message->attachments['media'])-1}</div>
                {/if}
            </a>
            {else}
                <a href="{$media->fullPath}" data-lightbox="message-gallery-{$message->id}" class="hide"></a>
            {/if}
        {/foreach}
    </div>
    {/if}
{/define}