 {snippet messages}
    {if  $singleMode}
        {var $message = $singleMessage}
        {includeblock 'SingleMessage.latte'}
    {else}
        {foreach $messages as $message}  
            {includeblock 'Message.latte'}
        {/foreach}
    {/if}
    <script>
        $(document).ready(function() {
            $(".comments-footer").on('click', function(e) {
                $(this).find('textarea').focus();
            });
            
            $('.copy-message-link').on('click', function(e) {
                e.preventDefault();
                $("#link-cache-input").show();
                $("#link-cache-input").val($(this).data('link'));
                $("#link-cache-input").select();
                document.execCommand("Copy");
                $("#link-cache-input").hide();
            });
            $('#message-delete-confirm-modal').modal();
            $(".delete-message-button").on('click', function(event) {
                event.preventDefault();
                $('#message-delete-confirm-modal').data('delete-link', $(this).data('link'));
                $('#message-delete-confirm-modal').modal('open');

            });
        });
        function confirmDelete() {
            $.nette.ajax({
                url: $('#message-delete-confirm-modal').data('delete-link')
            });
        }   
    </script>

    {* UVÍTACÍ KARTA PRO STUDENTY *}
    {if count($messages) == 0 && !$isOwner}
    <div class="card card-flat" id="welcome-card">
        <div class="card-header">
            <h3 class="name">Vítejte ve skupině</h3>
            <div class="flex-spacer"></div>
        </div>
        <div class="card-content">
            <p class="secondary-par">Zde bude umístěn obsah, který zveřejní vyučující.</p>
        </div>
        <div class="card-footer">
            <a href="{plink Group:about}" class="btn gray no-shadow">Informace o skupině</a>
        </div>
    </div>
    {/if}

    {* UVÍTACÍ KARTA PRO UČITELE *}
    {if count($messages) == 0 && $isOwner}
    <div class="card card-flat" id="welcome-card">
        <div class="card-header">
            <h3 class="name">Vítejte v nové skupině</h3>
            <div class="flex-spacer"></div>
        </div>
        <div class="card-content">
            <p class="secondary-par">Vytvořili jsme pro Vás novou skupinu. Zde bude umístěn obsah, který zveřejníte studentům.</p>
        </div>
        <div class="card-footer">
            <a href="{plink Group:users}" class="btn gray no-shadow">Studenti</a>
        </div>
    </div>
    {/if}
{/snippet}
<div n:if="(count($messages) > 0 && $singleMode === false)" id="no-more-posts">
Více už toho není
</div>
<input type="text" style="display: none;" id="link-cache-input">

<div id="commit-task-modal" class="modal modal-small">
    {snippet commitTaskForm}
        {control commitTaskForm}
    {/snippet}
</div>
