{import 'Message.latte'}
{if $message->type === 'task' && $message->task && $message->task->online}
    {var $tt=>$message->task}
    {control taskHeader-$tt->id}
{/if}
<div class="card flex-column single-message" id="message-box-num_{$message->id}">
    <div class="card-header">
        {if $message->priority == 1}<div class="topped"></div>{/if}
        {if $message->deleted == 1}<div class="deleted"></div>{/if}
        <a href="{plink Profile:default 'id'=>$message->user->slug}" class="avatar">
            <img src="{$message->user->profileImage}" alt="{$message->user->name}">
        </a>
        <h3 class="name truncate">
            <a href="{plink Profile:default 'id'=>$message->user->slug}">{$message->user->name} {$message->user->surname}</a>
        </h3>
        <span class="card-date">{$message->created|date:"j. n."}</span>     
        {include messageMenu}
    </div>
    {include messageAttachments}
    {control commentForm-$singleMessage->id}

</div>
