<section class="main" id="test-result">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card card-flat">
                    <div class="card-content">
                        <div class="test-score success">
                            70<span>%</span>
                        </div>
                        <h2>Splněno</h2>
                        <p>Správně bylo zodpovězeno <strong>7 z 10</strong> otázek.</p>
                        <p>Minimální hranice pro splnění testu je <strong>50 %</strong>.</p>
                        <a href="#" class="btn">Prohlédnout</a>
                        <a href="#">Spustit znovu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>