<section class="main" id="test-result">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card card-flat">
                    <div class="card-content">
                        <div class="test-score success">
                            {$filling->percent}<span>%</span>
                        </div>
                        <h2>Splněno</h2>
                        <p>Správně bylo zodpovězeno <strong>{$filling->correctCount} z {$filling->questionsCount}</strong> otázek.</p>
                        <p>Minimální hranice pro splnění testu je <strong>50 %</strong>.</p>
                        <a href="{plink :Front:Tests:display fillingId=>$filling->id}" class="btn">Prohlédnout</a>
                        <a href="{plink :Front:Tests:start setupId=>$filling->setupId}">Spustit znovu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>