<section class="main settings" id="test-content">
   {form form id=>"test-form"}
    <div class="container offset-1">
        <div class="row">
            <div class="col s12">
                {foreach $test->questions as $i => $question}
                <div class="card question">
                    <div class="card-header">
                        Otázka {$i + 1}
                    </div>
                    <div class="card-content">
                        <h3>{$question->question}</h3>
                        <div class="checkbox-form-block">
                            {foreach $question->options as $option}
                            <div class="form-row">
                                <div class="submit-control checkbox-vertical-align">
                                    <label>
                                        {var $iid = 'opt_' . $question->id . '_' . $option->id}
                                        {input $iid: class=>'filled-in'}
                                        <span>{$option->name}</span>
                                    </label>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="submit-page">
        <div class="container offset-1">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="flex-spacer"></div>
                            {if $timeLeft}
                                <div id="timer" class="btn-flat outline" data-hours="{$timeLeft->format('%h')}" data-minutes="{$timeLeft->format('%i')}" data-seconds="{$timeLeft->format('%s')}"></div>
                            {/if}
                            <div class="form-control">
                                {input save class=>"btn white"}
                                {input save_leave class=>"btn waves-effect waves-light btn-confirm"}
                            </div>
                            <div class="flex-spacer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/form}
</section>
<script>
    $(function () {
        var hoursLeft = $("#timer").data("hours");
        var minutesLeft = $("#timer").data("minutes");
        var secondsLeft = $("#timer").data("seconds");        
        var countdown = setInterval(function(){ 
            if(secondsLeft === 0) {
                if(minutesLeft === 0) {
                    if(hoursLeft === 0) {
                        $("#test-form").append('<input type="hidden" name="save_leave">');
                        $("#test-form").submit();
                        clearInterval(countdown);
                    } else {
                        hoursLeft--;
                        minutesLeft = 60;
                    }
                } else {
                    minutesLeft--;
                    secondsLeft = 60;
                }
            } else {
                secondsLeft--;
            }
            var minutes = minutesLeft < 10 ? "0" + minutesLeft : minutesLeft;
            var seconds = secondsLeft < 10 ? "0" + secondsLeft : secondsLeft;
            var text = minutes + ":" + seconds;
            if(hoursLeft > 0) {
                text = hoursLeft + ":" + text;
            }            
            $("#timer").text(text);
        }, 1000);
    });
</script>