<section class="main two-level-nav settings" id="about">
    <div class="container">
        <div class="row about-header">
            <div class="col s12">
                <div class="card flex-column title">
                    <div class="card-content">
                        <h2>{$activeGroup->name}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div n:if="$activeGroup->relation === 'owner'" class="row">
            <div class="col s12 edit-btn">
                <a href="{plink Group:settings}" class="btn no-shadow waves-effect waves-light" >Upravit informace</a>
            </div>
        </div>
        <div n:if="$activeGroup->relation !== 'owner'" class="row">
            <div class="col s12 edit-btn">
                <a href="#" data-url="{link leaveGroup!}" data-text="Opravdu si přejete opustit tuto skupinu?" data-title="{$activeGroup->name}" class="btn no-shadow waves-effect waves-light delete-confirm" >Opustit skupinu</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Informace o skupině</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Základní informace o skupině</p>
                        <div class="form-row-block">
                            {if !empty($activeGroup->subgroup)}
                                <div class="form-row static">
                                    <i class="material-icons icon-label">group</i>
                                    <div class="input-flex filled">
                                        {$activeGroup->subgroup}     
                                    </div>
                                </div>
                            {/if}

                            <div class="form-row static">
                                <i class="material-icons icon-label">explicit</i>
                                <div class="input-flex filled">
                                    {$activeGroup->shortcut}
                                </div>
                            </div>

                            <div class="form-row static">
                                <i class="material-icons icon-label">location_on</i>
                                {if !empty($activeGroup->room)}
                                    <div class="input-flex filled">{$activeGroup->room}</div>    
                                {else}
                                    <div class="input-flex unfilled">Místo pro výuku není určeno</div>
                                {/if}
                            </div>

                            <div class="form-row static flex-top">
                                <i class="material-icons icon-label">description</i>
                                {if !empty($activeGroup->description)}
                                    <div class="input-flex filled">{$activeGroup->description}</div>
                                {else}
                                    <div class="input-flex unfilled">Vyučující neuvádí žádné bližší informace o skupině.</div>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Stream</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">
                            Povolené akce na streamu
                        </p>
                        
                        <div class="form-row-block">
                            <div class="form-row static">
                                {if $activeGroup->pr_user_msg_create == 1}
                                    <i class="material-icons icon-label">check</i>
                                    <div class="input-flex filled">
                                        Studenti mohou vytvářet příspěvky
                                    </div>
                                {else}
                                    <i class="material-icons icon-label">block</i>
                                    <div class="input-flex filled">
                                        Studenti mohou vytvářet příspěvky
                                    </div>
                                {/if}
                            </div>
                            {*
                            <div class="form-row static">
                                {if $activeGroup->pr_share_msg == 1}
                                    <i class="material-icons icon-label">check</i>
                                    <div class="input-flex filled">
                                        Příspěvky mohou být volně sdíleny mezi jinými skupinami
                                    </div>
                                {else}
                                    <i class="material-icons icon-label">block</i>
                                    <div class="input-flex filled">
                                        Příspěvky nemohou být sdíleny mezi jinými skupinami
                                    </div>
                                {/if}
                            </div>
                            *}
                        </div>
                    </div>
                </div>
                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Sdílení</h2>
                    </div>
                    <div class="card-content">
                        {if $activeGroup->shareByCode == 1 || $activeGroup->shareByLink == 1}


                            {if $activeGroup->shareByCode == 1 && $activeGroup->shareByLink == 1}
                                <p class="secondary-par"> 
                                    Studenti se mohou zapisovat pomocí kódu <strong>{$activeGroup->interCode}</strong> nebo zadáním následujícího odkazu</p>
                                <div class="group-link">{plink //:Public:Action:default, id => $activeGroup->publicCode}</div>
                            {else}
                                {if $activeGroup->shareByCode == 1}
                                    <p class="secondary-par"> 
                                        Studenti se mohou zapisovat pomocí kódu <strong>{$activeGroup->interCode}</strong>.
                                    {/if}
                                    {if $activeGroup->shareByLink == 1}
                                    <p class="secondary-par"> 
                                        Studenti se mohou zapisovat zadáním následujícího odkazu</p>
                                    <div class="group-link">{plink //:Public:Action:default, id => $activeGroup->publicCode}</div>
                                {/if}
                            {/if}
                        {else}
                            <p class="secondary-par italic">Nejsou nastaveny žádné možnosti pro veřejné sdílení této skupiny.</p>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                {*<div class="card flex-column">
                    <div class="card-header">
                        <h2>Kalendář</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Výuka probíhá v následujících termínech</p>
                    </div>
                </div>*}

                <div class="card flex-column">
                    <div class="card-header">
                        <h2>Známky</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Známky jsou rozděleny do následujících období</p>
                        <div class="form-row-block">
                            {foreach $periods as $period}
                                <div class="form-row static">
                                    <i class="material-icons icon-label">label</i>
                                    <a href="#" class="input-flex filled">
                                        {$period->name}{if $period->deactivated_when}<span>(uzavřeno {$period->deactivated_when->format("j. n.")})</span>{/if}
                                    </a>
                                </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                <div class="card flex-column settings">
                    <div class="card-header">
                        <h2>Správa skupiny</h2>
                    </div>
                    <div class="card-content">
                        <p class="secondary-par">Vedení této skupiny zajišťují následující uživatelé</p>
                        <ul class="custom-collection group-admins">
                            <li class="collection-item">    
                                <a href="{plink Profile:default 'id'=>$activeGroup->owner->slug}" class="item">
                                    <img src="{$activeGroup->owner->profileImage}" class="avatar">
                                    <div class="label">
                                        <span class="title truncate">
                                            {$activeGroup->owner->name} {$activeGroup->owner->surname}
                                        </span>
                                        <span class="subtitle truncate">
                                            Učitel
                                        </span>
                                    </div>    
                                </a>   
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div n:if="$activeGroup->relation === 'owner'" class="row">
                <div class="col s12 edit-btn">
                    {if $activeGroup->archived}
                        <a href="{link unarchiveGroup!}" class="btn no-shadow waves-effect waves-light" >Obnovit skupinu</a>
                    {else}
                        <a href="#" data-url="{link archiveGroup!}" data-text="Opravdu si přejete archivovat tunhle skupinu ?" data-title="{$activeGroup->name}" class="btn no-shadow waves-effect waves-light delete-confirm" >Archivovat skupinu</a>
                    {/if}
                    &nbsp;
                    
                    <a href="#" data-url="{link deleteGroup!}" data-text="Všechny záznamy, příspěvky, přílohy a komentáře budou odstraněny. Všichni studenti ve skupině obdrží oznámení o provedené akci.<br>Opravdu si přejete smazat tunhle skupinu ?" data-title="{$activeGroup->name}" class="btn no-shadow waves-effect waves-light delete-confirm" >Smazat skupinu</a>
                </div>
            </div>
        </div>
    </div>
</section>