<section class="main settings" id="test-creation">
    {form form id=>'test-editor-form'}
    <div class="container offset-1">
        <div class="form-row input-field">
            {input name}
            {label name}{/label}
        </div>
        <br>
        <div class="row">
            <div class="col s12">
                {foreach $questions as $question}
                    {include questionTemplate $question->number, $question}
                {/foreach}
                <div class="card card-flat" id="add-question">
                    <div class="card-content">
                        <i class="material-icons">add</i>Přidat další otázku
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-page">
        <div class="container offset-1">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="flex-spacer"></div>
                            <div class="form-control">
                                {input save class=>"btn white waves-effect waves-dark"}
                                {input save_leave class=>"btn waves-effect waves-light btn-confirm"}
                            </div>
                            <div class="flex-spacer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    {/form}
</section>
 
{define questionTemplate $number, $question}
<div class="card question-block" data-number="{$number}">
    <div class="card-content">
        <div class="question-title input-field">
            <textarea name="questions[{$number}][name]" id="question-{$number}" class="materialize-textarea" placeholder="Položit otázku ...">{if $question}{$question->question}{/if}</textarea>
            <label for="question-{$number}">Otázka {$number}</label>
        </div>
        <div class="checkbox-form-block">
            {if $question && is_array($question->options)}
                {var $optionNumber = 0}
                {foreach $question->options as $option}
                    {include optionTemplate $number, $option->number, $option}
                    {var $optionNumber = $option->number}
                {/foreach}
                {include optionTemplate $number, $optionNumber + 1}
            {else}
                {include optionTemplate $number, 1}
            {/if}
        </div>
        <input type="hidden" class="question-id" name="questions[{$number}][id]" {if $question}value="{$question->id}"{/if}>
    </div>
    <div class="drag-card"><i class="material-icons">drag_indicator</i></div>
</div>
{/define}
{define optionTemplate $questionNumber, $optionNumber, $option}
    <div class="question-form-row {if $option}filled{/if}">
        <label>
            <input name="questions[{$questionNumber}][options][{$optionNumber}][correct]" type="checkbox" class="filled-in" {if $option}{if $option->isCorrect}checked{/if}{else}disabled{/if} >
            <span></span>
        </label>
        <div class="question-option input-field">
            <textarea name="questions[{$questionNumber}][options][{$optionNumber}][text]" class="materialize-textarea question-answer" placeholder="Přidat možnost odpovědi ...">{if $option}{$option->name}{/if}</textarea>
        </div>
        <div class="remove remove-option {if !$option}hide{/if}"><i class="material-icons">clear</i></div>
        <input type="hidden" class="option-id" name="questions[{$questionNumber}][options][{$optionNumber}][id]" {if $option}value="{$option->id}"{/if}>
    </div>
{/define}


<div id="templates" style="display: none;">
    {include questionTemplate "XXX"}
    {include optionTemplate "XXX", "YYY"}
</div>
<script>
    $("#test-editor-form").on("keyup", function(e) {
        if($(e.target).hasClass("question-answer") && e.keyCode !== 9) {
            var row = $(e.target).parents(".question-form-row");
            var form = $(e.target).parents(".checkbox-form-block");
            var questionNumber = $(e.target).parents(".question-block").data("number");
            if(!row.hasClass("filled") && $(e.target).val().length > 0) {
                row.addClass("filled");
                row.find("input[type='checkbox']").prop('disabled', false);
                row.find(".remove").removeClass("hide");
            }
            if($(e.target).val().length === 0) {
                row.remove();
            }
            if(form.find(".question-form-row:not(.filled)").length === 0) {
                var optionTemplate = $("#templates > .question-form-row").clone().get(0).outerHTML;
                var optionNumber = form.find(".question-form-row").length + 1;
                optionTemplate = optionTemplate.replace(/XXX/g, questionNumber);
                optionTemplate = optionTemplate.replace(/YYY/g, optionNumber);
                form.append(optionTemplate);
            }
                      
        }
    });
    
    $("#test-editor-form").on("click", function(e) {
        if($(e.target).hasClass("remove-option")|| $(e.target).parent().hasClass("remove-option") ) {
            var row = $(e.target).parents(".question-form-row");
            if(row.find(".option-id").val() !== "") {
                $("#test-editor-form").append('<input type="hidden" value="' + row.find(".option-id").val() + '" name="optionsToDelete[]" >');
            }
            row.remove();
        }
    });
    
    $("#add-question").on('click', function(e) {
        var questionTemplate = $("#templates > .card").clone().get(0).outerHTML;
        var questionNumber = $("#test-editor-form .question-block").length + 1;
        questionTemplate = questionTemplate.replace(/XXX/g, questionNumber);
        $("#test-editor-form #add-question").before($(questionTemplate));
    });
</script>