<div n:snippet="modal" >
    {if empty($selectedGroup)}
        <div class="modal-content" n:ifset="$testId">
            <h3>Skupina</h3>
            {if count($adminGroups) > 0}
            <p>Vyberte skupinu, kde chcete zveřejnit toto zadání.</p>
            <ul class="custom-collection group-list">
                {foreach $adminGroups as $group}
                <li>
                    <a href="{link selectGroup! id=>$group->id, testId=>$testId}" class="item ajax">
                        <div class="avatar tiny {$group->colorScheme|noescape}" >{$group->shortcut|substr:0,1}</div>
                        <div class="label">{$group->name}</div>
                    </a>
                </li>
                {/foreach}
            </ul>
            {else}
                <p>Nemáte žádné skupiny.</p>
            {/if}
        </div>
        <div class="modal-footer">
            <div class="flex-spacer"></div>
            <div class="form-control">
                <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                <button type="submit" class="waves-effect waves-light btn btn-confirm submit-message-form" disabled>Zveřejnit</button>

            </div>
        </div>
    {else}
        <div class="modal-bar" n:if="!isset($setupId)">
            <button type="button" class="back-button">
                <a href="{link selectGroup!}" class="clear ajax">
                    <i class="material-icons">arrow_back</i>
                </a>                
                <div class="avatar {$selectedGroup->colorScheme}">{$selectedGroup->shortcut|substr:0,1}</div>
                <div class="label">{$selectedGroup->name} ({$selectedGroup->shortcut})</div>
            </button>
        </div>
        {form form id=>"import-form"}
            <div class="modal-content">
                <h3>Nastavit zadání</h3>
                <div class="row">
                    <div class="col s12">
                        <div class="switch-row">
                            <span>Známkovaný test</span>
                            <div class="switch">
                                {label classification:}
                                    {input classification:}
                                    <span class="lever"></span>
                                {/label}
                            </div>
                        </div>
                    </div>
                </div>
                
                {* NEPOUZITA NASTAVENI

                <div class="switch-row">
                    <span>Automaticky vyhodnotit</span>
                    <div class="switch">
                        <label>
                            <input type="checkbox" checked="checked">
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
                <div class="checkbox-form-block">
                    <div class="form-row">
                        <label>
                            <input data-link="" type="radio" value="notice"  id="opt2" name="stream-filter" checked="checked">
                            <span for="opt2">Hranice úspěčnosti</span>
                        </label>
                    </div>
                    <div class="form-row">
                        <div class="switch">
                        <label>
                            <input data-link="" type="radio" value="notice"  id="opt2" name="stream-filter">
                            <span for="opt2">Klasifikační stupnice</span>
                        </label>
                        </div>
                    </div>
                    <p class="range-field">
                        <input type="range" id="test5" min="0" max="100" />
                    </p>
                </div>

                *}


                
                <div class="row">
                    <div class="input-field col s6">
                        {label number_of_repetitions class=>'active'}{/label}
                        {input number_of_repetitions}
                    </div> 
                    <div class="input-field col s6">
                        {label time_limit class=>'active'}{/label}
                        {input time_limit}
                    </div>
                    {* V budoucnu pro přidání vlastního času na zadání
                    <div class="input-field col s6 no-margin">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    </div>
                    *}
                </div>
                {* V budoucnu na udělení možnosti neomezenýho vypracování
                <div class="row">
                    <div class="col s12">
                        <div class="switch-row">
                            <span>Uzavřít zadání</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox" checked="checked">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                *}
                <div class="row">
                    <div class="col s12">
                        <div class="switch-row">
                            <label>Datum publikace</label>
                            <div class="switch">
                                {label use_publication_date:}
                                    {input use_publication_date:}
                                    <span class="lever"></span>
                                {/label}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row {if !$form['use_publication_date']->value}hide{/if}" id="publication-date-row">
                    <div class="input-field col s6">                        
                        {input publication_date placeholder=>'Datum', id=>'first_name', class=>'validate'}
                    </div>
                    <div class="input-field col s6">
                        {input publication_time placeholder=>'Čas', id=>'first_name', class=>'validate'}
                    </div>
                </div>               
                <div class="row">
                    <div class="col s12">
                        <div class="switch-row">
                            <label>Termín odevzdání</label>
                            <div class="switch">
                                {label use_deadline:}
                                    {input use_deadline:}
                                    <span class="lever"></span>
                                {/label}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row {if !$form['use_deadline']->value}hide{/if}" id="deadline_date-row">
                    <div class="input-field col s6">                        
                        {input deadline_date placeholder=>'Datum', id=>'first_name', class=>'validate'}
                    </div>
                    <div class="input-field col s6">
                        {input deadline_time placeholder=>'Čas', id=>'first_name', class=>'validate'}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {label questions_count class=>'active'}{/label}
                        {input questions_count}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="switch-row">
                            <span>Náhodné pořadí otázek</span>
                            <div class="switch">
                                {label random_sort:}
                                    {input random_sort:}
                                    <span class="lever"></span>
                                {/label}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="flex-spacer"></div>
                <div class="form-control">
                    <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
                    <button type="submit" class="waves-effect waves-light btn btn-confirm submit-message-form">{ifset $setupId}Uložit{else}Zveřejnit{/ifset}</button>
                </div>
            </div>
            <script>
                $("input[name='use_publication_date']").on("change", function(e){
                    if($(this).prop('checked')) {
                        $("#publication-date-row").removeClass('hide');
                    } else {
                        $("#publication-date-row").addClass('hide');
                    }
                });
                $("input[name='use_deadline']").on("change", function(e){
                    if($(this).prop('checked')) {
                        $("#deadline_date-row").removeClass('hide');
                    } else {
                        $("#deadline_date-row").addClass('hide');
                    }
                });
            </script>
        {/form}
    {/if}
</div>
