<section class="main">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <a href="{plink Tests:editor}" id="create-test-btn">
                    <i class="material-icons">add_circle</i>
                    Vytvořit nové zadání
                </a>
            </div>
        </div>
        {if !empty($tests)}
        <div class="row">
            <div class="col s12">
                <header class="section-header">
                    <h3 class="left">Zadání</h3>
                    <div class="flex-spacer"></div>
                    <ul class="right options">
                        <li>
                            <a class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="filter-tests" >
                                <i class="material-icons">filter_list</i>
                            </a>
                            <ul id='filter-tests' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Option 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </header>
            </div>
        </div>
        <div class="row">
            {foreach $tests as $test}
            <div class="col l3 m6 s12">
                <div class="card card-test-preview">
                    <div class="card-content">
                        <div class="test-range">{$test->questionsCount}</div>
                        <h4 class="truncate">{$test->name}</h4>
                        <div class="info">{$test->questionsCount} otázek | GRW</div>
                        <div class="date">Vytvořeno {$test->created->format("j. n.")}</div>
                        <div class="options">
                            <a href="#test-setup" class="btn gray no-shadow modal-trigger truncate">Použít zadání</a>							
                            <a class="btn-flat btn-icon outline dropdown-trigger waves-effect waves-dark" data-target="more-choices-{$test->id}">
                                <i class="material-icons">more_horiz</i>
                            </a>
                            <ul id='more-choices-{$test->id}' class="dropdown-content">
                                <li><a href="{plink Tests:editor id=>$test->id}" class="waves-effect waves-dark modal-trigger">Upravit</a></li>
                                <li><a href="{plink Tests:start id=>$test->id}" class="waves-effect waves-dark modal-trigger">Spustit</a></li>
                                <li><a href="#" class="waves-effect waves-dark modal-trigger">Smazat</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
    {/if}
</section>

<div id="test-setup" class="modal modal-small">
    <div class="modal-bar">
        <button type="button" class="back-button">
            <i class="material-icons">arrow_back</i>
            <div class="avatar blue">V</div>
            <div class="label">Grafika a webdesign (V3Graf)</div>
        </button>
    </div>
    <div class="modal-content">
        <h3>Nastavit zadání</h3>
        <div class="switch-row">
            <span>Automaticky vyhodnotit</span>
            <div class="switch">
                <label>
                    <input type="checkbox" checked="checked">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="checkbox-form-block">
            <div class="form-row">
                <label>
                    <input data-link="" type="radio" value="notice"  id="opt2" name="stream-filter" checked="checked">
                    <span for="opt2">Hranice úspěčnosti</span>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <input data-link="" type="radio" value="notice"  id="opt2" name="stream-filter">
                    <span for="opt2">Klasifikační stupnice</span>
                </label>
            </div>
            <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
            </p>
        </div>

        <div class="switch-row">
            <span>Uzavřít zadání</span>
            <div class="switch">
                <label>
                    <input type="checkbox" checked="checked">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-row no-label input-field">
            <input placeholder="Datum" id="first_name" type="text" class="validate" value="11. 10.">
            <input placeholder="Čas" id="first_name" type="text" class="validate" value="12:35">
        </div>
    </div>
    <div class="modal-footer">
        <div class="flex-spacer"></div>
        <div class="form-control">
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat">Zrušit</button>
            <button type="submit" class="waves-effect waves-light btn btn-confirm submit-message-form">Zveřejnit</button>
        </div>
    </div>
</div>