<section class="main">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <a href="{plink Tests:editor}" id="create-test-btn">
                    <i class="material-icons">add_circle</i>
                    Vytvořit nové zadání
                </a>
            </div>
        </div>
        {if !empty($tests)}
        <div class="row">
            <div class="col s12">
                <header class="section-header">
                    <h3 class="left">Zadání</h3>
                    <div class="flex-spacer"></div>
                    <ul class="right options">
                        <li>
                            <a class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="filter-tests" >
                                <i class="material-icons">filter_list</i>
                            </a>
                            <ul id='filter-tests' class="dropdown-content">
                                <li><a href="#" class="waves-effect waves-dark">Option 1</a></li>
                                <li><a href="#" class="waves-effect waves-dark">Option 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </header>
            </div>
        </div>
        <div class="row">
            {foreach $tests as $test}
            <div class="col l3 m6 s12">
                <div class="card card-test-preview">
                    <div class="card-content">
                        <div class="test-range">{$test->questionsCount}</div>
                        <h4 class="truncate">{$test->name}</h4>
                        <div class="info">{$test->questionsCount} otázek | GRW</div>
                        <div class="date">Vytvořeno {$test->created->format("j. n.")}</div>
                        <div class="options">
                            <a href="{link setupTest! 'testId'=>$test->id}" data-show-popup-after="#test-setup" class="ajax btn gray no-shadow truncate">Použít zadání</a>							
                            <a class="btn-flat btn-icon outline dropdown-trigger waves-effect waves-dark" data-target="more-choices-{$test->id}">
                                <i class="material-icons">more_horiz</i>
                            </a>
                            <ul id='more-choices-{$test->id}' class="dropdown-content">
                                <li><a href="{plink Tests:editor id=>$test->id}" class="waves-effect waves-dark">Upravit</a></li>
                                <li><a href="{plink Tests:start id=>$test->id}" class="waves-effect waves-dark">Spustit</a></li>
                                <li><a href="#" class="waves-effect waves-dark">Smazat</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
    {/if}
</section>
<div id="test-setup" class="modal modal-small">
    {control testSetup}
</div>
