{*includeblock '_blocks.latte'*}
{block content}
{control topPanel}

<div class="container main two-level-nav">
    <div class="row">
        <div class="col s12 l8" id="stream">
            {control stream}
        </div>
        
 

        <div class="col s12 l4">
            <div class="card flex-column">
                <div class="card-header">
                    <h3>Povinnosti</h3>
                </div>
                <div class="card-content">
                    {if !empty($actualTasks)}
                    <ul class="custom-collection" n:if="!empty($actualTasks)">
                        {foreach $actualTasks as $task}
                        <li>
                            <a href="{plink Group:message 'id'=>$task->group->urlId, 'idMessage'=>$task->idMessage}" class="item">
                                <div class="subtitle truncate">{$task->title}</div>
                                <div class="flex-spacer"></div>
                                {if $task->timeLeft->y > 0}
                                    <div class="remaining-time">{$task->timeLeft->format('%y let')}</div>
                                {elseif $task->timeLeft->m > 0}
                                    <div class="remaining-time">{$task->timeLeft->format('%m měsíců')}</div>
                                {elseif $task->timeLeft->d > 0}
                                    <div class="remaining-time">{$task->timeLeft->format('%d dní')}</div>
                                {elseif $task->timeLeft->h > 0}
                                    <div class="remaining-time important">{$task->timeLeft->format('%h hodin')}</div>
                                {elseif $task->timeLeft->i > 0}
                                    <div class="remaining-time important">{$task->timeLeft->format('%i minut')}</div>
                                {/if}       
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                    {else}
                    <p class="secondary-par">V tuto chvíli nemáte v předmětu zvěřejněny žádné povinnosti</p>  
                    {/if}
                </div>
                <div class="card-footer"></div>
            </div>
            <div class="card flex-column">
                <div class="card-header">
                    <h3>Známky</h3>
                </div>
                <div class="card-content">
                    <p class="secondary-par">Poslední změna <strong>23. 6. 22:30</strong></p>
                </div>
                <div class="card-footer">
                    <a href="{link :Front:Homepage:classification}" class="btn-flat colored card-bottom">
                        Zobrazit
                    </a>
                </div>
            </div>


            <div class="card flex-column">
                <div class="card-header">
                    <h3>Filtrovat příspěvky</h3>
                </div>
                <div class="card-content">
                    <p class="secondary-par">Zobrazit pouze následující položky</p>
                    <form class="checkbox-form-block">
                        <div class="form-row">
                            <input type="checkbox" class="filled-in" id="opt1" checked="checked" />
                            <label for="opt1">Všechny příspěvky</label>
                        </div>
                        <div class="form-row">
                            <input type="checkbox" class="filled-in" id="opt2" />
                            <label for="opt2">Oznámení</label>
                        </div>
                        <div class="form-row">
                            <input type="checkbox" class="filled-in" id="opt3" />
                            <label for="opt3">Studijní materiály</label>
                        </div>
                        <div class="form-row">
                            <input type="checkbox" class="filled-in" id="opt4" />
                            <label for="opt4">Povinnosti</label>
                        </div>
                    </form>
                </div>
                
            </div>
            
            <div class="card flex-column" n:if="$groupPermission['showDeleted']">
                <div class="card-header">
                    <h3>Výpis příspěvků</h3>
                </div>
                <div class="card-content clearfix">
                    {form streamSettingsForm id=>"streamSettingsForm"}
                    <div class="switch-row">
                        <p class="secondary-par left">Zobrazit smazané položky</p>
                        <div class="switch right">
                            <label>
                                {input showDeleted:}
                                <span class="lever"></span>
                            </label>
                        </div> 
                    </div>
                    {/form}
                    <script>
                    $(document).ready(function () {
                        $("#streamSettingsForm input[type='checkbox']").on('change', function () {
                            $("#streamSettingsForm").submit();
                        });
                    });
                    </script>
                </div>
                <div class="card-footer"></div>
            </div>

            {*
            {if $activeGroup->owner->id === $activeUser->id}
            <div class="card flex-column bottom-spacer" n:if="$groupPermission['settings']">
                <div class="card-header">
                    <h3>Sdílení</h3>
                </div>
                {snippet sharingFormWrap}

                <div class="card-content clearfix">
                    {form sharingForm id=>"sharingForm"}
                    <div class="switch-row">
                        <p class="secondary-par left">
                            {if $activeGroup->shareByLink == 1}
                            Vypnout sdílení odkazem
                            {else}
                            Zapnout sdílení odkazem
                            {/if}
                            <div class="switch right">
                                <label>
                                    {input shareByLink:}
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </p>
                    </div>
                    <div class="switch-row">
                        <p class="secondary-par left">
                            {if $activeGroup->shareByCode == 1}
                            Vypnout sdílení kódem
                            {else}
                            Zapnout sdílení kódem
                            {/if}
                            <div class="switch right">
                                <label>
                                    {input shareByCode:}
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </p>
                    </div>
                    {/form}
                    <p class="secondary-par left">Zápis do této skupiny mohou ostatní uživatelé provést pomocí kódu <strong>{$activeGroup->interCode}</strong>
                    {if $activeGroup->shareByLink == 1} nebo odkazem <strong>{link //:Public:Action:default, id => $activeGroup->publicCode}</strong>{/if}                    
                    </p>
                    <a class="btn-flat light-gray card-bottom modal-trigger" href="#add-user-to-group">
                        Přidat uživatele
                    </a>

                    <!-- Modal -->
                    <div id="add-user-to-group" class="modal">
                        <div class="modal-content">
                            <h3>Sdílení</h3>
                            <p>
                                <form action="{link addToGroup!}" method="post" >
                                    <div class="row form-row">
                                        <div class="input-field col s12">
                                            <input type="text" value="{link //:Public:Action:default, id => $activeGroup->publicCode}" >
                                            <label for="autocomplete-input">Odkaz ke sdílení</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input name="userName" type="text" id="userSearch" class="autocomplete">
                                            <label for="userSearch">Vyhledat uživatele</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="submit" value="Vložit">
                                        </div>
                                    </div>
                                </form>
                            </p> 
                        </div>
                    </div>  
                </div>
                <script>
                    $(document).ready(function () {
                        $("#sharingForm input[type='checkbox']").on('change', function () {
                            $("#sharingForm").submit();
                        });
                    });
                </script>

                {/snippet}
            </div>
            {/if}
            *}
            
        </div>
        

    </div>
    <div id="commit-task-modal" class="modal modal-small">
        {snippet commitTaskForm}
            {control commitTaskForm}
        {/snippet}
    </div>
</div>

<script>
    /*var idSession = null;
    (function () {
        if (idSession === null) {
            var link = {link checkNews!};
        } else {
            var link = {link checkNews!} + '&idSession=' + idSession;
            ;
        }

        $.getJSON(link, function (data) {
            idSession = data.idSession;
            if (data.news > 0) {
                $.nette.ajax({
                    url: {link redrawNews!},
                    method: 'GET'
                });
            }
        });
        setTimeout(arguments.callee, 5000);
    })();*/
</script>




