{includeblock '_blocks.latte'}
{block content}
{control topPanel}
<section class="main two-level-nav">
    
</section>
<div class="container offset-2">
    <div class="row">
        <div class="col s12">
            {control stream}
        </div>
    </div>
</div>

