{block content}
{control topPanel}
<section class="main two-level-nav settings">
    <div class="container">
        {control groupSettingsForm}
    </div>
</section>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });

</script>




