<section class="main" id="noticeboard">
    <div class="container profile-header">
        <div class="row">
            <div class="col s12">
                <div class="card" {if $activeUser->backgroundImage}style="background-image: url('{$activeUser->backgroundImage}')"{/if}>
                    <div class="profile-cover">                       
                    </div>
                    <div class="profile-navbar">
                        <div class="avatar">
                            <img src="{$activeUser->profileImage}" alt="{$activeUser->name} {$activeUser->surname}">
                        </div>
                        <div class="profile-title">
                            {$activeUser->name} {$activeUser->surname}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    {*<div class="row">
        <div class="col s12">
            <table id="one-day-schedule" class="card">
                <tbody>
                    <tr class="schedule-row">
                        <td class="day-title">
                            <a href="{plink Homepage:timetable}" class="waves-effect waves-light-gray">
                            <span class="title">{date("j. n.")}</span>
                            <span class="name">{$days[date("N")-1]}</span>
                            </a>
                        </td>
                        {for $i = $minHour; $i <= $maxHour; $i++}
                            {var $done = false}
                            {foreach $todaySchedule as $hour}
                                {if $hour->TIME_FROM->format("%H") == $i}
                                <td class="item">
                                    <span class="shortcut">{$hour->SHORTCUT}</span>
                                    <span class="time">{$hour->TIME_FROM->format("%H:%I")}</span>
                                    <span class="time end">({$hour->TIME_TO->format("%H:%I")})</span>
                                    <span class="room">{$hour->ROOM}</span>
                                </td>
                                {var $done = true}
                                {/if}
                            {/foreach}
                            {if !$done}
                                <td class="item"></td>
                            {/if}
                        {/for}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*}
    <div class="row">
        <div class="col s12">
            <header class="section-header">
                <h3 class="left">Připomenutí</h3>
                <div class="flex-spacer"></div>
            </header>
        </div>
    </div>

    <div class="row" id="assignments">
        {snippet actualTasks}
            {if empty($actualTasks)}
            <div class=" col s12">
                <div class="card card-flat empty">
                    <div class="avatar"><i class="material-icons">done</i></div>
                    Pro tuto chvíli máte vše splněno
                </div>
            </div>
            {else}
                {foreach $actualTasks as $task}
                {if $iterator->counter <= 2}
                <div class="col l6 m12 s12">
                    <div class="card flex-column assignment-preview">
                        <div class="assignment-header">
                            {control taskHeader-$task->id}
                        </div>
                            {control taskCard $task}
                    </div>
                </div>
                {/if}
                {/foreach}
                <div n:if="count($actualTasks) > 2" class=" col s12 show-more">
                    <a href="{plink :Front:Homepage:tasks}" class="btn white no-shadow">{count($actualTasks) - 2} další</a>
                </div>
            {/if}
            
        {/snippet}
    </div>

        <div class="row">
            <div class="col s12">
                <header class="section-header">
                    <h3 class="left">Skupiny</h3>
                    <div class="flex-spacer"></div>
                    <ul class="right options">
                        {if !empty($groups->groups)}
                        <li>
                            <a class="btn-flat btn-icon dropdown-trigger waves-effect waves-dark" data-target="add-group" >
                                <i class="material-icons">add</i>
                            </a>
                            <ul id='add-group' class="dropdown-content">
                                <li><a href="#create-group" class="waves-effect waves-dark modal-trigger">Vytvořit skupinu</a></li>
                                <li><a href="#join-group" class="waves-effect waves-dark modal-trigger">Zapsat se do skupiny</a></li>
                            </ul>
                        </li>
                        {/if}
                    </ul>
                </header>
            </div>
        </div>

    <div class="row" id="group-cards">
        {if !empty($groups->groups)}
            {foreach $groups->groups as $group}
            <div class="col l4 m6 s12">
                <a href="{plink Group:default, 'id'=>$group->slug}" class="card">
                    <div class="avatar {$group->colorScheme}">{$group->shortcut|substr:0,1}
                        {if $groups->differentRelations && $group->relation === 'owner'}<div class="admin-mark"></div>{/if}
                    </div>
                    <div class="title">
                        {$group->name}
                        <span>
                            {*$group->owner->name} {$group->owner->surname*}
                        </span>
                    </div>
                </a>
            </div>
            {/foreach}
        {else}
            <div class="col l4 m6 s12">
                <a href="#create-group" class="card card-flat empty waves-effect waves-dark modal-trigger">
                    <div class="avatar"><i class="material-icons">create</i></div>
                    Vytvořit skupinu
                </a>
            </div>
            <div class="col l4 m6 s12">
                <a href="#join-group" class="card card-flat empty waves-effect waves-dark modal-trigger">
                    <div class="avatar"><i class="material-icons">exposure_plus_1</i></div>
                    Zapsat se do skupiny
                </a>
            </div>
        {/if}
    </div>

</div>

</section>
<div class="container">
    <footer id="page-footer">
        <div class="copy"><a href="{plink :Public:Homepage:default}">Zobrazit úvodní stránku</a> | © 2018</div>
        <div id="logo"></div>
    </footer>
</div>

<div id="commit-task-modal" class="modal modal-small">
    {snippet commitTaskForm}
        {control commitTaskForm}
    {/snippet}
</div>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.scrollTo(0, 130);
        }, 100);
    });
</script>