/* CSS */

/* MATERIALIZE */


html {
    background:url("../images/login-backgrounds/1.jpg");
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;  
}

html, body {
    min-height:100%;
    width:100%;
}

body {
    padding-top: 5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:14px;
}

a {
    color: #2979FF;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.flex-spacer {
    flex-grow: 1;
}

.container {
    width:100%;
    max-width:1220px;
    padding:0 32px;
}

@media only screen and (max-width: 600px) {
    .container {
        padding:0 8px;
        max-width: 550px !important;
    }
}

h1 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin: 32px 0 0 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 420px;
    background: #fff;
    margin: auto;
    margin-top:0;
    border-radius:0;
}

.card .card-header {
    padding: 24px;
    padding-bottom: 12px;
}

.card .card-content {
    padding: 24px;
}

.card a.card-footer {
    background-color: #f5f5f5;
    text-align: center;
    box-sizing: content-box;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .87);
    padding: 24px;
}

input[type="text"],
input[type="date"],
input[type="password"] {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 0;
    height: 45px;
    font-size: 14px;
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, .54);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, .54);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, .54);  
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, .54);  
}

.form-row {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 32px;
}

.form-controls {
    display: flex;
    margin-top: 24px;
}

.remember-me {
    margin: 0;
    line-height: 36px;
}

.remember-me label {
    color: rgba(0, 0, 0, .54);
}

.bottom-link {
    text-align: center;
    margin-top:48px;
}

.bottom-link a {
    color: #2979FF;
}
