/* colors */

@color-1: #9c27b0; // purple
@color-2: #2196f3; // blue
@color-3: #607d8b; // blue-gray
@color-4: #009688; // teal
@color-5: #00b852; // green
@color-6: #e91e63; // pink
@color-7: #ffc107; // amber
@color-8: #cddc20; // lime
@color-9: #00bcd4; // cyan


header {
    &.blue-bg {
        .nav-wrapper {
            background-color: #fff;
        }
    }
    &.green-bg {
        .nav-wrapper {
            background-color: #00b852;
        }
    }
    &.yellow-bg {
        .nav-wrapper {
            background-color: #00bfd8;
        }
    }
    &.purple-bg {
        .nav-wrapper {
            background-color: #ffd346;
        }
    }
    &.orange-bg {
        .nav-wrapper {
            background-color: #e1b83d;
        }
    }
}