/* CSS */

/* MATERIALIZE */

body {
    background-color: #efefef;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:14px;
}

a {
    color: #2979FF;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.topped {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 32px 32px 0;
    border-color: transparent #00ab9d transparent transparent;
}

.right-16 {
    margin-right: 16px !important;
}

[type="checkbox"]+label {
    color: rgba(0, 0, 0, .54);
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

[type="checkbox"].black+label {
    color: rgba(0, 0, 0, .87);
}

.checkbox-vertical-align {
    display: flex;
    align-items: center;
}

.progress.loading-data {
    margin: 0;
    position: absolute;
    bottom: -4px;
    background-color: rgba(77, 182, 172, .25);
}

.indeterminate {
    background-color: rgba(0, 171, 157, 1) !important;
}

.material-icons {
    font-size: 22px !important;
}

.material-icons.full-size {
    font-size: 24px !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapsible-card-header {
    padding-bottom: 20px !important;
}

.collapsible-card-header .btn-icon {
    margin-right: 24px;
    color: rgba(0, 0, 0, .54);
    height: 36px;
}

.collapsible-card-header .btn-icon i {
    font-size: 22px !important;
}

.collapsible-card-table-header {
    margin-top: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    display: flex;
    font-size: 13px;
    font-weight: 500;
}

.collapsible-card-table-header [type="checkbox"].filled-in:not(:checked)+label:after {
    border-color: rgba(0, 0, 0, .38);
}

.collapsible.popout {
    margin: 0;
}

.collapsible.popout > li {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin: 0;
}

.collapsible.popout > li.active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.collapsible-header {
    display: flex;
    padding: 20px 24px;
    align-items: center;
    min-height: 1em;
    line-height: 1em;
    border-color: #eaeaea;
}

.collapsible-card-table-header .table-field,
.collapsible-header .table-field,
.collapsible-body .table-field {
    margin-left: 32px;
    width: 15%;
    text-align: right;
}

.collapsible-header.active {
    border-bottom: 1px solid transparent;
}

.collapsible-card-table-header [type="checkbox"]+label,
.collapsible-header [type="checkbox"]+label {
    padding-left: 20px;
    margin-left: 6px;
    margin-right: 26px;
    height: 20px;
    line-height: 20px;
}

.collapsible-header .title {
    font-weight: 500;
}

.collapsible-header .title span {
    text-transform: uppercase;
}

.collapsible-header .grade,
.collapsible-body .grade {
    color: rgba(0, 0, 0, .38);
    font-size: 16px;
    font-weight: 400;
}

.collapsible-header .grade strong,
.collapsible-body .grade strong {
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
}

.collapsible-body {
    background-color: #fff;
    border-color: transparent;
}

.collapsible-body .grades-table {
    padding-left: 24px;
}

.collapsible-body .grades-table .table-row {
    border-top: 1px solid #eaeaea;
    padding: 20px 24px 20px 0;
    display: flex;
    align-items: center;
}

.collapsible-body .grades-table .table-row .edit {
    width: 32px;
    text-align: center;
    margin-right: 20px;
    color: rgba(0, 0, 0, .54);
}

.collapsible-body .grades-table .table-row .title {
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
}

.collapsible-body-footer {
    display: flex;
    padding: 20px 24px;
    margin-top: 24px;
}

.collapsible-body-footer ul {
    display: flex;
}

.collapsible-body-footer ul li {
    margin-right: 12px;
    width: 32px;
    text-align: center;
}

.collapsible-body-footer ul li i {
    color: rgba(0, 0, 0, .54);
}

/* ----- secondary color ----- */

.switch-row {
    display: flex;
    margin-bottom: 24px;
}

.switch-row p {
    flex-grow: 1;
    margin: 0 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #009688;
}

.row {
  margin: 0 -16px !important;
}

.row.same-height {
    display: flex;
    align-items: stretch;
}

.row .col {
    padding: 0 16px;   
}

.row.same-height .col {
    padding: 0 16px;
    display: flex;
    flex-grow: 1;   
}

@media only screen and (max-width: 600px) {
    .row {
        margin: 0 !important;
    }

    .row .col {
        padding: 0;
    }
}

.center-card {
    margin: auto;
    margin-top: 5%;
	width: 400px;
	background-color: rgba(255, 255, 255, 1);
}

@media(max-width: 600px) {
    .center-card {
        width: 100%;
    }
}

.paper-shadow {
	box-shadow: 0 1px 3px  rgba(0, 0, 0, .2); 
}

.center-card .card-header {
	padding: 52px 24px 8px 24px !important;
	font-size: 35px;
	font-weight:300;
	text-align: center;
}

input[type="text"],
input[type="date"],
input[type="password"] {
	border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 0;
    height: 45px;
    font-size: 14px;
}

.center-card .card-content input[type="submit"] {
	font-size: 14px;
}

.center-card .card-content .form-controls {
	margin-top: 16px !important;
	margin-bottom: 0;
}

.center-card .card-footer {
	background-color: #f5f5f5;
	text-align: center;
	box-sizing: content-box;
}

.center-card .card-footer a {
	text-transform: uppercase;
	color: rgba(0, 0, 0, .87);
	line-height: 20px;
}

.center-card .card-footer a i {
	line-height: 20px;
	float: right;
	margin-left: 16px;
}


.card-header, .card-content {
	padding: 24px 24px;
}

.card-footer {
    padding: 0 24px 24px 24px;
}

.card-header {
    padding-bottom: 0px;
}

.remember-me {
	margin:0;
	line-height: 36px;
}

.forgotten-pass {
	text-align: center;
	margin-top:48px;
}

.forgotten-pass a {
	color: #2979FF;
}

.btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn.disabled {
    box-shadow: none;
}

.btn, 
.btn-flat {
    font-weight: 500;
}

.btn {
    padding: 0 1em;
}

.btn-flat {
    box-shadow: none;
    padding: 0;
}

.btn-flat:hover {
    background-color: transparent;
}

.btn i.icon-push,
.btn-flat i.icon-push {
    margin-right:-6px;
}

.btn-label {
    display: block;
    line-height: 36px;
    float: left;
}

.btn-empty {
    padding: 0 1em;
}

.btn-flat.colored {
    color: #2979FF;
}

.card-footer .show-more {
    display: flex;
    align-items: center;
    color: #00897B;
    font-size: 13px;
}

.card-footer .show-more .avatar {
    background-color: transparent;
    border: 1px solid #75bfb8;
    color: inherit;
}

.card-footer .show-more .avatar i {
    color: inherit;
}

.btn-flat.light-gray:hover {
    color: #2979FF;
}

.modal-content {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .modal .modal-content {
        padding: 16px;
    }
}

.modal-content textarea {
    padding: 0;
    padding-bottom: 8px;
    font-size: 14px;
}

.card .list {
    margin-top: 8px;
}

.card .list .row  {
    display: flex;
    margin-bottom: 16px;
}

.card .list .row .label {
    color: rgba(0, 0, 0, .47);
    margin-bottom: 16px;
}

.card .list .row .text {
    font-weight: 400;
}

.lowercase-btn {
    color: #009c8b;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 24px;
    height: 36px;
}

.lowercase-btn i {
    margin-right: 12px;
}

/* ----- Profil ----- */

.profile-header {
    height: 420px;
    background-image: url("../images/media-picture-large.png") !important;
    background-size: cover !important;
    background-position: center !important;
    display: flex !important;
    align-items: flex-end;
    margin-top: -24px !important;
}

.profile-header .profile-cover {
}

.profile-header .profile-navbar {
    display: flex;
    background-color: rgba(29, 29, 29, .54);
    width: 100%;
    padding: 0;
    height: 88px;

}

.profile-header .avatar {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 8px 20px;
    padding: 4px;
    background-color: rgba(29, 29, 29, .16);
}

/* .profile-header .user-img {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 8px;
    margin:0 48px;
    background-color: rgba(29, 29, 29, .16);
    -webkit-transition:  300ms ease-in-out;
    -moz-transition:  300ms ease-in-out;
    -o-transition:  300ms ease-in-out;
    transition:  300ms ease-in-out;
}

.profile-header .user-img:hover {
    background-color: rgba(29, 29, 29, .24);
} */


.profile-header .profile-title {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    line-height: 88px;
    font-weight: 500;
    flex-grow: 1;
}

.profile-header .profile-title span {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, .54);
    text-transform: none;
}

.profile-header .controls {
    margin: 0 24px;
}

.profile-header .controls li {
    float: left;    
}

.profile-header .controls li a {
    display: block;
    margin: 23px 0 23px 12px;
    padding: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition:  300ms ease-in-out;
    -moz-transition:  300ms ease-in-out;
    -o-transition:  300ms ease-in-out;
    transition:  300ms ease-in-out;
}

.profile-header .controls li a:hover {
    background-color: rgba(255, 255, 255, .12);
}

.profile-header .controls i {
    font-size: 24px;
    line-height: 42px;
    height: 42px;
    color: rgba(255, 255, 255, .87);
}

.new-message {
    display: flex !important;
    padding: 20px 24px;
}

.new-message:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.new-message-label {
    color: rgba(0, 0, 0, .47);
    font-size: 16px;
    flex-grow: 1;
    line-height: 40px;
}



/* ----- CHAT ----- */

@media only screen and (max-width: 1366px) {
    #chat-float {
        display: none;
    }
}

.fixed-action-btn {
    z-index: 996;
}

/* ---------------- OLD OLD OLD ----------------- */


.avatar.small {
    height: 36px;
    width: 36px;
    font-size: 16px;
}

.avatar.large {
    height: 48px;
    width: 48px;
}

.clearfix:before,
.clearfix:after {
    display:table;
    content: " ";
}

.clearfix:after {
    clear:both;
}

.container {
    width:100%;
    max-width:1220px;
    padding:0 32px;
}

.container.offset {
    width: 100%;
    max-width: 1022px;
}

@media only screen and (max-width: 600px) {
    .container {
        padding:0 6px;
        max-width: 550px !important;
    }
}



.navbar-fixed {
  position: relative;
  height: 56px;
  z-index: 998;
}

.navbar-fixed nav {
  position: fixed;
}

.navbar-nav {
    margin-right: -6px;
    display: flex;
}

.navbar-nav  > li {
    margin: 0 3px !important;
}

@media only screen and (max-width: 600px) {
    .navbar-nav > li {
        margin: 0 1px !important;  
    }  
}

.navbar-nav > li > a {
    position:relative;
    width: 42px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    margin: 7px 0;
}

.navbar-nav > li > a i {
    line-height: 42px !important;
    height: 42px !important;
}

.navbar-nav > li a:hover {
    background-color: transparent;
}

.navbar-nav > li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 601px) {
  nav, nav, nav a.button-collapse, nav a.button-collapse i {
    height: 70px;
    line-height: 70px;
  }

  .navbar-fixed {
    height: 70px;
  }

  .navbar-nav  > li {
    height: 56px;
    margin: 0 6px;
  }

  .navbar-nav > li > a {
    margin: 14px 0;
  }
}

nav .nav-wrapper i {
    height: auto;
}

ul.dropdown-content.main-nav-dropdown {
    top: 60px !important;
}

.dropdown-content {
    padding: 6px 0 !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    width: 200px !important;
}

.dropdown-content li {
    min-height: inherit;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
    padding: 10px 16px;
    font-weight: 400;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: rgba(0, 0, 0, .03) !important;
}

.dropdown-content li.divider {
    margin: 6px 0;
}

@media only screen and (max-width: 600px) {
    .dropdown-content a {
        padding: 10px 16px !important;
    }
}



.select-wrapper input.select-dropdown {
    margin: 0;
    height: 45px;
    line-height: 16px;
    border-color: rgba(0, 0, 0, .12);
}

.select-wrapper.with-remove .select-dropdown li:last-child {
    margin-top: 12px;
}

.select-wrapper.with-remove .select-dropdown li:last-child span {
    color: rgba(0, 0, 0, .54);
}





/* --------- */

/* KOALA CSS */

p {
    color: rgba(0, 0, 0, .54);
    line-height: 1.5em;
    margin-top: 0;
    margin-top: 16px !important;
}

p:first-child {
    margin-top: 0 !important;
}

p.secondary-par {
    color: rgba(0, 0, 0, .54) !important;
}

strong {
    color: rgba(0, 0, 0, .87);
}

.user-img {
    display: block;
    height: 42px;
    width: 42px;
    margin-right: 16px;
    background-color: #f5f5f5;
    border-radius: 50%;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    margin-right: 16px;
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .user-img {
        margin-right: 10px;
    }
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* --------- */

/* MODAL */

.modal {
    width: calc(100% - 48px);
    max-width: 780px;
}

@media only screen and (max-width: 600px) {
    .modal {
/*        top: 6px !important; */
        width: calc(100% - 24px) !important;
/*        max-height: calc(100% - 12px) !important;  */
    }
}

.modal-header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .modal-header {
        height: 42px;
    }
}

@media only screen and (max-width: 600px) {
    .modal .user-img {
        margin-right: 12px;
    }
}

.modal h4 {
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
    margin: 0;
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    .modal h4 {
        font-size: 16px;
    }
}

.modal .modal-footer {
    display: flex;
    height: auto;
    padding: 0;
}

#create-post-modal {
    max-height: 80%;
}

#create-post-modal textarea {
    min-height: 6em;
}

.term-picker input {
    flex-grow: 1;
    text-align: right;
    width: auto !important;
}

.term-picker input.select-dropdown {
    text-align: left !important;
    width: 100% !important;
    font-size: 14px;
}

#create-post-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0, .12);
    flex-wrap: wrap;
}

.attachments {
    padding: 24px 0 0 0;
    margin: 0;
}


.attachments li {
    display: flex;
    height: 36px;
    width: 100%;
    margin-bottom: 16px;
    line-height: 36px;
}

.attachments li:last-child {
    margin-bottom: 0;
}

.attachments li a.attached-file {
    flex-grow: 1;
    display: flex;
}

.attachments li .attachment-icon {
    height: 36px;
    width: 36px;
    margin-right: 16px;
    border-radius: 50%;
    text-align: center;
}

.attachments li .attachment-icon.unknown {
    background-color: rgba(0, 0, 0, .37);
}

.attachments li .attachment-icon.document {
    background-color: #00a2ff;
}

.attachments li .attachment-icon.spreadsheet {
    background-color: #55bf66;
}

.attachments li .attachment-icon.presentation {
    background-color: #ddaf24;
}

.attachments li .attachment-icon i {
    line-height: 36px;
    color: #fff;
    font-size: 18px !important;
}

.attachments li .attachment-label {
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    flex-grow: 1;
}

/* ----- SELECT POST TYPE ----- */

#select-post-type {
    margin: 0;
}

#select-post-type li {
    height: 48px;
    display: flex;
}

#select-post-type a {
    display: flex;
    color: rgba(0, 0, 0, .54);
}

#select-post-type a:hover {
    color: rgba(0, 0, 0, .87);
}

#select-post-type li i {
    line-height: 48px;
    margin-right: 12px;
    font-size: 24px !important;
}

#select-post-type li .title {
    display: block;
    line-height: 48px;
}

.post-type-icon {
    background-color: #00b852;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- CREATE POST MODAL ATTACHMENTS ----- */

#create-post-modal .modal-content .attachments li .attachment-label .upload-file-progress {
    position: relative;
    margin:16px 0;
}

#create-post-modal .modal-content .attachments li a.remove-attachment {
    height: 36px;
    width: 24px;
    text-align: center;
    margin-left: 32px;
}

#create-post-modal .modal-content .attachments li .remove-attachment i {
    font-size: 20px;
    line-height: 36px;
    color: rgba(0, 0, 0, .47);
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

#create-post-modal .modal-content .attachments li .remove-attachment:hover i {
    color: rgba(0, 0, 0, .87);
}

#create-post-modal .modal-footer .attachments-nav {
    flex-grow: 1;
    padding: 18px 24px;
}

#create-post-modal .modal-footer .attachments-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#create-post-modal .modal-footer .attachments-nav ul li {
    margin-right: 16px;
}

#create-post-modal .modal-footer .attachments-nav ul li i {
    line-height: 36px;
    color: rgba(0, 0, 0, .54);
    font-size: 24px !important;
}

.modal-footer .form-control {
    display: flex;
    padding: 18px 24px;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .modal-footer .form-control {
        padding: 12px 16px;
    }
}

@media only screen and (max-width: 600px) {
    #create-post-modal .modal-footer {
        border-top: 0;
    }

    #create-post-modal .modal-footer .attachments-nav {
        padding: 12px 16px;
    }

    #create-post-modal .modal-footer .form-control {
        border-top: 1px solid rgba(0, 0, 0, .12);
        width: 100%;
    }


}

.modal .modal-footer .btn,
.modal .modal-footer .btn-flat {
    margin: 0;
    margin-left: 24px !important;
}

.modal .modal-footer .modal-footer-help {
    display: flex;
    padding: 18px 24px;
}

@media only screen and (max-width: 600px) {
    .modal .modal-footer .modal-footer-help {
        padding: 12px 16px;
    }
}

.modal .modal-footer .modal-footer-help i {
    line-height: 36px;
    margin-right: 12px;
}

.modal .modal-footer .modal-footer-help .help-label {
    line-height: 36px;
}

textarea.materialize-textarea {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 0;
    padding: 12px 0 !important;
    line-height: 1.5em;
    font-size: 14px;
    min-height: 45px !important;
}

.no-border {
    border-color: transparent !important;
}

.no-border:focus {
    border-color: transparent !important;
  -webkit-box-shadow: none  !important; 
  -moz-box-shadow: none  !important;
  box-shadow: none  !important;
}

.modal .materialize-textarea {
    padding-top: 0;
}

.modal .submit-control {
    line-height: 3em;
}


/* --------- */

/* NAVIGATION HEADER */

.main-nav > nav > .nav-wrapper {
    background-color: #2196f3; 
    padding: 0 16px;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .main-nav > nav > .nav-wrapper {
        padding: 0 12px;
    }
}

.main-nav i.mdi-navigation-menu,
.main-nav i.material-icons {
    font-size: 24px !important; 
}

.slide-out-toggle {
    padding: 0 8px;
    text-align: center;
}

.nav-title {
    margin-left:16px;
    font-size:18px;
    flex-grow: 1;
}

@media only screen and (max-width: 600px) { 
    .nav-title {
        font-size: 16px;
        margin-left: 8px;
    }
}

.nav-badge {
    display: block;
    position:absolute;
    top:50%;
    left:50%;
    font-size:10px;
    font-weight:500;
    line-height:20px;
    min-width:20px;
    text-align:center;
    border-radius:10px;
    margin-top:-18px;
    margin-left:2px;
    padding:0px;
    background-color:#FF5252;
}

.main {
    margin-top: 24px;
}

@media only screen and (max-width: 600px) { 
    .main {
        margin-top: 16px;
    }
}

.main.after-header {
    margin-top: 32px;
}

/* ---------- */

/* SECTION HEADER */

.section-header  {   
    padding: 0px 24px;
    height: 36px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) { 
    .section-header {
        padding: 0 16px;
    }
}

.section-header i {
    font-size: 22px !important;
}

.back-to-stream {
    color: rgba(0, 0, 0, .54);
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
}

.back-to-stream i {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .08);
}

.back-to-stream:hover i {
    color: rgba(0, 0, 0, .87);
}

.section-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 1em;
    color: rgba(0, 0, 0, .54);   
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) { 
    .section-header h3 {
        font-size: 14px;
    }
}

.section-header ul {
    margin: 0;
    line-height: 36px;
}

.section-header .options > li {
    margin-left: 6px;
    display: inline;
}

@media only screen and (max-width: 600px) {
    .section-header .options > li {
        margin-left: 1px;
    }
}

.section-header .btn-icon {
    width:36px;
    padding:0;
    text-align:center;
    border-radius:50%;
    color: rgba(0, 0, 0, .54);
    background-color: rgba(0, 0, 0, .0); 
    -webkit-transition:  300ms ease-in-out;
    -moz-transition:  300ms ease-in-out;
    -o-transition:  300ms ease-in-out;
    transition:  300ms ease-in-out;
}

.section-header .btn-icon:hover {
    background-color: rgba(0, 0, 0, .08);  
    color: rgba(0, 0, 0, .87); 
}

/* ---------- */

/* ----- DROPDOWN ---- */

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, .03);
}

.dropdown-content .divider.divider-after {
    margin-bottom: 8px;
}

.dropdown-content .divider.divider-before {
    margin-top: 8px;
}

.dropdown-content li.dropdown-header {
    height: 36px;
    min-height: 36px;
    line-height: 36px;
    text-transform: uppercase; 
    font-size: 13px;
    font-weight: 500;
    cursor: auto;
    display: flex;
    padding: 0 16px;
}

.dropdown-content .dropdown-header:hover {
    background-color: transparent !important;
}

.dropdown-content .dropdown-header .title {
    color: rgba(0, 0, 0, .87);
    flex-grow: 1;
}

.dropdown-content .dropdown-header .action i {
    color: rgba(0, 0, 0, .47);
    line-height: 36px;
    display: block;
    cursor: pointer;
}

.dropdown-content .dropdown-header .action:hover i {
    color: rgba(0, 0, 0, .87);
}

.dropdown-content .dropdown-footer {
    text-align: center;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    cursor: auto;
}

.dropdown-content .dropdown-footer:hover {
    background-color: transparent !important;
}

.dropdown-content .dropdown-footer a {
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
    font-size: 12px;
    display: inline;
    padding: 0;
}

.dropdown-content li.dropdown-footer a:hover {
    background-color: transparent;
}

/* ---------- */

/* ----- MAIN NAV DROPDOWN ----- */

.main-nav-dropdown {
    width:350px !important; 
    padding:0;
}

@media only screen and (max-width: 600px) {
    .main-nav-dropdown {
        left: 4px !important;
        width: calc(100% - 8px) !important;
    }
}

.main-nav-dropdown h4 {
    font-size:14px;
    font-weight:500;
    color:rgba(0, 0, 0, .87);
    line-height:20px;
    margin:0;
}

.main-nav-dropdown span {
    display:block;
    font-size:13px;
    color:rgba(0, 0, 0, .54);
    font-weight:400;
}

/* ------------- */

/* ----- SIDEBAR NAVIGATION ----- */

.side-nav li.empty {
    height: 30px !important;
}

.side-nav .side-nav-header {
    position: relative;
    display: block;
    height: 160px;
    width: 100%;
    background-image: url("../images/media-picture-large.png");
    background-size: cover;
    margin-bottom: 12px;
    padding: 20px;
}

.side-nav .side-nav-header .avatar {
    background-color: rgba(29, 29, 29, .16);
    padding: 4px;
    box-sizing: content-box;
    border-radius: 50%;
    margin-left: -4px;
}

.side-nav .side-nav-header .title {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: rgba(29, 29, 29, .54);
    color: #fff;
    padding:0 20px;
    font-size: 14px;
    font-weight: 500;
}

#slide-out li {
    padding:0;
}

#slide-out li a {
    font-size: 14px;
    font-weight: 700;    
    height: 100% !important;
    line-height: 48px !important;
    color: rgba(0, 0, 0, .87);
}

#slide-out i {
    display:block !important;
    float:left;
    line-height:48px;
    color:rgba(0, 0, 0, .54);
    text-align: center;
    width: 30px;
    height:48px;
    margin-right: 16px;
    font-size: 22px !important;
}

#slide-out .collapsible-body i {
    margin-right: 24px;
}

#slide-out > li > a.active,
#slide-out > li > a.active i { 
    color: #2979FF;
}

#slide-out .group-shortcut-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    background-color: rgba(0, 0, 0, .38);
    text-align: center;
    margin: 9px 0px;
    margin-right: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

#slide-out i.show-more {
    float: right;
    font-size: 17px !important;
    margin: 0;
    color: rgba(0, 0, 0, .54);
}


.side-nav a,
.side-nav .collapsible-header {
    padding: 0 16px;
}

.side-nav .collapsible-body {
    padding: 8px 0;
}



.side-nav .collapsible-body li a {
    padding: 0 16px;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, .54) !important;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.side-nav .collapsible-body li a:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, .87) !important;
}

.side-nav .collapsible-body li a.active {
    color: rgba(0, 0, 0, .87) !important;
    font-weight: 500 !important;
}


.side-nav .collapsible-body li a i {
    color: rgba(0, 0, 0, .47) !important;
}

.side-nav .divider {
    margin: 12px 0;
}

.side-nav h4 {
    font-size: 13px;
    color: rgba(0, 0, 0, .47);
    line-height: 48px;
    margin: 0;
    padding:0 20px;
    font-weight: 400;
}

/* ---------- */

/* ----- CARD TEMPLATE ----- */

.card {
    display: flex;
    position:relative;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px  rgba(0, 0, 0, .2); 
    margin-bottom:32px;
    margin-top:0;
    border-radius:0;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .card {
        margin-bottom: 16px;
    }
}

.card.simple {
    display: flex;
    padding: 20px 24px;
}

.card.simple .label {
    flex-grow: 1;
    color: rgba(0, 0, 0, .54);
    line-height: 24px;
}

.card.simple .material-icons {
    color: rgba(0, 0, 0, .38);
    margin-right: 16px;
}

.card.bottom-spacer {
    padding-bottom:16px;
}

.card-header h1,
.card-header h2,
.card-header h3 {
    margin: 0;
    font-weight:500;
    color:rgba(0, 0, 0, .87);  
}

.card-header h2 {
    flex-grow: 1;
    line-height: 28px;
    font-size: 18px;
}

.card-header .card-title {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .card-header h2 {
        font-size: 15px;
        line-height: 36px;
    }
}

.card-header h3 {
    flex-grow: 1;
}

.card-header h3 a {
    color: inherit !important;
}

.card-header .card-date {
    font-size:13px;
    line-height:18px;
    color:rgba(0, 0, 0, .47);
    font-weight:400;
    display:block;
    margin-right: 12px;
}

.card-header h3 {
    font-size:17px;
    line-height: 24px;
}

.card-header .card-options {
    color: rgba(0, 0, 0, .38);
    line-height: 36px;
    padding: 0;
    width: 36px;
    text-align: center;
     -webkit-transition:  300ms ease-in-out;
    -moz-transition:  300ms ease-in-out;
    -o-transition:  300ms ease-in-out;
    transition:  300ms ease-in-out;
}

.card-header .card-options:hover {
    color: rgba(0, 0, 0, 87);
}

@media only screen and (max-width: 600px) {
    .card-header .user-img {
        height: 36px;
        width: 36px;
    }
}


/* ---------- */

/* CREATE POST */

.create-post {
    padding: 20px 24px;
    cursor: pointer;
}

.create-post:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.create-post .create-post-label {
    font-size: 16px;
    color: rgba(0, 0, 0, .47);
    line-height: 42px;
}

@media only screen and (max-width: 600px) {
    .create-post {
        padding: 16px;
    }

    .create-post .create-post-label {
        font-size: 15px;
        line-height: 40px;
    }
}

/* ---------- */

.card .card-content {
    padding: 24px;
}

@media only screen and (max-width: 600px) {
    .card .card-header,
    .card .card-content {
        padding: 16px;
    }
}

.card .card-content-section {
    margin-bottom: 56px;
}

.card .media-container {
    display: block;
}

.card .media-container {
    margin: 24px -22px 8px -22px;
    width: calc(100% + 44px);
}

@media only screen and (max-width: 600px) {
    .card .media-container {
        margin-left: -14px;
        margin-right: -14px;
        width: calc(100% + 28px);
    }
}

.card .media-container .img-full-size {
    display:block;
    clear:both;
    margin: 2px;
    height: 390px;
    width: calc(100% - 4px);
    background-size: cover;
    background-position: center;
}

.card .media-container .img-half-size {
    display:block;
    float:left;
    margin: 2px;
    height: 320px;
    width: calc(50% - 4px);
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 600px) {

}



.card-comments {

}

.comments-header {
    padding: 12px 24px 24px 24px;
    display:flex;
}

@media only screen and (max-width: 600px) {
    .comments-header {
        padding: 0 16px 16px 16px;
    }
}

.comments-header .item {
    height:36px;
    width:36px;
}

.comments-header .avatar.item {
    margin-right:0;
    margin-left:12px;
}

.comments-header .show-comments.item {
    background-color:rgba(0, 0, 0, .06);
    border-radius:50%;
    text-align:center;
}

.comments-header .show-comments.item .material-icons {
    line-height:36px;
    color:rgba(0, 0, 0, .54);
}

.comments-header .comments-count {
    line-height:36px;
    padding:0 8px;
    color:rgba(0, 0, 0, .54);
    font-size:13px;
}

.flex-spacer {
    flex-grow: 1;
}

.comments-content {
    border-bottom:1px solid rgba(0, 0, 0, .1);
    background-color:#f5f5f5;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.comment-row {
    display: flex;
    padding: 16px 24px;
}

@media only screen and (max-width: 600px) {
    .comment-row {
        padding: 12px 16px;
    }
}

.comment-row .comment-content {
    width: calc(100% - 52px);
    float: left;
}

.comment-row .comment-content .comment-header {
    clear: both;
    width: 100%;
    line-height: 1em;
    margin-bottom: 3px;
    display: flex;
    align-items: baseline;
}

.comment-row .comment-header a {
    margin-right: 6px;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
}

.comment-row .comment-header span {
    color: rgba(0, 0, 0, .38);
    font-size: 12px;
} 

.comment-row .comment-content .comment-text {
    clear: both;
}

.comments-footer {
    background-color:#f5f5f5;
    padding: 20px 24px;
}

.comments-footer form {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .comments-footer {
        padding: 16px;
    }
}

.comments-footer .textarea-wrapper {
    flex-grow: 1;
    align-items: center;
    display: flex;
    margin-right: 16px;
}

.comments-footer textarea.materialize-textarea {
    padding: 0 !important;
    width: 100%;
    float: left;
    min-height:21px !important;
    height: 21px;
    font-size: 14px;
}

.comments-footer button {
    color: rgba(0, 0, 0, .47);
    margin-left: 6px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border-radius: 50%;
    /*background-color: rgba(0, 0, 0, .08);*/
}

.comments-footer button:hover,
.comments-footer button:focus {
    box-shadow: none;
    background-color: transparent;
}

.comments-footer button[type="submit"] {
    background-color: rgba(0, 0, 0, .06);
}

.comments-footer button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, .12);
}

.comments-footer button i {
    font-size: 22px;
}




::-webkit-input-placeholder {
   color: rgba(0, 0, 0, .47);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, .47);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, .47);  
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, .47);  
}


.material-tooltip {
    font-size:13px;
}



/* GROUPS */

#group-cards .card {
    padding: 20px 24px;
    display: flex;
    align-items: center;
}



#group-cards .card .title {
    font-size:14px;
    line-height:21px;
    font-weight:500;
    color: rgba(0, 0, 0, .87);
}

#group-cards .card .title span {
    display: block;
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

#group-cards .group-users {
    display: block;
    color: rgba(255, 255, 255, 1);
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgba(0, 0, 0, .07);
    font-size:14px;
    height:48px;
    line-height:48px;
    width:100%;
    padding:0 24px;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

#group-cards .group-users:hover {
    background-color:rgba(0, 0, 0, .12);
}

#group-cards .group-founder {
    padding:24px;
    height:112px;
}

#group-cards .group-founder .user-img {   
    margin:0px 16px 12px 0;
    float:left;
}

#group-cards .group-founder .user-info {
    float:left;
}

#group-cards .group-founder .user-name {
    display: block;
    font-size:16px;
    line-height:28px;
    font-weight:500;  
    color:rgba(0, 0, 0, .87);
}

#group-cards .group-founder .user-role {
    display: block;
    font-weight:400;
    font-size:13px;
    color:rgba(0, 0, 0, .54);
    line-height:13px;
}

#group-cards .group-activity {
    padding:24px;
    font-size:14px;
    line-height:14px;
    color:rgba(0, 0, 0, .54);
}

@media(max-width:1220px) {
    #group-cards .m6 {
        width:33.333%;
    }
}

@media(max-width:992px) {
    #group-cards .m6 {
        width:50%;
    }
}

@media(max-width:600px) {
    #group-cards .m6 {
        width:100%;
    }
}

.section-header .options {
}

@media only screen and (max-width: 600px) {
    .section-header .options {
        margin-right: -6px;
    }
}

.modal-small {
    width: 360px;
}

.modal h3 {
    margin: 0;
    font-size: 20px;
    line-height: 1.7em;
    font-weight: 500;
    margin-bottom: 24px;
}

.modal p {
    color: rgba(0, 0, 0, .54);
}

.group-color-select {
    display: flex;
    width: 100%;
    margin: 8px 0;
}

.group-color-select i {
    display: block;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    padding-left: 1px;
    margin-right: 8px;
    color: #fff;
    cursor: pointer;
}

.group-color-select i.active:after {
    content: "check";
    line-height: 26px;
    text-align: center;
}

.group-color-select i.green-bg {
    background-color: #55bf66;
}

.group-color-select i.yellow-bg {
    background-color: #66ff00;
}

.group-color-select i.blue-bg {
    background-color: #00a2ff;
}

.group-color-select i.purple-bg {
    background-color: #ff2b71;
}

.group-color-select i.orange-bg {
    background-color: #e1b83d;
}

.group-link {
    padding: 16px;
    background-color: #f5f5f5;
    margin-bottom: 24px;
}

/* ----- EMPTY MESSAGE ----- */

.empty-card .user-img {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
}

.empty-card .empty-line {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, .1);
    margin-bottom: 18px;
    margin-top: 9px;
}

.empty-card .card-content {
    margin: 8px 0 40px 0;
}

.empty-card .comments-footer {
    height: 72px;
}

.custom-collection {
    margin: 32px 0;
}

.custom-collection:last-child {
    margin-bottom: 8px;
}

.custom-collection li {
    margin: 16px 0;
    display: flex;
}

.custom-collection li .item {
    display: flex;
    align-items: center;
}

.custom-collection li .item {
    flex-grow: 1;
    min-height: 36px;
    padding-right: 16px;
}

.custom-collection li .item.note {
    color: rgba(0, 0, 0, .54);
    font-style: italic;
}

.custom-collection li .title {
    flex-grow: 1;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
}

.custom-collection li .title span {
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
    font-style: italic;
    margin-left: 16px;
}

.custom-collection li a .material-icons {
    color: rgba(0, 0, 0, .38);
    font-size: 18px !important
}

.custom-collection .remaining-time {
    color: rgba(0, 0, 0, .54);
}

.custom-collection .btn-icon {
    display: flex;
    align-items: center;;
}

.custom-collection .remaining-time.important {
    color: #FF5252;
    font-weight: 700;    
}

.form-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
    min-height: 32px;
}

.form-row.right {
    justify-content: right;
}

.form-row.flex-top {
    align-items: flex-start;
}

.form-row p {
    max-width: 360px;
    flex-grow: 1;
}

.form-row .label {
    font-weight: 500;
    line-height: 1em;
}

.form-row .inner-label {
    margin: 0 16px 0 32px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.form-row.term-picker .label {
    display: flex;
    align-items: center;
    flex-grow: 1;
}


.card.settings .card-content h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 16px;
    line-height: 32px;
}

.card.settings .form-row .icon-label {
    width: 24px;
    margin-right: 16px;
    font-size: 24px !important;
    color: rgba(0, 0, 0, .38);
    line-height: 45px;
}

.card.settings .form-row .hint {
    width: 240px;
    margin-right: 24px;
    font-weight: 500;
}

.card.settings .form-row .input-flex {
    flex-grow: 1;
    line-height: 0;
}

.card.settings .form-row .input-flex.thin {
    max-width: 680px;
}

.card-settings .form-row .input-flex input[type="text"] {
    width: 100%;
}

.form-row .notice {
    margin-left: 16px;
    color: rgba(0, 0, 0, .54);
}

.add-line {
    display: flex;
    align-items: center;
}

.add-line i {
    margin-right: 12px;
}

.card.settings .card-footer {
    padding: 24px;
    display: flex;
    align-items: center;
}

.card.settings .custom-collection li:first-child {
    margin-top: 20px;
}

.card.settings .custom-collection li .item {
    max-width: 360px;
}

.card.settings .custom-collection li .material-icons {
    font-size: 24px !important;
}

#layout-footer {
    text-align: center;
    padding: 36px;
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
}

/* SCHEDULE */

#one-day-schedule {
    display: flex;
    align-items: stretch;
}

#one-day-schedule .day-title {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    padding-right: 0;
    background-color: #f5f5f5;
    min-width: 114px;
}

#one-day-schedule .day-title .title {
    display: block;
    font-size: 35px;
    line-height: 1em;
    font-weight: 300;
    color: rgba(0, 0, 0, .54);
}

#one-day-schedule .day-title .name {
    display: block;
    font-size: 14px; 
    line-height: 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, .54);
    margin-top: 12px;
}

#one-day-schedule .day-title-spacer {
    background-color: #f5f5f5;
    margin-right: 8px;
}

#one-day-schedule .item {
    padding: 20px 4px;
}

#one-day-schedule .item.filled {
    width: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#one-day-schedule .item.empty {
    flex-grow: 1;
    max-width: 72px;
    min-width: 8px;
}

#one-day-schedule .item .shortcut {
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px;
}

#one-day-schedule .item .time {
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    font-weight: 500; 
    text-align: center;  
    line-height: 18px;
}

#one-day-schedule .item .time.end {
    font-weight: 400;
}

#one-day-schedule .item .room {
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
    line-height: 18px;
}


