// AMBER THEME
@primary-color: #ffc107;
@accent-color: #607D8B;
@text-color: rgba(0, 0, 0, .87);
@text-color-fade: rgba(0, 0, 0, .54);
@right-nav-text-color: rgba(0, 0, 0, .7);
@import (less) "theme-template.less";


