// AMBER THEME
@primary-color: #ffc107;
@accent-color: #455A64;
@accent-color-text: #fff;
@text-color: rgba(0, 0, 0, .87);
@text-color-fade: rgba(0, 0, 0, .5);
@right-nav-text-color: rgba(0, 0, 0, .7);
@import (less) "theme-template.less";


