// CYAN THEME
@primary-color: #00bcd4;
@accent-color: #FFC107;
@accent-text-color: #fff;
@text-color: #fff;
@text-color-fade: #fff;
@right-nav-text-color: #fff;
@import (less) "theme-template.less";


