{block content}
{control topPanel}

<section class="main" id="test-content">
    
    <div class="container offset-1">
        <div class="row">
            <div class="col s12">
                <header id="display-test-header" class="section-header">
                    <h3>Petr Šavelka</h3>
                    <p>Správně zodpovězeno: <strong>3 z 5 otázek</strong></p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col s12">

            	<div class="card question">
            		<div class="card-header">
            			Otázka 1
            		</div>
            		<div class="card-content">
            			<h3>Obecně platí, že ...</h3>
            			<div class="answer-block">
            				<div class="answer-row wrong">
            					<div class="status">
            						<i class="material-icons">clear</i>
            					</div>
            					<p>fialová barva má největší vlnovou délku z celého světelného spektra.</p>
            				</div>
            				<div class="answer-row correction">
            					<div class="status">
            						<i class="material-icons">done</i>
            					</div>
            					<p>fialová barva má největší vlnovou délku z celého světelného spektra.</p>
            				</div>
            				<div class="answer-row">
            					<div class="status"></div>
            					<p>fialová barva má největší vlnovou délku z celého světelného spektra.</p>
            				</div>
            			</div>
            		</div>
            	</div>

            	<div class="card question">
            		<div class="card-header">
            			Otázka 2
            		</div>
            		<div class="card-content">
            			<h3>Obecně platí, že ...</h3>
            			<div class="answer-block">
            				<div class="answer-row">
            					<div class="status">
            						<i class="material-icons"></i>
            					</div>
            					<p>fialová barva má největší vlnovou délku z celého světelného spektra.</p>
            				</div>
            				<div class="answer-row correct">
            					<div class="status">
            						<i class="material-icons">done</i>
            					</div>
            					<p>fialová barva má největší vlnovou délku z celého světelného spektra.</p>
            				</div>
            				<div class="answer-row">
            					<div class="status"></div>
            					<p>fialová barva má největší vlnovou délku z celého světelného spektra.</p>
            				</div>
            			</div>
            		</div>
            	</div>

            </div>
        </div>
    </div>
</section>